.movie-card-giant {
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
}

.movie-card-giant .thumb {
    width: 100%;
    aspect-ratio: 2;
    margin-bottom: -300px;
    justify-content: flex-start;
    align-items: flex-end;
    -webkit-mask: linear-gradient(#000000, #00000000);
    mask: linear-gradient(#000000, #00000000);
    transition: all 0.5s;
}

.movie-card-giant .textbox {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 var(--side-pad-media);
    align-items: flex-start;
    color: white;
}


.movie-card-giant .textbox .name {
    font-size: 40px;
    font-weight: 600;
}

.movie-card-giant .textbox .desc {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 5px;
    text-transform: capitalize;
}

.movie-card-giant .play-tray {
    width: 100%;
    padding: 0 var(--side-pad-media);
    margin-top: 10px;

    display: grid;
    justify-content: flex-start;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 10px;
}

.movie-card-giant .play-tray a {
    padding: 7px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    box-shadow: 0 4px 8px var(--black-20);
}

.movie-card-giant .play-tray a.play {
    background-color: white;
    color: var(--dark-layer-1);
    fill: var(--dark-layer-1);
    cursor: pointer;
}

.movie-card-giant .play-tray a.more {
    color: white;
    fill: white;
    cursor: default;
    background-color: var(--white-10);
    transition: all 0.15s;
}

.movie-card-giant .play-tray a.more:hover {
    background-color: var(--white-20);
}

.movie-card-giant .play-tray a .icon {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.movie-card-giant .play-tray a p {
    font-size: 12px;
    font-weight: 500;
    margin-right: 3px;
}