.movie-data {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 500;

    color: white;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    background-color: var(--white-20);
    box-shadow: 0 0 5px 0px var(--black-20);
    cursor: default;

    z-index: 1;
}

