#tv-modal{
    --side: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    overflow-y: scroll;
    align-items: flex-start;

    pointer-events: none;
    opacity: 0;
}
#tv-modal.open{
    pointer-events: initial;
    opacity: 1;
}
#tv-modal .close{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--black-50);
}




.tv-detail-card{
    /* min-height: 100%; */
    width: min(1100px,100vw);
    flex-direction: column;
    /* color: #fff; */
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 0;
    box-shadow: 0 8px 24px 0px var(--black-30);
}
@media(max-width: 450px) {
    .tv-detail-card {
        margin: 0;
        min-height: 100%;
    }
}
.tv-detail-card .close-tv-modal{
    position: absolute;
    top: 20px;
    right: 20px;

    height: 25px;
    width: 25px;
    border-radius: 100px;

    background-color: var(--white-20);
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
}
@media(max-width: 450px) {
    .tv-detail-card .close-tv-modal{
        top: 50px;
    }
}

.tv-detail-card .close-tv-modal .icon{
    height: 90%;
    width: 90%;
    fill: white;
}


.tv-detail-card .bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: saturate(2) brightness(0.5);
}
.tv-detail-card .tall-thumb, .tv-detail-card .wide-thumb {
    flex-direction: column;
}
.tv-detail-card .tall-thumb {
    margin-bottom: min(-100px, 20%);
}


.tv-detail-card .thumb{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.tv-detail-card .grad{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(#00000000,#00000099);
}
.tv-detail-card .tall-thumb .grad{
    filter: brightness(0.5) saturate(2);
}



.tv-detail-card .tv-title-box{
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 20px;
}
.tv-detail-card .tv-title {
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 450px){
    .tv-detail-card .tv-title-box{
        justify-content: center;
    }
    .tv-detail-card .tv-title {
        background-position: bottom center;
    }
    
}



.media-card.movie.big .tv-title-box{
    padding: 10px;
}

.tv-detail-card .tv-title.widest {
    height: 100px;
    width: 100%;
}

.tv-detail-card .tv-title.wide {
    height: 100px;
    width: 90%;
}

.tv-detail-card .tv-title.mid {
    height: 100px;
    width: 80%;
}

.tv-detail-card .tv-title.tall {
    height: 70px;
    width: 60%;
}
.tv-detail-card .tv-title.tallest {
    height: 70px;
    width: 50%;
}





.tv-detail-card .info{
    width: 100%;
    flex-direction: column;
    padding: 15px 20px 0;
    align-items: flex-start;
    color: white;
}

.tv-detail-card .info .name{
    font-size: 24px;
    font-weight: 600;
}
.tv-detail-card .info .play{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 8px 0;
    cursor: pointer;

    border: solid 2px white;
    background-color: white;
    color: var(--dark-layer-1);
    fill: var(--dark-layer-1);
}
.tv-detail-card .info .play .icon{
    height: 14px;
    width: 14px;
    margin-right: 8px;
}


@media(max-width: 450px) {
    .tv-detail-card .info .play{
        width: 100%;
    }
}


.tv-detail-card .info .desc{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    text-transform: capitalize;
}
.tv-detail-card .info .summary{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.movie-detail-app-tray {
    width: calc(100% + (2 * var(--side)));
    margin: 0 -20px;
    padding: 12px var(--side) 15px;
    justify-content: flex-start;
    overflow-x: scroll;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 8px;
}

.movie-detail-app-tray .app{
    padding-left: 5px;
    padding-right: 10px;
    height: 35px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    background-color: var(--white-10);
    color: white;
    fill: white;
}
.movie-detail-app-tray .app.active{
    background-color: var(--white-20);
}

.movie-detail-app-tray .app .icon{
    height: 22px;
    width: 22px;
    margin-right: 2px;
}

.tv-detail-card .extra {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.tv-detail-card .extra .content-tray {
    width: calc(100% + 40px);
}