#layer-modal .widget-card#cal{
    height: 170px;
    width: 375px;
}



.widget-card#cal {
    grid-column: span 2;
    flex-direction: row;
}
.widget-card#cal .side{
    width: 50%;
    flex-shrink: 1;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.event{
    align-self: flex-end;
    align-self: stretch;
    min-height: 20px;
    cursor: default;
}
.event .col-block{
    height: 100%;
    width: 4px;
    margin-right: 3px;
    border-radius: 100px;
    background-color: var(--col);
}
.event .info{
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    /* padding: 5px; */
    padding: 3px 1px;

    border-radius: 3px;
    overflow: hidden;
}
.event .info .bg{
    opacity: 0;
}
.event.started .info{
    padding: 5px;
}
.event.started .info .bg{
    opacity: 0.25;
}
.event.all-day .info .bg{
    opacity: 0;
}
.event .info .textbox{
    height: 100%;
    max-width: calc(100% - 20px);
    flex-direction: column;
    align-items: flex-start;
}
.event.all-day .info{
    padding: 0 2px;
}

.event .info .textbox p{
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.event .info .name{
    font-size: 12px;
    font-weight: 500;
}
.event .info .desc{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
}
.event .info .icon{
    height: 16px;
    width: 16px;
}

.event.future p{
    font-size: 12px;
    font-weight: 500;
}