*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* body{
    background-color: #000;
} */

.main-home{
    width: 100vw;
    padding-left: 240px;
    padding-right: 220px;
    box-sizing: border-box;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    border-radius: 20px;

    transition: 0.5s;
    margin-bottom: 20px;
}
.search{
    display: flex;
    justify-content: left;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s;

    background:#fff;
    padding-left: 20px;
    color: #00000099;
}
.search-icon{
    display: flex;
    margin-right: 10px; 
}
.search-label{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.search:hover{
    color: #4285f4;
    transition: 0.2s;
    opacity: 0.9;
}

.end-item{
    margin-right: 0 !important;
}




.big-button-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 18%;
    height: 70px;
    border-radius: 25px;

    transition: 0.2s;
    margin-right: 2.5%;
    margin-left: 0px;
    margin-bottom: 20px;
}
.big-button{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    border-radius: 25px;
    transition: 0.2s;
    margin: 0px;
}
.big-button-icon{
    fill: #fff;
    margin-right: 8px;
    height: 15px;
    width: 15px;
}
.big-button-label{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
.big-button:hover{
    opacity: 0.75;
    transition: 0.2s;
}



.app-tray{
    height: 100%;
    width: 180px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0;
    background-color: rgba(28, 28, 30, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 35px 10px 0;

}

.app-box{
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    background-color: #1c1c1e;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 0px 20px 15px;
}
.box-label{
    display: block;
    color: #fff;
    font-size: 20px;
}
@media screen and (prefers-color-scheme: light) {
    .search{
        background-color: #f2f2f7;
    }
    .app-box{
        background-color: #f2f2f7;
    }
    .box-label{
        color: #1c1c1e;
    }

    
}


@media(max-width: 1000px){
    .main-home{
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 104px;
        
    }

    .big-button-container{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        width: 48%;

        margin-right: 4%;
        margin-left: 0px;
        margin-bottom: 20px;
        position: initial;
    }

    .end-item-tablet{
        margin-right: 0 !important;
    }
}


@media(max-width: 450px){
    
    .main-home{
        position: absolute;
        top: 100px;
        left: 0;
        background-color:transparent;
        width: 100%;
        height: auto;
        transform: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 95px;
        min-height: 100vh
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
    

        margin: 0 px;

        margin-bottom: 10px;
    }

    .big-button-container{
        margin-bottom: 10px;
    }

    .app-tray{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        top: 0px;
        left: -20px;
        background-color: transparent;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px 20px 0;
    
    }
    .app-box{
        margin-right: 4%;
        width: 48%;
        box-sizing: border-box;
        border-radius: 30px;
    }


    


    .end-item-mobile{
        margin-right: 0 !important;
    }

}