*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #000;
}

.tv-card{
    height: 235px;
    width: 280px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}
.tv-poster{
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    display: block;
}
.tv-gradient{
    display: block;
    position: relative;
    top: 60px;

    width: 280px;
    height: 100px;
}
.tv-title{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 20px;

    background-position: 0 100%;
    background-color: #00000000;
}
.tv-title-wide{
    height:40px;
    width: 150px;
}
.tv-title-mid{
    height: 50px;
    width: 300px;
}
.tv-title-tall{
    height: 60px;
    width: 200px;
}
.tv-description{
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    position: relative;
    left: 20px;
    top: 10px;
}






.tv-link{
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    text-decoration: none;

    color: white;
    font-size: 8px;
    font-weight: 500;
    transition: 0.25s;

}
.tv-link:hover{
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.25s;

}





.fargo-solid{
    background-color: #5d5a66;
}
.fargo-gradient{
    background: linear-gradient(#00000000,#5d5a66);
}
.fargo-poster{
    background-image: url('TV/background/fargo.jpeg');
}
.fargo-title{
    background-image: url('TV/title/fargo.png');
}

.atlanta-solid{
    background-color: #584029;
}
.atlanta-gradient{
    background: linear-gradient(#00000000,#584029);
}
.atlanta-poster{
    background-image: url('TV/background/atlanta.webp');
}
.atlanta-title{
    background-image: url('TV/title/atlanta.png');
}

.snowfall-solid{
    background-color: #503e5b;
}
.snowfall-gradient{
    background: linear-gradient(#00000000,#503e5b);
}
.snowfall-poster{
    background-image: url('TV/background/snowfall.jpeg');
}
.snowfall-title{
    background-image: url('TV/title/snowfall.png');
}

.always-solid{
    background-color: #8d8056;
}
.always-gradient{
    background: linear-gradient(#00000000,#8d8056);
}
.always-poster{
    background-image: url('TV/background/always\ sunny.jpg');
}
.always-title{
    background-image: url('TV/title/always\ sunny.png');
}

.twinpeaks-solid{
    background-color: #b3a58c;
}
.twinpeaks-gradient{
    background: linear-gradient(#00000000,#b3a58c);
}
.twinpeaks-poster{
    background-image: url('TV/background/twin\ peaks.webp');
}
.twinpeaks-title{
    background-image: url('TV/title/twin\ peaks.png');
}

.kim-solid{
    background-color: #776550;
}
.kim-gradient{
    background: linear-gradient(#00000000,#776550);
}
.kim-poster{
    background-image: url('TV/background/kims\ convenience.webp');
}
.kim-title{
    background-image: url('TV/title/twin\ peaks.png');
}

.legion-solid{
    background-color: #523b57;
}
.legion-gradient{
    background: linear-gradient(#00000000,#523b57);
}
.legion-poster{
    background-image: url('TV/background/legion.webp');
}
.legion-title{
    background-image: url('TV/title/legion.png');
}







@media(max-width: 400px){
    .tv-card{
        height: 265px;
    width: 335px;








        margin-left: 20px;
        margin-bottom: 20px;
    }

    .tv-poster{
        height: 190px;
    }
    .tv-gradient{


        top: 40px;
    
        width: 335px;
        height: 150px;
    }
    .tv-description{
        font-size: 12px;
        font-weight: 500;
    }
}
