*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #000;
}

.background{
    background-image: url('TV/poster/legion.webp');
    height: 560px;
    width: 100%;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.tv-fade{
    background: linear-gradient(#00000000,#0a2869);
    transform: translate(0,100%);
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}
.tv-solid{
    width: 100%;
    background: #0a2869;
    height: 800px;
}
.play-button{

    margin: 0 20px;


    font-size: 16px;
    color: #1c1c1e;
    font-weight: 600;
    background: #fff;

    box-shadow: 0 0 30px #00000080;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 50px;
    width: 335px;
    border-radius: 15px;
    transition: 0.2s;
    position: absolute;
    bottom: 0px;
}





.tv-title-image{
    background-image: url('TV/title/legion.png');
}



@media(max-width: 400px){
    
}