#widget-tray {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 170px;
    gap: 35px;
    justify-content: flex-start;
}

@media (max-width: 450px) {
    #widget-tray {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 160px;
        gap: 20px;
        justify-content: flex-start;
    }
}


.widget-card {
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 22px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 15px;
    min-width: 0;
    overflow: hidden;

    scroll-snap-align: start;
}

.widget-card .title {
    font-size: 14px;
    font-weight: 500;

}

.widget-card .sub-title {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
}


.widget-card .data {
    flex-direction: column;
    align-items: flex-start;
}

.widget-card .data .value {
    font-size: 24px;
    font-weight: 500;
}

.widget-card .data .unit {
    font-size: 10px;
    font-weight: 500;
    opacity: 0.6;
    text-transform: uppercase;
}

.widget-card .top-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 22px;
    width: 22px;
    opacity: 0.4;
}


/* to depricate */

#splash #widget-tray .card-item {
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 15px;
    min-width: 0;
    overflow: hidden;
    /* grid-column: 1fr; */
}

#splash #widget-tray .card-item .title {
    font-size: 14px;
    font-weight: 500;
}

#splash #widget-tray .card-item .sub-title {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.75;
    margin: 4px 0;
}




.widget-stack {
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 22px;
    justify-content: flex-start;
    min-width: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    transition: all 0.25s;
    box-shadow: 0 0 0 0px var(--light-layer-3);
}

.widget-stack.scroll {
    background-color: var(--light-layer-3);
    box-shadow: 0 0 0 5px var(--light-layer-3);
    scale: 0.98;
}

@media screen and (prefers-color-scheme: light) {
    .widget-stack {
        box-shadow: 0 0 0 0px var(--dark-layer-3);
    }

    .widget-stack.scroll {
        background-color: var(--dark-layer-3);
        box-shadow: 0 0 0 5px var(--dark-layer-3);
    }
}



/* .widget-stack.scroll >* {
    transition: all 0.25s;
    transform: scale(0.98);
}
.widget-stack >* {
    transition: all 0.25s;
} */