#wallpaper{
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 60px);
    width: 100vw;

    background-image: var(--wp-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;



    /* background-color: red; */
}
@media screen and (prefers-color-scheme: light) {
    #wallpaper{
        background-image: var(--wp-light);
    }
}