.app-card{
    padding: 12px 10px;
    
    border-radius: 14px;
    overflow: hidden;
    
    min-width: 220px;
    cursor: pointer;
}
.app-card.flight{
    background-color: var(--brand-col-dark, var(--brand-col, black));
}
@media screen and (prefers-color-scheme: light) {
    .app-card.flight{
        background-color: var(--brand-col-light, var(--brand-col, black));
    }
}

.app-card .thumb{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px -3px var(--black-50);
}
.app-card .icon{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px -3px var(--black-50);
    
    padding: 5%;
    fill: white;
}
.app-card .logo{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.app-card .textbox{
    flex-grow: 1;
    flex-direction: column;
    padding: 0px 10px;
}
.app-card .textbox p{
    display: block;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.app-card .textbox p.name{
    font-size: 16px;
    font-weight: 500;
}
.app-card .textbox p.desc{
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
}

.app-card .search {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 10px;
    width: 10px;
    opacity: 0;
}

.spotlight-tray .app-card .search {
    opacity: 0.6;
}


/*  */

.app-card-small{
    border-radius: 10px;
    /* overflow: hidden; */
    cursor: pointer;
}
.app-card-small .thumb{
    width: 40px;
    height: 40px;
    border-radius: inherit;
}
.app-card-small .icon{
    width: 40px;
    height: 40px;
    border-radius: inherit;
    padding: 20%;
}
.app-card-small .thumb:hover, .app-card-small.icon:hover {
    box-shadow: 0px 2px 8px -3px var(--black-50);
}

.app-card-small:hover .hover-detail{
    opacity: 1;
}
.app-card-small .hover-detail{
    position: absolute;
    top: calc(100% + 5px);

    padding: 5px 8px;
    border-radius: 5px;

    font-size: 10px;
    font-weight: 500;

    box-shadow: 0 0 5px var(--black-50);
    pointer-events: none;

    transition: inherit;
    opacity: 0;
    white-space: nowrap;
}
@media screen and (prefers-color-scheme: light) {
    .app-card-small .hover-detail{
        box-shadow: 0 0 5px var(--black-30);
    }
}