.app-big{
    flex-direction: column;
    align-items: flex-start;

    height: 100px;
    width: 120px;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    flex-grow: 1;
}
.app-big .icon{
    height: 20px;
    width: 20px;
    fill: white;
}
.app-big p{
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.app-small{
    flex-direction: row;
    /* align-items: flex-start; */

    /* height: 50px; */
    /* width: 120px; */
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
}
.app-small .icon{
    height: 20px;
    width: 20px;
    fill: white;
}
.app-small p{
    font-size: 14px;
    font-weight: 500;
    color: white;
}






.bookmark-tray{
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 0px 15px;
}



/* .bookmark-tray .title{
    width: 100%;
    justify-content: flex-start;
    padding: 0px 25px;

    font-size: 18px;
    font-weight: 500;

    cursor: default;
} */

.bookmark-tray .hscroll{
    padding: 0px 15px;
}


.link{
    align-items: flex-start;
    flex-direction: column;
    height: 65px;
    min-width: 80px;
    padding: 8px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}
.link .bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.25;
}
.link .fg{
    position: absolute;
    --dif: 2px;
    top: var(--dif);
    left: var(--dif);
    height: calc(100% - (2 * var(--dif)));
    width: calc(100% - (2 * var(--dif)));
    border-radius: calc(10px - var(--dif));
    opacity: 0;
}
.link .icon{
    height: 24px;
    width: 24px;

    padding: 6px;
    border-radius: 8px;
    fill: white;
}
.link .text{
    font-size: 12px;
    font-weight: 500;
}



.bookmark-container{
    /* flex-direction: column; */
    /* flex-grow: 1; */
    /* width: 60px; */
}
.bookmark-container .icon:active{
    filter: brightness(0.75);
}

.bookmark-container .icon{
    height: 65px;
    width: 65px;
    padding: 18px;
    border-radius: 12px;
    fill: white;
}
.bookmark-container .icon.white{
    fill: black;
}

.bookmark-container p{
    font-size: 10px;
    font-weight: 400;
    cursor: default;
}


.app-list-tray{
    width: 100%;
    align-items: flex-start;
}

.app-list{
    flex-direction: column;
    width: calc((100% - 140px) / 3);
    border-radius: 10px;
    padding-top: 10px;
    flex-grow: 1;
    overflow: hidden;
}
.app-list .title, .bookmark-tray .title{
    width: 100%;
    justify-content: flex-start;
    padding: 0px 15px;

    font-size: 18px;
    font-weight: 600;

    cursor: default;
}
.app-list .vstack{
    width: 100%;
}

.app-list .item{
    width: calc(100% - 0px);
    justify-content: flex-start;
    padding: 8px 15px;
    /* margin: 0px 0px; */
    /* border-radius: 8px; */
    text-decoration: none;
}
.app-list .item:hover{
    background-color: var(--white-10);
}

.app-list .item .icon{
    height: 28px;
    width: 28px;
    padding: 6px;
    border-radius: 6px;
    fill: white;
}

.app-list .item p{
    font-size: 13px;
    font-weight: 400;
}

.shortcut-tray .subtray{
    width: calc((100% - 20px) / 2);
}

.shortcut{
    align-items: flex-start;
    flex-direction: column;
    height: 110px;
    width: calc((100% - 20px) / 2);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}
.shortcut .icon{
    height: 28px;
    width: 28px;

    padding: 8px;
    border-radius: 20px;
    fill: white;
}
.shortcut .text{
    font-size: 15px;
    font-weight: 500;
}
.shortcut .subtext{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 2px;
}

@media screen and (prefers-color-scheme: light) {
    .app-list .item:hover{
        background-color: var(--black-10);
    }


    .app-list{
        background-color: #fff;
    }
}


@media(max-width: 450px){
    .app-list-tray{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .app-list{
        width: calc(100% - 30px);
    }
    .shortcut-tray{
        flex-direction: column;
    }
    .shortcut-tray .subtray{
        width: 100%;
    }
    .shortcut{
        align-items: flex-start;
        flex-direction: column;
        height: 110px;
        width: calc((100% - 15px) * 0.5);
        padding: 15px;
        border-radius: 10px;
    }
}