body{
    background:#000000;

}


.main-bookmarks{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 240px;
    padding-top: 120px;

    background: none;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1;
}

.bookmarks-bar{
    background: rgba(42, 161, 72, 0.9);
}




.small-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    width: 60px;
    height: 60px;
    border-radius: 25px;

    transition: 0.25s;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.small-button-icon{
    fill: #fff;
    height: 24px;
    width: 24px;
    transition: 0.25s;
}
.small-button:hover{
    transition: 0.25s;
    height: 64px;
    width: 64px;
    margin-left: -2px;
    margin-right: 8px;
    margin-top: -2px;
    margin-bottom: 8px;
    /* border-radius: 30px; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); */
}








.walmart-icon{
    fill: #ffc120 !important;
}


.app-box{
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    background-color: #1c1c1e;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 15px 0px 20px 15px;
}
.box-label{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
}

/* @dark mode */

@media screen and (prefers-color-scheme: light) {
    body{
        background: #fff;
    }
    .app-box{
        background-color: #e5e5ea;
    }
    .box-label{
        color: #1c1c1e;
    }
    
}


@media(max-width: 1000px){
    .main-bookmarks{
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 84px;
        
    }

    .end-item-tablet{
        margin-right: 0 !important;

    }
}


@media(max-width: 450px){
 
    .main-bookmarks{
        position: absolute;
        padding-top: 130px;
        left: 0;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 105px;
        
    }



    .app-box{
        margin-right: 4%;
        width: 48%;
        box-sizing: border-box;
        border-radius: 30px;
    }


    


    .end-item-mobile{
        margin-right: 0 !important;
    }

    
    
}