body{
    background:#000000;
    overflow: hidden;
}


.main-bookmarks{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 240px;
    padding-top: 120px;

    background: none;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 1;
}

.home-bar{
    background: rgba(72, 71, 176, 0.9);
}




.small-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    width: 60px;
    height: 60px;
    border-radius: 25px;

    transition: 0.2s;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.small-button-icon{
    fill: #fff;
    height: 24px;
    width: 24px;
}
.small-button:hover{
    opacity: 0.75;
    transition: 0.2s;
}




.app-box{
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    background-color: #1c1c1e;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 0px 20px 15px;
}
.box-label{
    display: block;
    color: #fff;
    font-size: 20px;
}

/* @dark mode */

@media screen and (prefers-color-scheme: light) {
    .search{
        background-color: #f2f2f7;
    }
    .app-tray{

        background-color: rgba(242, 242, 247,0.9);
    }

    .app-box{
        background-color: #e5e5ea;
    }
    .box-label{
        color: #1c1c1e;
    }
    
}


@media(max-width: 1000px){
    .main-home{
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 104px;
        
    }

    .big-button-container{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        width: 48%;

        margin-right: 4%;
        margin-left: 0px;
        margin-bottom: 20px;
        position: initial;
    }

    .end-item-tablet{
        margin-right: 0 !important;

    }
}


@media(max-width: 450px){
 
    
    
    
    
    /* .wallpaper{
        display: none;
    } */




    .main-home{
        position: absolute;
        top: 120px;
        left: 0;
        background-color:transparent;
        width: 100vw;

        transform: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 95px;
        min-height: 100vh;
        box-sizing: border-box;
        overflow-y: hidden;
        
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
    

        margin-top: 0px;

        margin-bottom: 10px;
    }

    .big-button-container{
        margin-bottom: 10px;
    }

    .app-tray{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        top: 0px;
        left: -20px;
        background-color: transparent;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px 20px 0;
    
    }
    .app-box{
        margin-right: 4%;
        width: 48%;
        box-sizing: border-box;
        border-radius: 30px;
    }


    


    .end-item-mobile{
        margin-right: 0 !important;
    }

    @media screen and (prefers-color-scheme: light) {
        .title-text{
            color: white !important;
        }
    }
    
    
}