.home-gradient{
    background: linear-gradient(to bottom right,#00ffff,#ff00ff) !important;
}
.school-gradient{
    background: linear-gradient(to bottom right,#D7C688,#a39667);
}

.grey-gradient{
    background:linear-gradient(to bottom right,#101010,#1c1c1e);
}
.black-gradient{
    background:linear-gradient(to bottom right,#1A1A1A,#000);
}
.green-gradient{
    background:linear-gradient(to bottom right,#34c759,#207a36);
}
.indigo-gradient{
    background:linear-gradient(to bottom right,#5856d6,#38378a);
}
.orange-gradient{
    background:linear-gradient(to bottom right,#ff9500,#b36800);
}
.red-gradient{
    /* background:linear-gradient(to bottom right,#ff3b30,#b32922); */
    background-color: #ff3b30;
}
.teal-gradient{
    background:linear-gradient(to bottom right,#5ac8fa,#3e8aad);
}
.yellow-gradient{
    /* background:linear-gradient(to bottom right,#ffcc00,#b38f00); */
    background-color: #ffcc00;
}
.white-gradient{
    background:linear-gradient(to bottom right,#fff,#e6e6e6);
}


.black{
    background-color: #000;
}
.white{
    background-color: #fff;
}
.gray1{
    background-color: var(--dark-layer-1);
}
.gray2{
    background-color: var(--dark-layer-2);
}

/* ios colors */

.blue{
    background-color: var(--blue-dark);
}
.blue-fg{
    color: var(--blue-dark);
    fill: var(--blue-dark);
}
.blue-border{
    border-color: var(--blue-dark);
}
.brown{
    background-color: var(--brown-dark);
}
.brown-fg{
    color: var(--brown-dark);
    fill: var(--brown-dark);
}
.brown-border{
    border-color: var(--brown-dark);
}
.cyan{
    background-color: var(--cyan-dark);
}
.green{
    background-color: var(--green-dark);
}
.green-fg{
    color: var(--green-dark);
    fill: var(--green-dark);
}
.green-border{
    border-color: var(--green-dark);
}
.indigo{
    background-color: var(--indigo-dark);
}
.indigo-fg{
    color: var(--indigo-dark);
    fill: var(--indigo-dark);
}
.indigo-border{
    border-color: var(--indigo-dark);
}
.mint{
    background-color: var(--mint-dark);
}
.mint-fg{
    color: var(--mint-dark);
    fill: var(--mint-dark);
}
.mint-border{
    border-color: var(--mint-dark);
}
.orange{
    background-color: var(--orange-dark);
}
.orange-fg{
    color: var(--orange-dark);
    fill: var(--orange-dark);
}
.orange-border{
    border-color: var(--orange-dark);
}
.pink{
    background-color: var(--pink-dark);
}
.pink-fg{
    color: var(--pink-dark);
    fill: var(--pink-dark);
}
.purple{
    background-color: var(--purple-dark);
}
.purple-fg{
    color: var(--purple-dark);
    fill: var(--purple-dark);
}
.red{
    background-color: var(--red-dark);
}
.red-fg{
    color: var(--red-dark);
    fill: var(--red-dark);
}
.red-border{
    border-color: var(--red-dark);
}
.teal{
    background-color: var(--teal-dark);
}
.teal-fg{
    color: var(--teal-dark);
    fill: var(--teal-dark);
}
.teal-border{
    border-color: var(--teal-dark);
}
.yellow{
    background-color: var(--yellow-dark);
}

.primary-fg{
    color: var(--white-100);
    fill: var(--white-100);
}
.secondary-fg{
    color: var(--white-80);
    fill: var(--white-80);
}
.image-border{
    border-style: solid;
    border-width: 0.1px;
    border-color: #333;
}


@media screen and (prefers-color-scheme: light) {
    .blue{
        background-color: var(--blue-light);
    }
    .blue-fg{
        color: var(--blue-light);
        fill: var(--blue-light);
    }
    .blue-border{
        border-color: var(--blue-light);
    }
    .brown{
        background-color: var(--brown-light);
    }
    .brown-fg{
        color: var(--brown-light);
        fill: var(--brown-light);
    }
    .brown-border{
        border-color: var(--brown-light);
    }
    .cyan{
        background-color: var(--cyan-light);
    }
    .green{
        background-color: var(--green-light);
    }
    .green-fg{
        color: var(--green-light);
        fill: var(--green-light);
    }
    .green-border{
        border-color: var(--green-light);
    }
    .indigo{
        background-color: var(--indigo-light);
    }
    .indigo-fg{
        color: var(--indigo-light);
        fill: var(--indigo-light);
    }
    .indigo-border{
        border-color: var(--indigo-light);
    }
    .mint{
        background-color: var(--mint-light);
    }
    .mint-fg{
        color: var(--mint-light);
        fill: var(--mint-light);
    }
    .mint-border{
        border-color: var(--mint-light);
    }
    .orange{
        background-color: var(--orange-light);
    }
    .orange-fg{
        color: var(--orange-light);
        fill: var(--orange-light);
    }
    .orange-border{
        border-color: var(--orange-light);
    }
    .pink{
        background-color: var(--pink-light);
    }
    .pink-fg{
        color: var(--pink-light);
        fill: var(--pink-light);
    }
    .purple{
        background-color: var(--purple-light);
    }
    .purple-fg{
        color: var(--purple-light);
        fill: var(--purple-light);
    }
    .red{
        background-color: var(--red-light);
    }
    .red-fg{
        color: var(--red-light);
        fill: var(--red-light);
    }
    .red-border{
        border-color: var(--red-light);
    }
    .teal{
        background-color: var(--teal-light);
    }
    .teal-fg{
        color: var(--teal-light);
        fill: var(--teal-light);
    }
    .teal-border{
        border-color: var(--teal-light);
    }
    .yellow{
        background-color: var(--yellow-light);
    }
    .primary-bg{
        background-color: var(--white-100);
    }
    .primary-fg{
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }
    .secondary-fg{
        color: var(--dark-layer-1-80);
        fill: var(--dark-layer-1-80);
    }
    .image-border{
        border-color: #ccc;
    }
}















.outlook{
    /* background:linear-gradient(to bottom right,#0271C7,#01467a); */
    background-color: #0271C7;
}
.outlook-blue{
    background:linear-gradient(to bottom right,#7040FF,#4e2db3);
}
.outlook-red{
    background:linear-gradient(to bottom right,#DC3B1B,#8f2611);

}
.onedrive{
    /* background:linear-gradient(to bottom right,#094AB2,#052A66); */
    background-color: #094AB2;
}
.clickup{
    background:linear-gradient(to bottom right,#49ccf9,#7b68ee);
}

.foodpanda{
    background:linear-gradient(to bottom right,#D70E64,#8a0a41);
}
.deliveroo{
    background:linear-gradient(to bottom right,#00CCBC,#008075);
}
.openrice{
    background:linear-gradient(to bottom right,#FFD42F,#b39520);
}
.hulu{
    background:linear-gradient(to bottom right,#040405,#183949);
}
.hulu-green{
    /* background:linear-gradient(to bottom right,#1ce783,#139c57); */
    background-color: #1ce783;
}
.netflix{
    background:linear-gradient(to bottom right,#e50914,#99060d);
}
.youtube{
    /* background:linear-gradient(to bottom right,#f00,#b30000); */
    background-color: #f00;
}
.reelgood{
    /* background:linear-gradient(to bottom right,#00dc89,#008f58); */
    background: #00dc89;
}
.tv-time{
    background: #545454;
}
.pocket{
    /* background:linear-gradient(to bottom right,#EF3D55,#a32a3b); */
    background-color: #EF3D55;
}
.feedly{
    /* background:linear-gradient(to bottom right,#2bb24c,#18662c); */
    background-color: #2bb24c;
}
.twitter{
    /* background:linear-gradient(to bottom right,#1da1f2,#146ea6); */
    background-color: #1da1f2;
}
.clickup-teal{
    background:linear-gradient(to bottom right,#49ccf9,#328fad);
}
.clickup-purple{
    background:linear-gradient(to bottom right,#7b68ee,#5447a1);
}
.google-red{
    /* background:linear-gradient(to bottom right,#ea4335,#9e2f24); */
    background-color: #ea4335;
}
.google-green{
    /* background:linear-gradient(to bottom right,#34a853,#1c5c2d); */
    background-color: #34a853;
}
.google-blue{
    /* background:linear-gradient(to bottom right,#4285f4,#2d5da8); */
    background-color: #4285f4;
}
.google-maps{
    background:linear-gradient(to bottom right,#9BC0F9,#6c86ad);
}
.walmart{
    /* background:linear-gradient(to bottom right,#0070DB,#004a8f); */
    background-color: #0070DB;
}
.amazon{
    /* background:linear-gradient(to bottom right,#1E2631,#4c617d); */
    background-color: #1E2631;
}
.reddit{
    /* background:linear-gradient(to bottom right,#ff4500,#b33000); */
    background-color: #ff4500;
}
.linkedin{
    /* background:linear-gradient(to bottom right,#0c63c3,#073c75); */
    background-color: #0c63c3;
}

.icons8{
    /* background:linear-gradient(to bottom right,#1eb141,#116324); */
    background-color: #1eb141;
}
.flaticon{
    background:linear-gradient(to bottom right,#0E2A47,#1e5794);
}
.duke-energy{
    /* background:linear-gradient(to bottom right,#14BCD9,#005986); */
    background-color: #005986;
}
.slack{
    /* background:linear-gradient(to bottom right,#4A154B,#952a96); */
    background-color: #4A154B;
}
.facebook{
    /* background:linear-gradient(to bottom right,#4267b2,#263b66); */
    background-color: #4267b2;
}
.imdb{
    background: #F5C518;
}
.hbo{
    background:linear-gradient(to bottom right,#991eeb,#5822b4);
}
.prime{
    background:linear-gradient(to bottom right,#00a8e1,#006f94);
}
.whatsapp{
    /* background:linear-gradient(to bottom right,#25d366,#188741); */
    background-color: #25d366;
}
.messenger{
    /* background:linear-gradient(to bottom right,#0084ff,#005cb3); */
    background-color: #0084ff;
}
.apple{
    /* background:linear-gradient(to bottom right,#A2AAAD,#5b5f61); */
    background-color: #A2AAAD;
}
.ivytech{
    background:linear-gradient(to bottom right,#006648,#00b37d);
}
.canvas{
    background:linear-gradient(to bottom right,#e43d30,#b02e25);
}
.spanishdict{
    /* background:linear-gradient(to bottom right,#2571ae,#143e61); */
    background-color: #1b85e5;
}
.disney{
    background:linear-gradient(to bottom right,#113ccf,#0a2682);
}
.snapchat{
    /* background:linear-gradient(to bottom right,#fffc00,#b3b000); */
    background-color: #D9D600;
}
.audible{
    /* background:linear-gradient(to bottom right,#F8991D,#ab6a15); */
    background-color: #F8991D;
}
.podcasts{
    background:linear-gradient(to bottom right,#D56EFD,#842BC1);
}
.books{
    /* background:linear-gradient(to bottom right,#FC880F,#b0600b); */
    background-color: #FC880F;
}
.mstodo{
    background:linear-gradient(to bottom right,#185ABD,#0f3670);
}
.shortcuts{
    /* background:linear-gradient(to bottom right,#1D1F5A,#3539a6); */
    background-color: #1D1F5A;
}
.venmo{
    /* background:linear-gradient(to bottom right,#3d95ce,#275e82); */
    background-color: #3d95ce;
}
.zabank{
    background:linear-gradient(to bottom right,#32CB9D,#208063);
}
.hsbc{
    background:linear-gradient(to bottom right,#db0011,#a8000e);
}
.citi-red{
    background:linear-gradient(to bottom right,#D9261C,#8c1812);
}
.citi-blue{
    /* background:linear-gradient(to bottom right,#003B70,#0065bd); */
    background-color: #003B70;
}
.appstore{
    /* background:linear-gradient(to bottom right,#1AC8FB,#1D70F1); */
    background-color: #1AC8FB;
}
.kmb{
    /* background:linear-gradient(to bottom right,#b83947,#6b212a); */
    background-color: #ED1D24;
}
.citymapper{
    /* background:linear-gradient(to bottom right,#37ab2e,#1e5e19); */
    background-color: #37ab2e;
}
.zoom{
    background:linear-gradient(to bottom right,#2d8cff,#2062b3);
}
.apple-music{
    background:linear-gradient(to bottom right,#FB5C74,#FA233B);
}
.spotify{
    /* background:linear-gradient(to bottom right,#1db954,#126e32); */
    background-color: #1db954;
}
.citybus{
    /* background:linear-gradient(to bottom right,#0060A9,#00345c); */
    background-color: #0060A9;
}
.mtr{
    /* background:linear-gradient(to bottom right,#9C2133,#4f111a); */
    background-color: #9C2133;
}
.lifx{
    background:linear-gradient(to bottom right,#409,#21004d);
}
.hko{
    background: linear-gradient(to bottom right, #0060AD, #003561);
}
.cathay{
    /* background: linear-gradient(to bottom right, #00645A, #00b09e); */
    background: linear-gradient(to bottom right, #00645A, #00645A);
}
.drops{
    background: linear-gradient(135deg, rgb(218, 140, 92) 0%, rgb(130, 44, 138) 50%, rgb(44, 20, 108) 100%);
}
.target{
    background-color: #c00;
}
.brightspace{
    background-color: #E87511;
}
.purdue{
    background-color: #D7C688;
}
.remind{
    background-color: #4886BD;
}
.gradescope{
    background-color: #1C7474;
}
.piazza{
    background-color: #3C7CAC;
}
.piratebay{
    background-color: #906444;
}
.kickass{
    background-color: #3C7CAC;
}
.roku{
    background-color: #6c3c97;
}
.doordash{
    background-color: #FF3008;
}
.onenote{
    background-color: #80397B;
}
.symbolab{
    background-color: #e02443;
}
.duolingo{
    background-color: #58CC02;
}
.rarbg{
    background-color: #3860bb;
}
.ms-word{
    background-color: #185abd;
}




/* MEDIA */

.tv-time-text{
    color: #FBD736 !important;
}
.black-text{
    color: #000 !important;
}
.hulu-solid{
    background: #1ce783;
}



