.budget-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 15px;
    /* cursor: pointer; */
}

.budget-card .spent {
    font-size: 22px;
    font-weight: 300;
    margin: 2px 0;
    font-family: ui-rounded;
}

.budget-card .available {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

.budget-card .chart {
    width: 100%;
    flex-grow: 1;
    padding: 10px 0 5px;
    cursor: pointer;
}

.budget-card .chart .col {
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
}

.budget-card .chart .col p {
    font-size: 10px;
    font-weight: 500;
    opacity: 0.5;
    font-family: ui-rounded;
    text-transform: uppercase;
    width: 12px;
}

.budget-card .chart .col .bar {
    width: 100%;
    flex-grow: 1;
    border-radius: 3px;
    overflow: hidden;
    align-items: flex-end;
    min-height: 50px;
}

.budget-card .chart .col .bar .bar-body {
    width: 100%;
    flex-direction: column;
    border-radius: inherit;
    overflow: hidden;
}

.budget-card .chart .col .bar .bar-body .box {
    width: 100%;
}

.budget-card .icon-tray {
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
}

.budget-card .icon-tray .icon {
    height: 18px;
    width: 18px;
    padding: 4px;
    border-radius: 100px;
    fill: white;
}



/* detail */

.budget-detail {
    height: 500px;
    width: 400px;




}