.calendar-event{
    align-items: flex-start;
    width: calc(100% - 30px);
    /* border-radius: 5px; */
    overflow: hidden;
    scroll-snap-align: start;
    /* background-color: var(--col); */
}
.calendar-event .bg{
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--col);
    opacity: 0.15;
}
.calendar-event .color{
    height: 100%;
    width: 5px;
    border-radius: 100px;
    background-color: var(--col);
}
.calendar-event .vstack{
    padding: 5px;
    align-items: flex-start;
    justify-content: center;
}
.calendar-event .vstack p{
    display: block;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.calendar-event .title{
    font-size: 14px;
    font-weight: 600;
}
.calendar-event .location{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
}
.calendar-event .time{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    text-transform: capitalize;
    margin-top: 2px;
}
.calendar-event .countdown{
    flex-direction: column;
    height: 100%;
    margin-right: 10px;
}
.calendar-event .big{
    font-size: 24px;
    font-weight: 300;
}
.calendar-event .small{
    font-size: 10px;
    font-weight: 400;
}

.calendar-event.now{
    color: white;
}
.calendar-event.now .bg{
    opacity: 1;
    filter: saturate(2) brightness(0.5);
}

@media(max-width: 450px){

    .calendar-event{
        scroll-margin-left: 15px;
    }
}