.layer-0{
    /* background-color: var(--dark-layer-1); */
    background-color: #121212;
}
.layer-1{
    background-color: var(--dark-layer-1);
}
.layer-2{
    background-color: var(--dark-layer-2);
}
.layer-fg{
    background-color: var(--light-layer-0);
}

a{
    color: #fff;
    fill: #fff;
}
a.layer-fg{
    color: var(--dark-layer-1);
    fill: var(--dark-layer-1);
}
@media screen and (prefers-color-scheme: light) {
    .layer-0{
        background-color: var(--light-layer-1);
    }
    .layer-1{
        background-color: var(--light-layer-0);
    }
    .layer-2{
        background-color: var(--light-layer-1);
    }
    .layer-fg{
        background-color: var(--dark-layer-1);
    }

    a{
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }
    a.layer-fg{
        color: var(--light-layer-0);
        fill: var(--light-layer-0);
    }
}


@media(max-width: 450px){
    .layer-0{
        background-color: var(--dark-layer-0);
    }
    .layer-1{
        background-color: var(--dark-layer-1);
    }

    @media screen and (prefers-color-scheme: light) {
        .layer-0{
            background-color: var(--light-layer-1);
        }
        .layer-1{
            background-color: var(--light-layer-0);
        }
    }
}

