.flight-card{
    flex-direction: column;
    width: 300px;
    /* height: 500px; */
    border-radius: 10px;
    overflow: hidden;

    background-color: var(--bgCol);
    color: var(--fgCol);
    fill: var(--fgCol);
}
.flight-card .header{
    padding: 20px;
    /* padding-bottom: 10px; */

}
.flight-card .header .icon{
    height: 30px;
    width: 50px;
    justify-content: flex-start;
}
.flight-card .header .logo{
    height: 20px;
    width: 150px;
    justify-content: flex-end;
}
.flight-card .header svg{
    max-width: 100%;
    width: initial;
}


.flight-card .orgdes{
    width: 100%;
    padding: 0px 20px 20px;
}
.flight-card .orgdes .org,.des{
    flex-direction: column;
    flex-basis: 90px;
    flex-grow: 1;
}
.flight-card .orgdes .city{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
    text-transform: uppercase;
}
.flight-card .orgdes .airport{
    font-size: 30px;
    font-weight: 600;
}
.flight-card .orgdes .time{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}
.flight-card .orgdes .plane{
    height: 30px;
    width: 30px;
}
.flight-card .orgdes .duration{
    font-size: 10px;
    font-weight: 500;

    padding: 2px 5px;
    margin-top: 10px;
    border: solid 1px var(--fgCol);
    border-radius: 100px;
}
.flight-card .org{
    align-items: flex-start;
}
.flight-card .des{
    align-items: flex-end;
}
.flight-card .info{
    padding: 0 20px;
    padding-bottom: 20px;
    width: 100%;
}
.flight-card .info a{
    color: var(--fgCol);
}
.flight-card .info > *{
    align-items: flex-start;
    justify-content: flex-start;
}

.flight-card .info .text{
    font-size: 14px;
    font-weight: 400;
}
.flight-card .info .subtext{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}



.trip-shortcut{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: #222;

    box-shadow: 0px 4px 12px rgba(0,0,0,.08) !important;
    transition: all .3s cubic-bezier(0,0,.5,1);
}
.trip-shortcut:hover{
    box-shadow: 0px 4px 16px rgba(0,0,0,.16) !important;
    transform: scale3d(1.01,1.01,1.01);
}
.trip-shortcut .bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.trip-shortcut .gradient{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;

    background-image: linear-gradient(#00000000,#00000099);
    color: white;
}
.trip-shortcut .gradient .title{
    font-size: 20px;
    font-weight: 600;
}
.trip-shortcut .gradient .subtitle{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}






.text-divider{
    width: 1px;
    height: calc(100% - 8px);
    border-radius: 100px;
    margin: 0px 8px;
    opacity: 0.5;
}










.trip-container{
    flex-direction: column;
    /* width: 100%; */
    border-radius: 10px;
    min-width: max(20vw,500px);
    overflow: hidden;
}
.trip-container .highlight{
    background-color: var(--white-10);
}
.trip-container .main-header{
    width: 100%;
    justify-content: flex-start;
    padding: 15px 20px;
}
.trip-container .main-header .header-textbox{
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.trip-container .main-header .header-textbox .title{
    font-size: 30px;
    font-weight: 700;
}
.trip-container .main-header .header-textbox .subtitle{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.75;
}
.trip-container .main-header .notion{
    height: 30px;
    width: 30px;
    padding: 4px;
    fill: white;
}
.trip-container .section{
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.trip-container .section .subheader{
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}
.trip-container .section .subheader .title{
    width: 100%;
    justify-content: flex-start;
    
    font-size: 24px;
    font-weight: 500;
}
.trip-container .section .subheader .subtitle{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
}

.trip-container .section .time{
    min-width: 55px;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
}
.trip-container .section .time.duration{
    opacity: 0.5;
}



.trip-container .section .flight-container{
    flex-direction: column;
    width: 100%;
}
.trip-container .section .flight-container .airport{
    flex-direction: column;
    width: 100%;
}
.trip-container .section .flight-container .airport .info{
    flex-direction: column;
    align-items: flex-start;
}
.trip-container .section .flight-container .airport .info .name{
    font-size: 18px;
    font-weight: 500;
}
.trip-container .section .flight-container .airport .info .detail{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.4;
}



.trip-container .section .flight-container .flight{
    width: 100%;
}
.trip-container .section .flight-container .flight .main{
    min-width: 200px;
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}
.trip-container .section .flight-container .flight .main .logo{
    height: 32px;
    width: 32px;
    fill: var(--darkCol);
}
.trip-container .section .flight-container .flight .main .info{
    font-size: 14px;
    font-weight: 400;
}
.trip-container .section .flight-container .flight .main .info p{
    width: 100%;
    justify-content: flex-start;
}
.trip-container .section .flight-container .flight .main .info .line1{
    font-weight: 500;
}
.trip-container .section .flight-container .flight .main .info .line2{
    opacity: 0.5;
}


.trip-container .section .transit .main{
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
    padding: 10px;
    border-radius: 8px;
    margin: 40px 0;

    border: solid 1px var(--white-10);
}
.trip-container .section .transit .main .code{
    font-size: 18px;
    font-weight: 600;
}
.trip-container .section .transit .main .info{
    font-size: 12px;
    font-weight: 400;
}

.trip-container .section .flight-container .timeline{
    position: absolute;
    top: 0;
    left: 74px;
    height: calc(100% - 30px);
    margin: 15px 0;
    width: 2px;
}
.trip-container .section .transit .timeline{
    position: absolute;
    top: 0;
    left: 74px;
    height: calc(100% + 30px);
    margin: -15px 0;
    width: 2px;

    background-color: var(--white-20);
}
.trip-container .section .lefticon{
    height: 20px;
    width: 20px;
    border-radius: 100px;

    fill: white;


    padding: 4px;
    margin: 0px 10px;
}
.trip-container .section .flight-container .node{
    /* height: 14px; */
    /* width: 14px; */
    border-radius: 100px;
    margin: 0px 10px;
    /* padding: 5px; */
    /* fill: white; */
    z-index: 1;
}
.trip-container .section .flight-container .node .bg{
    height: 20px;
    width: 20px;
    border-radius: inherit;
}
.trip-container .section .flight-container .node .fg{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 14px;
    width: 14px;
    margin: 3px;
    border-radius: inherit;
}







.aircraft-card{
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
}
.aircraft-card .title{
    width: 100%;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 500;
}
.aircraft-card .image{
    width: 100%;
    aspect-ratio: 5 / 2;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (prefers-color-scheme: light) {
    .trip-shortcut{
        border-color: #ddd;
    }
    .trip-container .highlight{
        background-color: var(--black-10);
    }
    .trip-container .section .transit .main{
        border: solid 1px var(--black-20);
    }
    .trip-container .section .flight-container .flight .main .logo{
        fill: var(--lightCol);
    }
    .trip-container .section .transit .timeline{
        background-color: var(--black-20);
    }
}


@media(max-width: 450px){
    .trip-container{
        min-width: 100vw;
        min-height: 100vh;
        padding-top: 130px;
        justify-content: flex-start;
    }
    .trip-container .main-header{
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 20px;
        padding-top: 65px;
        z-index: 2;
    }
}











.trip-card{
    flex-direction: column;
    width: 100%;
    /* max-width: 345px; */
}
.trip-card .flight{
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}
.trip-card .flight .header{
    width: 100%;
    padding: 15px;
}
.trip-card .flight .header .icon{
    height: 30px;
    width: 30px;
    fill: var(--colDark);
}
.trip-card .flight .header .info{
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.trip-card .flight .header .date{
    opacity: 0.6;
}


.trip-card .flight .footer{
    width: 100%;
    padding: 15px;
}
.trip-card .flight .footer .item{
    /* flex-direction: column; */
    width: calc((100% - 10px) * 0.5);
    /* height: 60px; */
    padding: 10px;
    justify-content: flex-start;

    border: solid 1px var(--white-10);
    border-radius: 5px;
}
.trip-card .flight .footer .item .icon{
    width: 20px;
    height: 20px;
}
.trip-card .flight .footer .item p{
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
}




.trip-card .flight .hline.sub{
    width: calc(100% - 55px);
    margin-left: 55px;
}



.trip-card .flight .airport{
    width: 100%;
    padding: 15px;
    padding-left: 5px;
}
.trip-card .flight .airport .padded{
    padding-left: 50px;
}

.trip-card .flight .airport .small{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}
.trip-card .flight .airport .med{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}
.trip-card .flight .airport .big{
    font-size: 24px;
    font-weight: 600;
}
.trip-card .flight .airport .time{
    font-size: 20px;
    font-weight: 400;
}
.trip-card .flight .airport .gate{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
}
.trip-card .flight .airport .node{
    height: 30px;
    width: 30px;
    margin: 0px 10px;
}
.trip-card .flight .airport .node.up .fg{
    transform: rotate(-45deg);
}
.trip-card .flight .airport .node.down .fg{
    transform: rotate(45deg);
}
.trip-card .flight .airport .node div{
    position: absolute;
    top: 0;
    left: 0;
}
.trip-card .flight .airport .node .bg{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    opacity: 0.4;
}
.trip-card .flight .airport .node .fg{
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 100px;
    fill: white;
}

.trip-card .travel{
    width: 100%;
    padding: 15px;
}
.trip-card .travel .icon{
    height: 24px;
    width: 24px;
    margin: 0px 3px;
    margin-right: calc(2px + 10px);
    /* transform: rotate(90deg); */
}
.trip-card .travel .med{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}


@media screen and (prefers-color-scheme: light) {
    .trip-card .flight .header .icon{
        fill: var(--colLight);
    }
}








/* 
.trip-card .flight .info > p{
    width: 100%;
    justify-content: flex-start;
}
.trip-card .flight .info p.small{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
}
.trip-card .flight .info p.med{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
.trip-card .flight .info p.big{
    font-size: 24px;
    font-weight: 600;
}
.trip-card .flight .info p.time{
    font-size: 16px;
    font-weight: 500;
}

.trip-card .flight .linebox{
    flex-direction: column;
    height: 100%;
    width: 40px;
    margin-right: -40px;
    padding: 20px 0px;
}
.trip-card .flight .info{
    padding-left: 40px;
    flex-direction: column;
    flex-grow: 1;
}
.trip-card .flight .info .overlay{
    width: calc(100% + 40px);
    margin-left: -40px;
}
.trip-card .flight .info .overlay p{
    flex-grow: 1;
    justify-content: flex-start;
}
.trip-card .flight .info .overlay .plane{
    width: 40px;
    height: 40px;
    padding: 10px;
    transform: rotate(90deg);
}
.trip-card .flight .info .overlay .node{
    height: 20px;
    width: 20px;
    margin: 0px 10px;
}
.trip-card .flight .info .overlay .node .bg{
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #ff000066;
}
.trip-card .flight .info .overlay .node .fg{
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: #ff0000;
}

.trip-card .flight .info > p{
    width: 100%;
    justify-content: flex-start;
}
.trip-card .flight .info p.small{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
}
.trip-card .flight .info p.med{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
.trip-card .flight .info p.big{
    font-size: 24px;
    font-weight: 600;
}
.trip-card .flight .info p.time{
    font-size: 16px;
    font-weight: 500;
} */




/* .trip-card .header{
    width: 100%;
}
.trip-card .flight .airline{
    width: 100%;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 500;
}
.trip-card .flight .flight-no{
    width: 100%;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
}
.trip-card .flight .info > .vstack{
    flex-basis: 80px;
}
.trip-card .flight .org{
    align-items: flex-start;
}
.trip-card .flight .des{
    align-items: flex-end;
}

.trip-card .flight .info .city{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
}
.trip-card .flight .info .airport{
    font-size: 30px;
    font-weight: 600;
}
.trip-card .flight .info .terminal{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
}
.trip-card .flight .info .gate{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
} */


/* .trip-card .airline{
    padding-top: 80px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    
    width: 375px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    fill: white;
}
.trip-card .airline .logo{
    width: calc(100% - 175px);
}
.trip-card .airline .logo svg{
    max-height: 30px;
}
.trip-card .content{
    flex-direction: column;
    width: calc(100% - 30px);
    border-radius: 10px;
}

.trip-card .name{
    width: 100%;
    justify-content: flex-start;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}
.trip-card .flight{

} */















.flight-card-old{
    flex-direction: column;
    height: 220px;
    width: 100%;
    border-radius: 15px;
    /* padding-top: 40px;
    padding-bottom: 20px; */
    overflow: hidden;
}

.flight-card-old .bg{
    width: 100%;
    background-color: var(--col);
}

.flight-card-old .bg.top{
    height: 40px;

    justify-content: flex-start;
    padding-left: 20px;
    font-family: 'Graduate', cursive;
    color: white;
}
.flight-card-old .bg.bottom{
    height: 20px;
}

.flight-card-old .airline{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--airline);
}

.flight-card-old .cut{
    margin-top: -40px;
    margin-bottom: -20px;
    height: calc(100% + 60px);
    z-index: 1;
}
.flight-card-old .cutout{
    height: 15px;
    width: 15px;
    border-radius: 100px;

    margin: -10px 0px;
    z-index: 1;
}
.flight-card-old .perforation{
    border-left: 1px dotted white;
    flex-grow: 1;
}
.flight-card-old .info{
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 20px;
}
.flight-card-old .info .dep-arr .item{
    flex-direction: column;
}

.flight-card-old .info .dep-arr .item .city{
    font-size: 20px;
    font-weight: 500;
}
.flight-card-old .info .dep-arr .item .time{
    font-size: 12px;
    font-weight: 400;
}
.flight-card-old .info .dep-arr .item .plane{
    height: 20px;
    width: 20px;
}

.flight-card-old .info .locations .item{
    flex-direction: column;
    align-items: flex-start;
}
.flight-card-old .info .locations .item .text{
    font-size: 14px;
    font-weight: 400;
}
.flight-card-old .info .locations .item .subtext{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}
@media screen and (prefers-color-scheme: light) {
    .flight-card-old .perforation{
        border-left: 1px dotted var(--dark-layer-1);
    }
    .flight-card .header .airline-logo{
        fill: var(--lightLogo);
    }
    .flight-card .tear .perf{
      border-top-color: var(--dark-layer-1);
    }
}
@media(max-width: 450px){
    .flight-card-old{
        height: 200px;
    }
    .flight-card-old .info .dep-arr .item .city{
        font-size: 16px;
    }
    .flight-card-old .info .dep-arr .item .time{
        font-size: 10px;
    }
}
