#focus-modal{
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    transition: all 0.2s;
}
#focus-modal.hide{
    opacity: 0;
    pointer-events: none;
}

#focus-modal .close{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#focus-menu{
    flex-direction: column;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0px var(--black-50);
    overflow: hidden;
    transform-origin: top right;
    transition: all 0.15s;
}


#focus-menu .focus-item{
    width: 100%;
    padding: 10px 12px;
    cursor: default;
}
#focus-menu .focus-item:hover{
    background-color: var(--white-05);
}

#focus-menu .focus-item p{
    font-size: 12px;
    font-weight: 400;
}

#focus-menu .focus-item .icon{
    height: 10px;
    width: 10px;
}

@media screen and (prefers-color-scheme: light) {
    #focus-menu{
        box-shadow: 0 10px 20px 0px var(--black-20);
    }
    #focus-menu .focus-item:hover{
        background-color: var(--black-05);
    }
    

}



#context-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
#context-modal.hide{
    pointer-events: none;
}

#context-modal .close{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#context-menu{
    position: absolute;
    flex-direction: column;
    width: 200px;
    /* padding: 5px 0px; */
    border-radius: 12px;
    box-shadow: 0 10px 30px -5px var(--black-40);
    overflow: hidden;
    transform-origin: top left;
    /* transition: transform 0.15s, opacity 0.15s; */
}
#context-modal.hide #context-menu{
    transform: scale(0);
    opacity: 0;
}

#context-menu .divider{
    height: 5px;
    width: 100%;
    background-color: var(--black-20);
}
#context-menu .subtray{
    flex-direction: column;
    width: 100%;
    /* padding: 5px 8px; */
}

#context-menu .item{
    width: 100%;
    padding: 10px 12px;
    /* border-radius: 5px; */
    cursor: default;
}
#context-menu .item:hover{
    background-color: var(--white-05);
}

#context-menu .item p{
    font-size: 12px;
    font-weight: 400;
}

#context-menu .item .icon{
    height: 10px;
    width: 10px;
}
#context-menu .item .data{
    flex-direction: column;
}
#context-menu .item .data .value{
    font-size: 18px;
    font-weight: 300;
}
#context-menu .item .data .unit{
    font-size: 8px;
    font-weight: 400;
}

@media screen and (prefers-color-scheme: light) {
    #context-menu{
        box-shadow: 0 10px 30px -5px var(--black-20);
    }
    #context-menu .item:hover{
        background-color: var(--black-05);
    }
    #context-menu .divider{
        background-color: var(--black-05);
    }
}