.user-container{
    height: 100px;
    width: 300px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 0px;
    display: inline-flex;
    align-items: center;

    background-color: var(--dark-layer-1);
}
.user-icon{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 25px;
    fill: var(--red-80);

    /* align-self: center; */
}
.user-text-box{
    margin-left: 15px;
    height: 40px;
    display: inline-flex;
    /* max-width: 100px; */
    position: relative;
    /* align-content: center; */
    
    
    
    background-color: blue;
}



.user-name-text{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;

    position: absolute;
    top: 0px;

    font-size: 18px;
    font-weight: 500;
    color: var(--white-80);
}
.user-name-subtext{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;

    position: absolute;
    bottom: 0px;

    font-size: 14px;
    font-weight: 400;
    color: var(--white-60);
}

.hrish-icon{
    background-image: url('../images/hrish.jpg');
    background-size: cover;
}


.date-container{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    box-sizing: border-box;
    
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 10px;
    margin-left: 0px;
    display: inline-block;
    /* align-items: center; */

    background-color: var(--dark-layer-1);
    /* overflow: hidden; */
}
.date-month-box{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: 600;
    color: var(--red-80);

    /* background-color: #ffffff33; */
}
.date-number-box{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 42px;
    font-weight: 300;
    color: var(--white-80);

    /* background-color: #ff00ff33; */
}











.search-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;
    border-radius: 22px;

    transition: 0.25s;

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.search{
    display: flex;
    justify-content: left;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: inherit;

    background: var(--dark-layer-1);
    padding-left: 20px;
    color: var(--white-60);
}
.search-icon{
    display: flex;
    margin-right: 10px; 
}
.search-label{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.search:hover{
    color: #4285f4;
    transition: 0.2s;
    /* opacity: 0.9; */
}

@media screen and (prefers-color-scheme: light) {
    .user-container{
        background-color: var(--light-layer-1);
    }
    /* .user-icon{
        fill: #000000cc;
    } */
    .user-name-text{
        color: var(--black-80);
    }
    .user-name-subtext{
        color: var(--black-60);
    }

    .search{
        background: var(--light-layer-1);
        color: var(--black-60);

    }
}



@media(max-width: 450px){
    .user-container{
        /* width: 90vw; */
        /* margin-left: 5vw; */

        /* margin-top: 0px; */
    }
    .search-container{
        width: 90vw;
        margin-left: 5vw;
        padding: 0px;
    }
}