


.date-container{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    box-sizing: border-box;
    /* align-items: center;s */
    
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
    /* display: inline-block; */
    /* align-items: center; */

    background-color: var(--black-60);
    -webkit-backdrop-filter: blur(15px);
    /* overflow: hidden; */
}
.date-text-box{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: 600;
    color: var(--red-80);

    /* background-color: #ffffff33; */
}
.date-number-box{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 42px;
    font-weight: 300;
    color: var(--white-80);

    /* background-color: #ff00ff33; */
}

.time-container{
    height: 100px;
    width: 235px;
    border-radius: 25px;
    box-sizing: border-box;
    
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */

    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    /* display: inline-block; */
    /* align-items: center; */

    background-color: var(--black-60);
    -webkit-backdrop-filter: blur(15px);
    /* overflow: hidden; */
}

.time-number-box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 60px;
    font-weight: 300;
    color: var(--white-80);

    /* background-color: #ff00ff33; */
}

.search-container{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 15px;

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;

    position: relative;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    z-index: 5;

    background-color: var(--dark-layer-1);
    /* -webkit-backdrop-filter: blur(15px); */
    transition: 0.25s;
    box-shadow: var(--shaded-dark);
}
.search-container:hover .search-icon-box{
    fill: var(--white-100);
    transition: 0.25s;
}
.search-container:hover .search-text{
    color: var(--white-100);
    transition: 0.25s;
}
.search-icon-box{
    /* height: 16px; */
    /* width: 16px; */

    fill: var(--white-60);
    transition: 0.25s;
}
.search-icon{
    height: 14px;
    width: 14px;
}





.search-text-box{
    margin-left: 10px;
    height: 100%;
    display: inline-flex;
    position: relative;
    align-content: center;
}
.search-text{
    display: inline-flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;

    font-size: 14px;
    font-weight: 400;
    color: var(--white-60);
    transition: 0.25s;
}
.search-button{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
}

.smart-card-container{
    position: relative;
    /* height: 500px; */
}

.smart-card-show{
    position: relative;
    opacity: 1;
    transition: opacity 1s;
}
.smart-card-hide{
    position: absolute !important;
    bottom: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 5s;

}

.smart-card-header-text-box{
    /* box-sizing: border-box; */
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0;
    width: 100%;

    /* position: -webkit-sticky; */
}
.smart-card-header-text{
    font-weight: 600;
    font-size: 24px;
    color: var(--light-layer-0);
    cursor: default;
}


.smart-card-info{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border-radius: 10px;


    /* height: 100px; */
    /* width: 100px; */
    background: var(--black-20);
    -webkit-backdrop-filter: blur(100px);
}
.smart-card-text{
    display: inline-flex;
    position: relative;
    align-items: center;
    /* justify-content: flex-end; */
    
    /* background-color: black; */
    
    /* top: 10px; */
    /* right: 25px; */

    height: 15px;
    /* width: 50px; */

    color: var(--white-80);
    font-size: 10px;
    font-weight: 600;
        

}



.smart-card-icon{
    display: block;
    position: relative;
    /* top: 15px; */
    /* right: 15px; */
    margin-left: 2px;

    height: 6px;
    width: 6px;

    fill: var(--white-80);

    
}



.smarthome-card{
    display: flex;
    position: relative;
    /* justify-content: right; */
    vertical-align: top;
    /* height: 80px; */
    width: 100%;
    box-sizing: border-box;

    padding-left: 20px;

    /* background-color: blue; */
    /* padding-left: 15px; */

    /* padding-bottom: 0px; */
    /* overflow-x: scroll; */
    /* scroll-snap-type: x proximity; */
    /* margin-bottom: 10px; */
}
.smarthome-app{
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    min-width: 80px;
    border-radius: 25px;

    /* background-color: rebeccapurple; */
}
.smarthome-app-icon{
    height: 30px;
    width: 30px;
    fill: white;
}
.smarthome-tray{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 15px;

    /* background-color: aquamarine; */

    /* width: ; */
    height: 80px;
    width: 100%;
}
.smarthome-scene{
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 0px 5px;
    transition: all 0.15s;
}
.smarthome-scene-icon{
    height: 22px;
    width: 22px;
    fill: white;
}
/* .smarthome-scene:hover{
    scale: 1.1;
    box-shadow: var(--shaded-light);
} */
.smarthome-scene:active{
    scale: 0.9;
}



.smarthome-wrapper{
    width: 100%;
    box-sizing: border-box;

    align-items: center;
    position: relative;
    /* display: block; */

    padding-left: 15px;
    padding-right: 5px;

    /* margin-top: 10px; */

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;

    transition: all 0.15s;
}
.smarthome-wrapper-show{
    margin-top: 10px;
    height: 115px;
    opacity: 1;
}
.smarthome-wrapper-hide{
    margin-top: 0px;
    height: 0px;
    opacity: 0;
}
/* .smarthome-wrapper-hide .app-container{
    height: 0px;
    transition: all 0.25s;
} */

.smarthome-image{
    background: url(../images/smarthome.jpg);
}






@media screen and (prefers-color-scheme: light) {
    .user-container{
        background-color: var(--light-layer-1);
    }
    /* .user-icon{
        fill: #000000cc;
    } */
    .user-name-text{
        color: var(--black-80);
    }
    .user-name-subtext{
        color: var(--black-60);
    }

    .date-container{
        background-color: var(--white-60);
    }
    .date-number-box{
        color: var(--black-80);
    }
    .time-container{
        background-color: var(--white-60);
    }
    .time-number-box{
        color: var(--black-80);
    }

    .search-container{
        background-color: var(--light-layer-0);
        box-shadow: var(--shaded-light);
    }
    .search-container:hover .search-icon-box{
        fill: var(--black-100);
    }
    .search-container:hover .search-text{
        color: var(--black-100);
    }
    .search-icon-box{
        fill: var(--black-60);
    }
    .search-text{
        color: var(--black-60);
    }


    .smart-card-info{
        background: var(--white-20);
    }
    .smart-card-icon{
        fill: var(--dark-layer-1-80);
    }
    .smart-card-text{
        color: var(--dark-layer-1-80);
    }



    /* .search{
        background: var(--light-layer-0);
        color: var(--black-60);

    } */
}



@media(max-width: 450px){

    .search-container{
        height: 40px;
        padding-left: 10px;
        margin-top: 20px;
    }
    .search-text-box{
        margin-left: 7px;
    }
    .search-icon{
        height: 12px;
        width: 12px;
    }
    .search-text{
        font-size: 14px;
    }
    .smarthome-wrapper-show{
        height: 85px;
    }
}