body{
    background:#000000;
}

.home-bar{
    background: rgba(128, 128, 255, 0.9);
}


























/* .wallpaper{
    background-image: url(../images/chicago.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;       
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
} */





/* .wallpaper{
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
} */


.search-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;
    border-radius: 25px;

    transition: 0.25s;

    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.search{
    display: flex;
    justify-content: left;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: inherit;

    background:#fff;
    padding-left: 20px;
    color: #00000099;
}
.search-icon{
    display: flex;
    margin-right: 10px; 
}
.search-label{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.search:hover{
    color: #4285f4;
    transition: 0.2s;
    opacity: 0.9;
}

@media(min-width: 450px){
    .end-item{
        margin-right: 0 !important;
    }
    .end-item:hover{
        margin-right: -2px;
    }
}

/* 
.home-subtitle-box{
    padding-left: 300px;
} */















/* @dark mode */

@media screen and (prefers-color-scheme: light) {
    body{
        background: #fff;
    }
    
    
    
    .search{
        background-color: #f2f2f7;
    }
    .box-label{
        color: #1c1c1e;
    }
    
}


@media(max-width: 1000px){
    .search-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    



    .end-item-tablet{
        margin-right: 0 !important;

    }
}


@media(max-width: 450px){

    body{ 
        min-height: 100vh;
    }
    .search-container{
        display: none;
    }
    

    .end-item-mobile{
        margin-right: 0 !important;
    }    
}