.hulu-icon{
    fill: #1ce783 !important;
}

.media-tray{
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    /* z-index: 1000; */
    box-sizing: border-box;

    margin: 0px -30px 0px -40px;
    padding: 10px 30px 0px 40px;
    width: calc(100% + 50px);

    min-height: 1px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;

    /* margin-top: 10px; */

    /* border-radius: 15px; */


    transition: all 0.25s;
    scroll-snap-type: x mandatory;
}

.preload-card{
    opacity: 0;
    scale: 0.95;
    /* -webkit-backdrop-filter: blur(100px); */
}


.media-card{
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    align-items: flex-end;
    position: relative;
    vertical-align: center;
    margin-right: 10px;
    /* margin-bottom: 0px; */

    /* box-shadow: var(--shaded-light); */

    background-size: cover;
    background-position: center center;

    /* scroll-snap-align: start;
    scroll-margin-left: 15px; */

    transform-origin: bottom;
    transition: all 0.5s;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-layer-1);
}
/* .media-card:active{
    opacity: 0.65;
} */
.book-card{
    height: 300px;
    width: 200px;
}
.pod-card{
    height: 250px;
    width: 250px;
}
.tv-card{
    /* height: calc((100vw - 40px) * (0.5625)); */
    /* width: calc(100vw - 40px); */

    /* min-height: 189px; */
    /* max-height: 225px; */
    /* max-width: 400px; */

    border-radius: 15px;

    height: 225px;
    width: 400px;
}
/* .tv-card:active{
    scale: 1;
} */

.tv-card-gradient{
    display: flex;
    position: relative;
    vertical-align: bottom;
    /* bottom: 0px; */
    /* left: 0px; */
    /* vertical-align: bottom; */

    /* margin-bottom: -1px; */
    height: 75%;
    width: 100%;
    /* background-color: violet; */
    background: linear-gradient(#00000000,rgba(0, 0, 0, 0.5));
}


.tv-card-play{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;

    height: 30px;
    width: 60px;
    border-radius: 12px;
    /* border-style: solid; */
    /* border-width: 0.1px; */
    /* border-color: var(--white-10); */


    transition: all 0.15s;
    background-color: var(--black-20);
    -webkit-backdrop-filter: blur(20px);
    color: var(--white-80);
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
}
.tv-card-play:hover{
    /* scale: 1.1; */
    background-color: var(--black-40);
    /* box-shadow: var(--element-mid); */
}
.tv-card-play:active{
    scale: 0.9;
}

.tv-card-play-text{
    color: var(--white-80);
}




.tv-card-title{
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 20px;

    background-position: 0 100%;
    fill: #fff;

    height: 40%;
    width: 50%;

}






.tv-media-card{
    height: 230px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 0px;
    transition: all 0.25s;
    /* transition-timing-function: ease-out; */
    scroll-snap-align: start;
    scroll-margin-left: 15px;
}
.tv-media-card:hover{
    scale: 1.01;
    overflow: hidden;
}

.tv-media-poster{
    width: 100%;
    height: 170px;
    background-size: cover; 
    background-position: center;
    display: flex;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    /* transition: 0.25s; */
}

.tv-media-gradient{
    display: block;
    position: relative;
    /* top: 25%; */
    align-self: flex-end;

    width: 100%;
    height: 80%;

    /* transition: 0.25s; */
}

.tv-media-title{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 40px;
    left: 15px;

    background-position: 0 100%;
    background-color: #00000000;
    fill: #fff;

    height: 80px;
    width: 225px;

    /* transition: 0.25s; */
}
.tv-media-more-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: inherit;

    /* background: #00000033; */

    /* align-items: center; */
    /* display: inline-block; */
    /* overflow: hidden; */

    /* text-decoration: none; */

    z-index: 3;
    transition: 0.25s;
}

.tv-media-more-icon{
    fill: #ffffff;
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;

    transition: 0.25s;

    z-index: 3;
}


.tv-media-more-text-box{
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0%;

    height: 20px;
    width: 100%;
    border-radius: inherit;
    box-sizing: border-box;
    z-index: 2;

    background-color: transparent;

    text-decoration: none;
    align-items: flex-end;

    padding-left: 15px;
    padding-right: 45px;
    margin-bottom: 15px;

    color: #ffffff;
    font-size: 10px;
    font-weight: 600;

    transition: 0.25s;
}
.tv-media-more-text{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: 0.25s;
}
.tv-media-more-link{
    display: flex;
    position: relative;
    left: 0px;
    bottom: 0px;
    cursor: default;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: 3;

    background-color: transparent;

    transition: 0.25s;
    z-index: 4;
}




.tv-popup-open{
    /* pointer-events: initial; */
    /* transform: translateY(0%); */
    transition: 0.2s;
}
.tv-popup-closed{
    pointer-events: none;
    transform: translateY(100%);
    transition: 0.3s;

    /* scale: 0.9; */
}
.tv-popup-modal{
    display: block;
    position: relative;
    align-self: flex-end;
    box-sizing: border-box;

    width: 100vw;
    max-width: 800px;
    height: auto;
    max-height: 90vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 40pt; */
    z-index: 5;
    justify-self: center;

    /* border-top-style: solid; */
    /* border-width: 1px; */
    /* border-color: #333; */
}
.tv-popup-tab{
    display: block;
    position: absolute;
    justify-self: center;

    width: 100%;
    height: 100%;

    z-index: 4;
}
.tv-popup-close{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    -webkit-backdrop-filter: blur(25px);
    background-color: var(--black-40);
    z-index: 1;
    transition: all 0s;
    fill: var(--white-80);
}
.tv-popup-close:active{
    background-color: var(--black-20);
}
.tv-popup-close-icon{
    /* fill: var(--white-80); */
    height: 40%;
    width: 40%;
}





.tv-popup-card{
    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-sizing: border-box;

    position: relative;

    vertical-align: top;
    padding-bottom: 25px;

    box-shadow: 0 0 50px var(--black-100);

    overflow: hidden;
}
.tv-popup-poster{
    width: 100%;
    height: 56.25vw;
    max-height: 450px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center center;
    display: block;
    position: relative;
}
.tv-popup-gradient{
    /* justify-content: flex-end; */
    vertical-align: center;
    align-items: flex-end;
    display: flex;
    position: relative;
    top: 40%;

    width: 100%;
    height: 60%;
    padding-left: 40px;
}
.tv-popup-title{
    display: block;
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;

    height: clamp(0px, 100%, 500px);
    width: clamp(0px, 60%, 300px);

    margin-bottom: -20px;
    /* height: clamp(50vw); */

    /* width: 80vw; */
    /* height: 30vw; */
    /* margin-left: 10vw; */
    /* margin-top: -15vw; */
    /* margin-bottom: 5vw; */
}
.tv-popup-description{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;

    box-sizing: border-box;
    padding: 30px 40px 0px;

    width: 100vw;
    /* max-width: 100px; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */



    /* justify-content: center; */
    /* align-items: center; */

    /* width: 100%;
    height: 4vh;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

}
.tv-popup-ratings-tray{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;

    /* height: 100px; */
    /* width: 100px; */

    /* background-color: violet; */

}
.tv-popup-ratings-container{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    height: 25px;
    
    margin-right: 5px;

    transition: all 0.1s;

    /* background-color: #00000000 !important; */
    border-style: solid;
    border-width: 2px;
    border-color: var(--white-40);
    fill: var(--white-60);
}
/* .tv-popup-ratings-container:hover{
    border-color: var(--white-100);
    fill: var(--white-100);
} */
.tv-popup-ratings-container:active{
    border-color: var(--white-20);
    fill: var(--white-20);
}
.imdb-container{
    width: 45px;
    /* background-color: #F5C518; */
}
.imdb-icon{
    height: 30px;
    width: 30px;
    /* fill: black; */
}
.tv-time-container{
    width: 25px;
}
.tv-time-icon{
    height: 22px;
    width: 22px;
}
.reelgood-container{
    width: 70px;
    /* background-color: #00dc89; */
}
.reelgood-icon{
    height: 60px;
    width: 60px;
    /* fill: var(--white-100); */
}

.tv-popup-ratings-text{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
    height: 100%;

    color: var(--white-80);
    font-size: 10px;
    font-weight: 600;
    margin-right: 15px;

    /* background-color: #F5C518; */
}






.tv-popup-button-tray{
    position: relative;
    box-sizing: border-box;

    padding-left: 40px;
    padding-right: 0;
    margin: 10px 0 20px;

    /* height: 60px; */
    width: 100vw;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}
.tv-popup-button-container{
    vertical-align: center;
    /* height: 50px; */
    box-sizing: border-box;
    padding: 12.5px 20px;

    align-items: center;
    justify-content: center;
    display: inline-flex;
    overflow: hidden;
    border-radius: 10px;
    text-decoration: none;

    margin-right: 20px;
    position: relative;
    transition: all 0.1s;
    background-color: var(--white-100);
    color: var(--dark-layer-1);
    fill: var(--dark-layer-1);
    overflow: hidden;

    font-size: 14px;
    font-weight: 600;
}
.tv-popup-button-text{
    /* display: flex; */
    /* position: relative; */
    /* left: 0px; */
    /* bottom: 0%; */

    /* height: 100%; */
    /* width: 100%; */
    border-radius: inherit;
    box-sizing: border-box;
    z-index: 2;

    background-color: transparent;

    text-decoration: none;
    align-items: center;
    /* color: var(--dark-layer-1); */
    /* font-size: 16px; */
    /* font-weight: 500; */

    transition: 0.25s;
}
.tv-popup-button-icon{
    /* display: inline-flex; */
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12px;
    margin-right: 8px;

}


.tv-popup-link{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: 3;

    background-color: transparent;

    transition: 0.25s;
}
.tv-popup-button-container:active{
    opacity: 0.75;
}

.tv-popup-summary{
    display: block;
    /* padding-left: 20px/; */
    padding: 5px 40px 15px;
    color: var(--light-layer-0);
    font-size: 14px;
    font-weight: 400;
}



/* .tv-popup-card{
    height: 100%;
    width: 100%;
    border-radius: inherit;

    padding: 0vw;
    box-sizing: border-box;

    position: relative;


    vertical-align: top;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 5vw;

    box-shadow: 0 0 50px var(--black-100);

    overflow: hidden;
}
.tv-popup-poster{
    width: 100%;
    height: 56.25vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center center;
    display: block;
    position: relative;

    border-radius: 0;
}
.tv-popup-gradient{
    display: block;
    position: relative;
    top: 16.25vw;

    width: 100%;
    height: 40vw;

    transition: 0.25s;
}
.tv-popup-title{
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    width: 80vw;
    height: 30vw;
    margin-left: 10vw;
    margin-top: -15vw;
    margin-bottom: 5vw;
}
.tv-popup-description{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    position: relative;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 4vh;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.tv-popup-button-tray{
    position: relative;
    box-sizing: border-box;

    padding-left: 5vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
    padding-right: 0;

    height: 25vw;
    width: 100vw;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}
.tv-popup-button-container{
    height: 100%;
    box-sizing: border-box;

    align-items: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 6vw;
    text-decoration: none;

    z-index: 1;


    margin-right: 5vw;
    position: relative;
    transition: all 0.25s;
}
.tv-popup-icon{
    fill: #fff;
    height: 3vw;
    width: 3vw;
    
    position: absolute;
    top: 6vw;
    left: 6vw;

    transition: 0.25s;
}
.tv-popup-text-with-icon{
    margin-left: 6vw;
}

.tv-popup-text{
    display: flex;
    position: relative;
    left: 0px;
    bottom: 0%;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-sizing: border-box;
    z-index: 2;

    background-color: transparent;

    text-decoration: none;
    align-items: center;

    padding-left: 6vw;
    padding-right: 6vw;
    color: white;
    font-size: 16px;
    font-weight: 500;

    transition: 0.25s;
}


.tv-popup-link{
    display: flex;
    position: relative;
    left: 0px;
    bottom: 100%;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: 3;

    background-color: transparent;

    transition: 0.25s;
}



.tv-popup-button-container:hover{
    scale: 0.95;
}



@media(min-width: 450px){

    .tv-popup-modal{
        width: 60vw;
        max-height: 95vh;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    
    .tv-popup-card{
        padding-bottom: 20px;
    }
    .tv-popup-poster{
        height: 33.75vw;
    }
    .tv-popup-gradient{
        position: relative;
        top: 13.75vw;
    
        height: 20vw;
    }
    .tv-popup-title{
        background-position-x: left;
        background-position-y: bottom;
    
        width: 40vw;

        height: 20vw;
        margin-left: 2.5vw;
        margin-top: -15vw;
        margin-bottom: 1vw;
    }
    .tv-popup-description{
        font-size: 1vw;
    
        justify-content: left;
    
        padding-left: 2.5vw;
        padding-right: 5vw;
    }
    .tv-popup-button-tray{    
        padding-left: 2.5vw;
        padding-bottom: 0px;
        padding-top: 10px;
        padding-right: 0;

        height: 60px;
        width: 100%;
    }
    .tv-popup-button-container{
        border-radius: 20px;

        margin-right: 20px;
    }
    .tv-popup-icon{
        height: 14px;
        width: 14px;
        
        top: 18px;
        left: 18px;
    }
    .tv-popup-text-with-icon{
        margin-left: 14px;
    }
    
    .tv-popup-text{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
    }
    
    

}




 */


@media screen and (prefers-color-scheme: light) {

    .tv-card-play{
        background-color: var(--white-20);
    }
    .tv-card-play:hover{
        background-color: var(--white-40);
    }
    .tv-card-play-text{
        color: var(--black-80);
    }

    .media-card{
        border-color: var(--light-layer-1);
    }
    /* .tv-popup-modal{
        border-color: #ccc;
    } */
    .tv-popup-close{
        background-color: var(--white-40);
        fill: var(--black-80);
    }
    .tv-popup-close:active{
        background-color: var(--white-20);
    }
}






@media(max-width: 450px){    
    .media-tray{
        margin:  0px 0px;
        padding: 10px 10px 0px 20px;
        width: calc(100% + 0px);
    }
    .tv-card{
        border-radius: 10px;

        height: 170px;
        width: 300px;
    }
    .tv-card-title{
        bottom: 12.5px;
        left: 12.5px;
    }
    .book-card{
        height: calc((100vw - 50px) * (3 / 4));
        width: calc((100vw - 50px) / 2);
    }
    .pod-card{
        height: calc((100vw - 50px) / 2);
        width: calc((100vw - 50px) / 2);
    }

    /* .media-card:active{
        scale: 0.95;
    } */
    /* .tv-card:active{
        scale: 1;
    } */

    .tv-popup-gradient{
        padding-left: 20px;
    }
    .tv-popup-description{
        padding: 30px 20px 10px;
    }
    .tv-popup-ratings-tray{
        margin-left: 20px;
    }
    .tv-popup-button-tray{
        padding-left: 20px;
    }
    .tv-popup-button-container{

    }
    .tv-popup-summary{
        padding: 5px 20px 20px;
    }




    

    .tv-popup-play{
        width: calc(100vw - 40px);
    }

}
