.media-tray{
    /* width: calc(100% + 30px); */
    box-sizing: border-box;

    align-items: center;
    position: relative;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;

    /* padding-left: 15px; */
    /* padding-right: 15px; */
    /* margin: 0px -15px; */
}
.media-tray > *:not(:last-child) {
    margin-right: 15px; 
}

.movie-card{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;

    border-radius: 10px;
    /* padding: 5px; */
    overflow: hidden;
    width: fit-content;
    background-color: var(--dark-layer-1);

    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: var(--dark-layer-1); */
}
.movie-play-container{
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    height: 100%;
    width: 100%;

    background-color: var(--black-40);

    transition: all 0.25s;
    opacity: 0;
}
.movie-play-container:hover{
    opacity: 1;
}
.movie-play-icon{
    display: block;
    position: relative;

    fill: white;
    height: 24px;
    width: 24px;
}
.movie-poster{
    display: flex;
    position: relative;
    align-items: flex-end;

    height: 170px;
    width: 300px;

    /* border-radius: 10px; */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.movie-gradient{
    display: flex;
    position: relative;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(#00000000,var(--black-60));
    padding: 8px 12px;
}
.movie-title{

    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}
.movie-title.tall{
    height: 80%;
    width: 100%;
}
.movie-title.mid{
    height: 100%;
    width: 50%;
}
.movie-title.wide{
    height: 60%;
    width: 80%;
}

.movie-info{
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;

    padding: 15px 12px;
    width: 100%;
}
.movie-textbox{
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    /* align-items: center; */


    width: 100%;
}
.movie-heading{
    font-size: 14px;
    font-weight: 600;
    /* text-transform: uppercase; */
}
.movie-subheading{
    font-size: 10px;
    font-weight: 500;

    margin-top: 4px;
    color: var(--white-60);
}
.movie-icon{
    display: block;
    position: relative;

    height: 16px;
    width: 16px;
}

@media screen and (prefers-color-scheme: light) {
    .movie-card{
        background-color: var(--light-layer-1);  
    }
    .movie-subheading{
        color: var(--dark-layer-1-60);
    }
}