#modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;

    background-color: var(--black-80);

    transition: 0.25s;

    /* overflow-y: scroll; */
    /* padding: 10vh 0; */
    /* align-items: flex-start; */
}
#modal-container.hide{
    opacity: 0;
    pointer-events: none;
}
#modal-container.show{
    opacity: 1;
    pointer-events: initial;
}

.modal-close{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#modal-container.hide .modal-card{
    transform: scale(0.98);
}

.modal-scroll{
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    /* padding: 40px 0 0; */
    justify-content: flex-start;
    /* pointer-events: none; */
}

.modal-card{
    flex-direction: column;
    /* width: 300px; */
    border-radius: 10px;
    /* padding: 15px; */
    overflow: hidden;

    transition: 0.25s;
    transform-origin: bottom center;
    /* margin: 20vh 0; */
    /* pointer-events: auto; */
}


#modal-container.hide .modal-card{
    pointer-events: none;
}
#modal-container.show .modal-card{
    pointer-events: auto;
}


#modal-title{
    width: 100%;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px 10px;
    cursor: default;
}

#modal-body .item{
    width: 100%;
    padding: 10px 0px;
}

#modal-body .item .name{
    font-size: 15px;
    font-weight: 500;
}

#modal-body .countdown{
    padding: 0px 15px 15px;
    width: 300px;
}

#modal-body .countdown-no{
    font-size: 20px;
    font-weight: 400;
}
#modal-body .countdown-period{
    font-size: 10px;
    font-weight: 400;
}

#modal-body .tv-popup{
    width: 100vw;
    max-width: 900px;
    /* color: white; */
    min-height: calc(100vh - 80px);
    /* background-color: var(--dark-layer-2); */

}
.tv-popup .current{
    flex-direction: column;
    width: 100%;
}
.tv-popup .current .bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--col);
    filter: saturate(2) brightness(0.5);
}
.tv-popup .current .poster{
    width: 100%;
    aspect-ratio: 16 / 9;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--poster);

    overflow: hidden;
}

.tv-popup .current .poster .gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--col) 50%,#00000099);

    /* -webkit-backdrop-filter: blur(10px) brightness(0.6); */
    /* -webkit-mask-image: linear-gradient(to bottom,transparent 40%,#000 80%); */
}
.tv-popup .current .poster .title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    height: 25%;
    width: 60%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: var(--title);
}

.tv-popup .current .info{
    flex-direction: column;
    width: 100%;
    padding: 0px 30px;
    color: white;
}
.tv-popup .current .info .name{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: default;
}
.tv-popup .current .info .title-mob{
    width: calc(100vw - 175px);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--title);
}
.tv-popup .current .info .title-mob.wide{
    height: 40px;
}
.tv-popup .current .info .title-mob.mid{
    height: 50px;
}
.tv-popup .current .info .title-mob.tall{
    height: 70px;
}
.tv-popup .current .info .play{
    padding: 12px 15px;
    border-radius: 8px;
    overflow: hidden;

    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    fill: white;
    /* background-color: var(--col); */
    background-color: white;
    color: var(--dark-layer-1);
    fill: var(--dark-layer-1);
}
.tv-popup .current .info .play .icon{
    height: 12px;
    width: 12px;
}

.tv-popup .current .info .desc{
    /* display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; */


    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: default;
    opacity: 0.8;
}
.tv-popup .current .info .summary{
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    cursor: default;
}
.tv-popup .video-app-tray{
    /* height: 200px; */
    width: 100%;
    padding: 15px 0px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: var(--black-30);
}
.tv-popup .video-app-tray .video-app{
    padding: 12px 15px;
    border-radius: 8px;

    font-size: 12px;
    font-weight: 500;

    background-color: var(--white-10);
    color: white;
    fill: white;
}
.tv-popup .video-app-tray .video-app .icon{
    height: 14px;
    width: 14px;
}



.tv-popup .current .close{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    fill: var(--white-100);
}


.tv-popup .suggest{
    flex-direction: column;
    /* padding: 0px 30px; */
    /* height: 500px; */
    width: 100%;
}

.tv-popup .suggest .card{
    flex-direction: column;
    width: 200px;
    /* width: calc((100% - 30px) / 3); */
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-margin-left: 30px;
    background-color: var(--col);
    color: white;
}

.tv-popup .suggest .card .poster{
    width: 100%;
    aspect-ratio: 16 / 9;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--poster);
}


.tv-popup .suggest .card .poster .gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;

    background-image: linear-gradient(var(--col),#00000099);

    -webkit-backdrop-filter: none;
    -webkit-mask-image: none;
}

.tv-popup .suggest .card .poster .title{
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 25%;
    width: 80%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: var(--title);
}

.tv-popup .suggest .card .info{
    flex-direction: column;
    padding: 10px;
    -webkit-backdrop-filter: saturate(calc(3 / 2)) brightness(calc(2 / 3));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: white;
}
.tv-popup .suggest .card .info .text{
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    -webkit-box-orient: vertical;
}
.tv-popup .suggest .card .info .desc{
    -webkit-line-clamp: 1;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}
.tv-popup .suggest .card .info .title{
    -webkit-line-clamp: 1;
    font-size: 14px;
    font-weight: 500;
}
.tv-popup .suggest .card .info .summary{
    -webkit-line-clamp: 3;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.4;

    padding: 0;
}
.tv-popup .suggest .card .info .play{
    padding: 0px 10px;
    height: 30px;
    border-radius: 8px;

    background-color: var(--white-10);
    color: white;
    fill: white;

    font-size: 10px;
    font-weight: 400;
}
.tv-popup .suggest .card .info .play .icon{
    height: 10px;
    width: 10px;
}


.tv-popup .suggest .card .info .service{
    height: 10px;
    width: 30px;
    margin-top: 10px;

    background-image: var(--service);

    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;

    opacity: 0.75;
}



@media screen and (prefers-color-scheme: light) {
    /* .tv-popup .current .poster .gradient{
        -webkit-backdrop-filter: blur(10px) brightness(0.9);
    } */
    .tv-popup .current .info .video-app-tray .video-app .icon{
        border-color: var(--dark-layer-1-80);
    }

    .tv-popup .suggest .card .info{
        -webkit-backdrop-filter: saturate(calc(5 / 4)) brightness(calc(4 / 5));
    }

}
@media(max-width: 450px){
    .tv-popup .current{
        padding: 100px 0px 0px;
    }
    .tv-popup .current .poster{
        width: calc(100% - 100px);
        border-radius: 8px;
        box-shadow: 0px 15px 40px -15px var(--dark-layer-1);
    }
    .tv-popup .current .poster .title{
        bottom: 10px;
        left: 10px;
    }
    .tv-popup .current .info{
        padding: 0px 20px;
    }
    .tv-popup .current .info .play{
        font-size: 12px;
        font-weight: 500;

        min-width: calc(100vw - 150px);
    }
    .tv-popup .video-app-tray{
        padding-left: 20px;
        padding-right: 10px;
    }


    .tv-popup .current .close{
        top: 65px;
        right: 10px;
        /* height: 25px; */
        /* width: 25px; */
        -webkit-backdrop-filter: none;
        background-color: var(--black-30);
    }



    .tv-popup .suggest .card{
        scroll-margin-left: 20px;
    }
    .tv-popup .suggest .card .info .play{
        min-width: auto;
    }

}