#modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;

    background-color: var(--black-80);
}
#modal-container.hide{
    opacity: 0;
    pointer-events: none;
    transition: all 0s;
}
#modal-container.show{
    opacity: 1;
    pointer-events: initial;
    transition: all 0.25s;
}

.modal-close{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#modal-container.hide .modal-card{
    transform: scale(0.98);
}

#modal-scroll{
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    /* padding: 40px 0 0; */
    justify-content: flex-start;
    /* pointer-events: none; */
}

.modal-card{
    flex-direction: column;
    /* width: 300px; */
    border-radius: 10px;
    /* padding: 15px; */
    overflow: hidden;

    transition: 0.25s;
    transform-origin: bottom center;
    /* margin: 20vh 0; */
    /* pointer-events: auto; */
}


#modal-container.hide .modal-card{
    pointer-events: none;
}
#modal-container.show .modal-card{
    pointer-events: auto;
}


#modal-title{
    width: 100%;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px 10px;
    cursor: default;
}

#modal-body .item{
    width: 100%;
    padding: 10px 0px;
}

#modal-body .item .name{
    font-size: 15px;
    font-weight: 500;
}

#modal-body .countdown{
    padding: 0px 15px 15px;
    width: 300px;
}

#modal-body .countdown-no{
    font-size: 20px;
    font-weight: 400;
}
#modal-body .countdown-period{
    font-size: 10px;
    font-weight: 400;
}


#modal-body .summary{
    padding: 0px 15px 15px;
    width: 300px;
    font-size: 14px;
    font-weight: 400;
}

/* #modal-body .tv-popup{
    width: 100vw;
    max-width: 900px;
    max-width: max(calc(100vw - (150px * (16 / 9))),900px);
    min-height: calc(100vh - 80px);
} */

#modal-tray{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    pointer-events: none;
}
#modal-tray .modal .close{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: var(--black-50);
    transition: all 0.25s;
}
#modal-tray .modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: auto;
    transform-origin: bottom center;
    transition: all 0.25s;
    z-index: 1;
}
#modal-tray .modal .vertical{
    flex-direction: column;
    max-height: 100vh;
    overflow-y: scroll;
    justify-content: flex-start;
    transform-origin: center bottom;
    transition: all 0.25s;
}
#modal-tray .modal.preload .vertical{
    opacity: 0;
    transform: scale(0.98);
}
#modal-tray .modal.preload .close{
    opacity: 0;
}

.countdown-big{
    flex-direction: column;
    border-radius: 10px;
    padding: 15px 20px;
}
.countdown-big .title{
    font-size: 24px;
    font-weight: 600;
}
.countdown-big .vstack .num{
    font-size: 60px;
    font-weight: 500;
    font-family: ui-rounded;
}
.countdown-big .vstack .unit{
    font-size: 16px;
    font-weight: 400;
}




#modal-tray .modal-text{
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    font-size: 14px;
    font-weight: 400;
}