#modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;

    background-color: var(--black-80);

    transition: 0.25s;

    /* overflow-y: scroll; */
    /* padding: 10vh 0; */
    /* align-items: flex-start; */
}
#modal-container.hide{
    opacity: 0;
    pointer-events: none;
}
#modal-container.show{
    opacity: 1;
    pointer-events: initial;
}

.modal-close{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#modal-container.hide .modal-card{
    transform: scale(0.98);
}

.modal-scroll{
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    /* padding: 40px 0 0; */
    justify-content: flex-start;
    /* pointer-events: none; */
}

.modal-card{
    flex-direction: column;
    /* width: 300px; */
    border-radius: 10px;
    /* padding: 15px; */
    overflow: hidden;

    transition: 0.25s;
    transform-origin: bottom center;
    /* margin: 20vh 0; */
    /* pointer-events: auto; */
}


#modal-container.hide .modal-card{
    pointer-events: none;
}
#modal-container.show .modal-card{
    pointer-events: auto;
}


#modal-title{
    width: 100%;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px 10px;
    cursor: default;
}

#modal-body .item{
    width: 100%;
    padding: 10px 0px;
}

#modal-body .item .name{
    font-size: 15px;
    font-weight: 500;
}

#modal-body .countdown{
    padding: 0px 15px 15px;
    width: 300px;
}

#modal-body .countdown-no{
    font-size: 20px;
    font-weight: 400;
}
#modal-body .countdown-period{
    font-size: 10px;
    font-weight: 400;
}

#modal-body .tv-popup{
    width: 100vw;
    max-width: 900px;
    /* color: white; */
    min-height: calc(100vh - 80px);
    /* background-color: var(--dark-layer-2); */

}
.tv-popup .current{
    flex-direction: column;
    width: 100%;
    background-color: var(--dark-layer-2);
}



.tv-popup .current .poster{
    width: 100%;
    aspect-ratio: 16 / 9;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--poster);
}

.tv-popup .current .poster .gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;

    -webkit-backdrop-filter: blur(10px) brightness(0.6);
    -webkit-mask-image: linear-gradient(to bottom,transparent 50%,#000 80%);
    mask-image: linear-gradient(to bottom,transparent 50%,#000 80%);
}

/* .tv-popup .current .more{
    flex-direction: column;
    width: 100%;
    padding: 0px 30px;
    
    
    height: 100px;
} */

.tv-popup .current .title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 25%;
    width: 60%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: var(--title);
}
.tv-popup .current .close{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    fill: var(--white-100);
}

.tv-popup .info{
    flex-direction: column;
    width: 100%;
    padding: 0px 30px;
}

.tv-popup .info .desc{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: default;
}

.tv-popup .info .play{
    padding: 12px 15px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.tv-popup .info .play .icon{
    height: 12px;
    width: 12px;
}
.tv-popup .info .play p{
    cursor: default;
}
.tv-popup .info .summary{
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
    cursor: default;
}
.tv-popup .video-app-tray{
    /* height: 200px; */
    width: 100%;
    padding-left: 30px;
    padding-right: 20px;
}
.tv-popup .video-app-tray .video-app{
    padding: 12px 15px;
    border-radius: 8px;

    font-size: 12px;
    font-weight: 500;
}
.tv-popup .video-app-tray .video-app .icon{
    height: 14px;
    width: 14px;
    /* padding: 8px;
    border-radius: 100px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--white-80); */
}





.tv-popup .suggest{
    flex-direction: column;
    /* padding: 0px 30px; */
    /* height: 500px; */
    width: 100%;
}

.tv-popup .suggest .card{
    flex-direction: column;
    width: 200px;
    /* width: calc((100% - 30px) / 3); */
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-margin-left: 30px;
}

.tv-popup .suggest .card .poster{
    width: 100%;
    aspect-ratio: 16 / 9;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--poster);
}


.tv-popup .suggest .card .poster .gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;

    background-image: linear-gradient(var(--col),#00000099);

    -webkit-backdrop-filter: none;
    -webkit-mask-image: none;
}

.tv-popup .suggest .card .poster .title{
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 25%;
    width: 80%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: var(--title);
}

.tv-popup .suggest .card .info{
    padding: 10px;
}
.tv-popup .suggest .card .info p{
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    -webkit-box-orient: vertical;
}
.tv-popup .suggest .card .info .desc{
    -webkit-line-clamp: 1;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}
.tv-popup .suggest .card .info .title{
    -webkit-line-clamp: 1;
    font-size: 14px;
    font-weight: 500;
}
.tv-popup .suggest .card .info .summary{
    -webkit-line-clamp: 3;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.4;

    padding: 0;
}

@media screen and (prefers-color-scheme: light) {
    .tv-popup .poster .gradient{
    
        /* background-image: linear-gradient(var(--col),var(--light-layer-0)); */
    }
    .tv-popup .info .video-app-tray .video-app .icon{
        border-color: var(--dark-layer-1-80);
    }

}
@media(max-width: 450px){
    .tv-popup .poster .title{
        left: 20px;
    }

    .tv-popup .poster .close{
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
    }
    .tv-popup .info{
        padding: 0px 20px;
    }

    .tv-popup .info .desc{
        font-size: 12px;
        font-weight: 500;

        max-width: calc(100vw - 40px);
    }
    .tv-popup .info .play{
        padding: 12px 15px;

        font-size: 12px;
        font-weight: 500;

        min-width: calc(100vw - 100px);
    }
    .tv-popup .video-app-tray{
        padding-left: 20px;
        padding-right: 10px;
    }


    .tv-popup .suggest .card{
        scroll-margin-left: 20px;
    }

}