.routine-modal{
    border-radius: 10px;
    padding-top: 12px;
}
.routine-modal .section-title{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    justify-content: flex-start;
    padding: 0 15px;

    margin-bottom: 8px;
}

.routine-modal .tray{
    flex-direction: column;
    width: 300px;
}


/* #routine-container{
    flex-direction: column;
    border-radius: 10px;
} */
/* #routine-container .title{
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 600;
} */
/* #routine-container .full-icon{
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    transition: all 0.25s;
}
#routine-container.all-done .full-icon{
    transform: rotate(180deg);
} */

/* #routine-container.all-done .title{
    margin-bottom: -15px;
} */
/* #routine-container .hscroll{
    height: 110px;
    transition: all 0.25s;
}
#routine-container.all-done .hscroll{
    height: 0;
    opacity: 0;
}

.routine-tray{
    width: 100%;
    padding: 20px;
    padding-top: 10px;
} */

.routine-card{
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 12px;
    border-radius: 10px;
    flex-direction: column;
}
.routine-card .info{
    flex-direction: column;
    align-items: flex-start;
}

.routine-card .info .text{
    font-size: 14px;
    font-weight: 500;
}
.routine-card .info .subtext{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
}
.routine-card .icon{
    height: 32px;
    width: 32px;
    
    padding: 8px;
    border-radius: 20px;
    fill: white;
    transition: all 0.25s;
}
.routine-card.today-done .icon{
    transform: scale(0.75);
    filter: brightness(0.75);
}
.routine-card .check{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px;
    width: 15px;
    padding: 4px;
    border-radius: 100px;
    transform: scale(0);
    transition: all 0.25s;

}
.routine-card.today-done .check{
    transform: scale(1);
}

.routine-card .alldays{
    width: 100%;
}
.routine-card .alldays .item{
    flex-direction: column;
    cursor: default;
}
.routine-card .alldays .item .day{
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}
.routine-card .alldays .item .num{
    height: 22px;
    width: 22px;
    border-radius: 100px;

    font-size: 10px;
    font-weight: 400;
}
.routine-card .alldays .item .num.done{
    color: white;
}


/* .routine-card{
    flex-direction: column;
    height: 100%;

}
.routine-card .icon{
    height: 100px;
    width: 100px;
    padding: 30px;
    border-radius: 100px;
    transition: all 0.15s;
    fill: white;
}
.routine-card.done .icon{
    transform: scale(0.8);
}
.routine-card .check{
    position: absolute;
    top: calc(-5px + 100px - 30px);
    right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    padding: 6px;
    transition: all 0.15s;
}
.routine-card.undone  .check{
    transform: scale(0);
}
.routine-card p{
    font-size: 12px;
    font-weight: 400;
    width: 90px;
    text-align: center;
    flex-grow: 1;
    align-items: flex-start;
    cursor: default;
}
.routine-card.done .icon, .routine-card.done p{
    filter: brightness(0.5);
} */


.routine-other-container{
    width: calc(100% - 40px);
}
.routine-other-container a{
    padding: 10px 12px;
    cursor: default;
    border-radius: 8px;
    justify-content: flex-start;

    flex-basis: 80px;
    flex-grow: 1;
}
.routine-other-container a p{
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.routine-other-container a .icon{
    height: 12px;
    width: 12px;
}