#splash {
    width: 100%;
    min-height: calc(100vh - 60px);

    /* justify-content: flex-start; */
    flex-direction: column;

    /* background-color: red; */
}

#splash .limit {
    width: calc(100% - 60px);
    max-width: 1000px;
}

#splash .focus {
    flex-direction: column;
    cursor: default;
}


#splash .focus p {
    width: 100%;
    justify-content: flex-start;
}
#splash .focus p.text{
    font-size: 30px;
    font-weight: 600;
}
#splash .focus p.subtext{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}


#splash .focus-apps {
    width: 100%;
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 20px 30px;
}

#splash .app-card {
    min-width: 160px;
    flex-direction: column;
    align-items: flex-start;
}

#splash .app-card .textbox {
    padding: 0px 0px;
    margin-top: 8px;
}






.spotlight-tray {
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;

    background-color: var(--white-05);
}

@media screen and (prefers-color-scheme: light) {
    .spotlight-tray {
        background-color: var(--dark-layer-1-05);
    }
}

.spotlight-container {
    width: 100%;
    height: 50px;
    transition: all 0.1s;
    padding: 0px 15px;
}

#spotlight {
    height: 100%;
    flex-grow: 1;
    margin: 0px 10px;

    font-size: 18px;
    font-weight: 400;
}

.spotlight-container .icon {
    height: 14px;
    width: 14px;
}

#results {
    width: 100%;
    flex-direction: column;
    /* height: 2000px; */


    /* height: 10px; */
    width: 100%;
    /* background-color: red; */

    /* display: none; */
}

#results .divider {
    width: 100%;
    height: 8px;
    background-color: var(--white-05);
}

@media screen and (prefers-color-scheme: light) {
    #results .divider {
        background-color: var(--black-05);
    }
}


#splash #widget-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    column-gap: 10px;

    overflow-x: scroll;
    justify-content: flex-start;
}
#splash #widget-card .card-item{
    background-color: var(--white-05);
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

@media screen and (prefers-color-scheme: light) {
    #splash #widget-card .card-item {
        background-color: var(--dark-layer-1-05);
    }
}


#splash #widget-card #tasks-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0;
}


#splash #widget-card #tasks-card .item {
    width: 100%;
    justify-content: flex-start;
    padding: 8px 15px;
}
#splash #widget-card #tasks-card .item.done a {
    background-color: var(--white-20);
}

#splash #widget-card #tasks-card .item a {
    height: 8px;
    width: 8px;
    border-radius: 100px;

    background-color: var(--white-50);

}

@media screen and (prefers-color-scheme: light) {
    #splash #widget-card #tasks-card .item a {

    background-color: var(--dark-layer-1-20);
    }
}

#splash #widget-card #tasks-card .item input {
    flex-grow: 1;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
}

#splash #widget-card #tasks-card .line {
    width: 100%;
    height: 1px;
    background-color: white;
}


/*  */
#splash #widget-card .flight-countdown{
    flex-direction: column;
    align-items: flex-start;

    padding: 12px 15px;
}

#splash #widget-card .flight-countdown .top{
    width: 100%;
    align-items: flex-start;
}

#splash #widget-card .flight-countdown .logo.icon{
    width: 35px;
    height: 35px;
}

#splash #widget-card .flight-countdown .number{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.5;
}

#splash #widget-card .flight-countdown .dest{
    width: 100%;

    font-size: 14px;
    font-weight: 400;
}
#splash #widget-card .flight-countdown .dest .icon{
    height: 16px;
    width: 16px;
    padding: 2px;
    border-radius: 100px;
    transform: rotate(90deg);
}

#splash #widget-card .flight-countdown .count{
    font-size: 20px;
    font-weight: 400;
}
#splash #widget-card .flight-countdown .date{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.5;
}



#splash #widget-card .cal-card{
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 15px;
}
#splash #widget-card .cal-card .day{
    font-size: 12px;
    font-weight: 500;
}
#splash #widget-card .cal-card .date{
    font-size: 28px;
    font-weight: 300;
}

#splash #widget-card .cal-card .event{
    width: 100%;
    min-height: 20px;
    cursor: default;

    /* background-color: red; */
}
#splash #widget-card .cal-card .event .col-block{
    height: 100%;
    width: 4px;
    margin-right: 3px;
    border-radius: 100px;
    background-color: var(--col);
}
#splash #widget-card .cal-card .event .textbox{
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    padding: 5px 5px;

    border-radius: 3px;
    overflow: hidden;
}
#splash #widget-card .cal-card .event .textbox .bg{
    opacity: 0.25;
    /* filter: brightness(0.5) saturate(2); */
}
#splash #widget-card .cal-card .event.started .textbox .bg{
    opacity: 0.5;
}
#splash #widget-card .cal-card .event .textbox p{
    width: 100%;
    justify-content: flex-start;
}
#splash #widget-card .cal-card .event .textbox .name{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}
#splash #widget-card .cal-card .event .textbox .desc{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
}

#splash #widget-card .cal-card .event.future p{
    font-size: 12px;
    font-weight: 500;
}
#splash #widget-card .no-more{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
}





#splash #widget-card .world-clock{
    padding: 5px 0px;
    
    flex-direction: column;
}
#splash #widget-card .world-clock .row{
    width: calc(100% - 30px);
    margin: 0 15px;
}

#splash #widget-card .world-clock .row .left{
    flex-direction: column;
    align-items: flex-start;
}
#splash #widget-card .world-clock .row .left .offset{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 2px;
}
#splash #widget-card .world-clock .row .left .city{
    font-size: 12px;
    font-weight: 500;
}
#splash #widget-card .world-clock .row .time{
    font-size: 20px;
    font-weight: 300;
    margin: 12px 0;
}
#splash #widget-card .world-clock .hline{
    width: calc(100% - 15px);
    margin-left: 15px;
}