*{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
    background:#000000;
}

.hidden-always{
    display: none !important;
}

.title-fade{
    display: none;
}


.title-box{
    height: 100px;
    width: 100vw;
    
    display: flex;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 240px;

    overflow: hidden;
    box-sizing: border-box;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;

    align-content: flex-end;

    -webkit-backdrop-filter: blur(50px);
}



.title-text{
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    display: flex;
    align-self: flex-end;


}
.homepage-title{
    display: block;
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    background-color: transparent;
}
.homepage-subtitle{
    display: inline;
    font-weight: 400;
    font-size: 20px;
    color: #ffffffcc;
    background-color: transparent;
    height: 100px;
}
.date-box{
    height: auto;
    padding-top: 2px;
    width: fit-content;
}

.menu-title-box{

    display: flex;
    padding-top: 0px;
    padding-bottom: 15px;
    height: 100px;
    width: 100%;

    margin-bottom: 10px;


    width: 100vw;

    overflow: hidden;
    box-sizing: border-box;

    position: relative;
}

.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    background-color: rgba(28, 28, 30, 0.5);
    -webkit-backdrop-filter: blur(30px);
    overflow-x: hidden;
    padding: 0px 20px;
}
.title-sidebar{
    padding-left: 16px;
}
.sidebar-image{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-size: contain;
}

.menu-item-container{
    display: inline-flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 48px;
    border-radius: 16px;

    transition: 0.2s;
}
.menu-item{
    display: flex;
    justify-content: left;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    border-radius: 16px;
    transition: 0.2s;
    fill: #ffffffcc;
    color: #ffffffcc;
}
.menu-item-icon{
    margin-right: 16px;
    height: 16px;
    width: 16px;
    padding-left: 16px;
}
.menu-item-label{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}
.menu-item:hover{
    fill: #fff;
    color: #fff;
    transition: 0.2s;
}
.selected{
    color: #fff;
    fill: #fff;
    background: linear-gradient(to bottom right,#00ffff,#ff00ff);
}



.main{
    position: absolute;
    left: 50%;
    transform: translate(-340px,0px);
    background-color: #000;
    width: 900px;
}
::-webkit-scrollbar {
    display: none;
}








/* .big-button-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 70px;
    border-radius: 25px;

    transition: 0.2s;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.big-button{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    border-radius: 25px;
    transition: 0.2s;
    margin: 0px;
}
.big-button-icon{
    fill: #fff;
    margin-right: 8px;
    height: 20px;
    width: 20px;
}
.big-button-label{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.big-button:hover{
    opacity: 0.75;
    transition: 0.2s;
} */

.box{
    display: inline-block;
    box-sizing: border-box;
    width: 205px;
    background-color: #1c1c1e;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 15px 0px 0px 15px;
}
.oneRow{
    height: 130px;
}
.twoRow{
    height: 200px;
}
.threeRow{
    height: 270px;
}
.boxLabel{
    display: block;
    color: #fff;
    font-size: 20px;
}

.up70-70{
    position: relative;
    bottom: 70px;
}
.up60-120{
    position: relative;
    bottom: 60px;
}
.up70-0{
    position: relative;
    bottom: 70px;
}

.frozen{
    overflow: hidden;
}











.testBox{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

/*
tv images
*/
/* .tv-show{
    box-sizing: border-box;
    display: inline-block;
    height: 164px;
    width: 292px;
    background-size: cover;
    border-radius: 5px;
    padding: 0px;
    margin-right: 2px;
}

.fade-half{
    transform: translate(0,100%);
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(#00000000,#000000cc);
    padding: 0px;
} */

/* .tv-title{
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 24px;
    left: 10px;
    width: 163px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
/* .tv-subtitle{
    font-size: 8px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 163px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tv-play{
    font-size: 10px;
    color: #fff;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    cursor: pointer;

    height: 35px;
    width: 80px;
    border-radius: 15px;
    transition: 0.2s;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.tv-play:hover{
    opacity: 0.9;
}


.tv-page-background{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin-right: 0px;
}
.tv-blur{
    -webkit-backdrop-filter: blur(500px);
    height: 100%;
    width: 100%;
}
.tv-page-poster{
    background-size: contain;
    margin-left: 200px;
    height: 450px;
    width: 300px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 30px hsla(0, 0%, 0%, 0.3);
    position: relative;
    top: 100px;
    left: 100px;
}
.tv-page-title{
    color: #fff;
    font-size: 36px;
    position: relative;
    left: 300px;
    top: 120px;
    width: min-content;
}
*/


/*
.legion{
    background-color: #523b57;
    padding-left: 0px;
}
.legion-fade{
    transform: translate(0,100%);
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(#00000000,#523b57);
    padding: 0px;
}


.tv-page{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    padding-left: 200px;
}
.tv-background{
    background-size: cover;
    width: 100%;
    height: 80vh;


}
.tv-title-image{
    width: 500px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    
    background-size: contain;
    margin-left: 100px;
    transform: translate(50%,0);
}
*/




/*
icon colours
*/





/*
gradients
*/
.dashboard{
    background: linear-gradient(to bottom right,#00ffff,#ff00ff);
}
.school-gradient{
    background: linear-gradient(to bottom right,#D7C688,#a39667);
}



.black-gradient{
    background:linear-gradient(to bottom right,#1A1A1A,#000);
}
.green-gradient{
    background:linear-gradient(to bottom right,#34c759,#207a36);
}
.indigo-gradient{
    background:linear-gradient(to bottom right,#5856d6,#38378a);
}
.orange-gradient{
    background:linear-gradient(to bottom right,#ff9500,#b36800);
}
.red-gradient{
    background:linear-gradient(to bottom right,#ff3b30,#b32922);
}
.teal-gradient{
    background:linear-gradient(to bottom right,#5ac8fa,#3e8aad);
}
.yellow-gradient{
    background:linear-gradient(to bottom right,#ffcc00,#b38f00);
}
.white-gradient{
    background:linear-gradient(to bottom right,#fff,#e6e6e6);
}

















.outlook{
    background:linear-gradient(to bottom right,#0271C7,#01467a);
}
.onedrive{
    background:linear-gradient(to bottom right,#094AB2,#052A66);
}
.clickup{
    background:linear-gradient(to bottom right,#49ccf9,#7b68ee);
}

.foodpanda{
    background:linear-gradient(to bottom right,#D70E64,#8a0a41);
}
.deliveroo{
    background:linear-gradient(to bottom right,#00CCBC,#008075);
}
.hulu{
    background:linear-gradient(to bottom right,#040405,#183949);
}
.hulu-green{
    background:linear-gradient(to bottom right,#1ce783,#139c57);
}
.netflix{
    background:linear-gradient(to bottom right,#e50914,#99060d);
}
.youtube{
    background:linear-gradient(to bottom right,#f00,#b30000);
}
.reelgood{
    background:linear-gradient(to bottom right,#00dc89,#008f58);
}
.tv-time{
    background: #545454;
}
.pocket{
    background:linear-gradient(to bottom right,#EF3D55,#a32a3b);
}
.feedly{
    background:linear-gradient(to bottom right,#2bb24c,#18662c);
}
.twitter{
    background:linear-gradient(to bottom right,#1da1f2,#146ea6);
}
.clickup-teal{
    background:linear-gradient(to bottom right,#49ccf9,#328fad);
}
.clickup-purple{
    background:linear-gradient(to bottom right,#7b68ee,#5447a1);
}
.google-red{
    background:linear-gradient(to bottom right,#ea4335,#9e2f24);
}
.google-green{
    background:linear-gradient(to bottom right,#34a853,#1c5c2d);
}
.google-blue{
    background:linear-gradient(to bottom right,#4285f4,#2d5da8);
}
.walmart{
    background:linear-gradient(to bottom right,#0070DB,#004a8f);
}
.amazon{
    background:linear-gradient(to bottom right,#1E2631,#4c617d);
}
.reddit{
    background:linear-gradient(to bottom right,#ff4500,#b33000);
}
.linkedin{
    background:linear-gradient(to bottom right,#0c63c3,#073c75);
}

.icons8{
    background:linear-gradient(to bottom right,#1eb141,#116324);
}
.flaticon{
    background:linear-gradient(to bottom right,#0E2A47,#1e5794);
}
.duke-energy{
    background:linear-gradient(to bottom right,#14BCD9,#005986);
}
.slack{
    background:linear-gradient(to bottom right,#4A154B,#952a96);
}
.facebook{
    background:linear-gradient(to bottom right,#4267b2,#263b66);
}



/* @dark mode */

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
    .sidebar{
        background-color: rgba(242, 242, 247,0.5);
    }

    .menu-item{

        fill: rgba(0, 0, 0, 0.5);
        color: rgba(0, 0, 0, 0.5);
    }
 
    .menu-item:hover{
        fill: #000;
        color: #000;
    }
    .selected{
        color: #fff;
        fill: #fff;
    }
    .selected:hover{
        color: #fff;
        fill: #fff;
    }
}






/* tablet */

@media(max-width: 1000px){
    .hidden-tablet{
        display: none !important;
    }
    
    
    .sidebar{
        height: 100%;
        width: 48px;


        padding: 120px 8px 0;
    }
     
    .menu-item-container{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 48px;
        border-radius: 16px;
    }

    .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;

    
        border-radius: 16px;
    }
    .menu-item-icon{
        margin-right: 0;
        height: 16px;
        width: 16px;
        padding-left: 0;
    }
    .menu-item-label{
        display: none;
    }
    .selected{
        color: #fff;
        fill: #fff;
    }

    
    .title-box{
        padding-left: 84px;
    }

}


/* @mobile */
@media(max-width: 450px){
    .hidden-mobile{
        display: none !important;
    }
    .sidebar{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 95px;
        padding: 8px 0 28px;
        position: fixed;
        z-index: 10;
        top: auto;
        bottom: 0px;
        left: 0px;
        background: rgba(28,28,30,0.8);
        -webkit-backdrop-filter: blur(200px);
        overflow-x: hidden;
    }
    .sidebar-menu{
        height: 59px;
        width: 359px;
        display: flex;
        justify-content: space-evenly;
    }
    .menu-item{
        justify-content: center;
        border-radius: 20px;
    }
    .menu-item-container{
        width: 59px;
        height: 100%;
        border-radius: 20px;
        
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
    }
    .menu-item-label{
        display: none;
    }
    .menu-item-icon{
        padding: 0;
        margin: 0;
        margin: 40;
        width: 20px;
        height: 20px;
    }

    .title-box{   
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 10px;
        height: 110px;
    }

    
    /*.title-text{
        font-size: 30px;
    } */



    .main{
        position: absolute;
        top: 100px;
        left: 0;
        background-color:transparent;
        width: 100%;
        height: auto;
        transform: none;
        padding-bottom: 105px;
    }
   
 

    /*
    Dashboard
    */
    .date-box{
        padding-bottom: 20px;
    }



    
    
    /* .big-button-container{
        position: relative;
        left: 5px;

        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 0;
    } */








    .box{
        display: inline-block;
        box-sizing: border-box;
        width: 160px;
        background-color: #1c1c1e;
        margin-left: 15px;
        margin-right: 0px;
        margin-bottom: 10px;
        border-radius: 25px;
        padding: 15px 0px 10px 15px;
        position: relative;
        left: 5px;
    }
    .oneRow{
        height: 130px;
    }
    .twoRow{
        height: 200px;
    }
    .threeRow{
        height: 270px;
    }

    
    .up0-70{
        position: relative;
        bottom: 70px;
    }
    .up70-140{
        position: relative;
        bottom: 140px;
    }
    .up70-0{
        position: relative;
        bottom: 0px;
    }









    /*
    Media
    */
    .tv-show{
        box-sizing: border-box;
        display: inline-flex;
        height: 188px;
        width: 335px;
        background-size: cover;
        border-radius: 5px;
        padding: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }

    



    /*
    tv page
    */

    



   


    .frozen-mobile{
        overflow: hidden;
    }






    /* dark phone */

    @media screen and (prefers-color-scheme: light) {    
    
        
        /* menu */
        .sidebar{
            background-color: rgba(99, 99, 102, 0.9);
        }
        .menu-item{
            fill: #ffffffcc;
            color: #ffffffcc;
        }
        .menu-item:hover{
            fill: #fff;
            color: #fff;
        }
        .selected{
            fill: #fff;
            color: #fff;
        }
    }
}
