*{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
:root{
    --dark-layer-0: #000;
    --dark-layer-1: #1c1c1e;
    --dark-layer-2: #2c2c2e;
    --dark-layer-3: #3a3a3c;

    --light-layer-0: #fff;
    --light-layer-1: #f2f2f7;
    --light-layer-2: #e5e5ea;
    --light-layer-3: #d1d1d6;

    --black-100: #000;
    --white-100: #fff;

    --black-80: #000000cc;
    --white-80: #ffffffcc;

    --black-60: #00000099;
    --white-60: #ffffff99;

    --black-40: #00000066;
    --white-40: #ffffff66;

    --black-20: #00000033;
    --white-20: #ffffff33;

    --black-10: rgba(0, 0, 0, 0.1);
    --white-10: rgba(255, 255, 255, 0.1);



    --red-100: #ff3b30;
    --red-80: #ff3b30cc;

    --mobile-width: calc(100vw - 30px);
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--dark-layer-0);
    /* -webkit-appearance: none; */
    -webkit-tap-highlight-color: transparent;
    min-height: 100vh;
}

.hidden-always{
    display: none !important;
}

.wallpaper{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    /* background:linear-gradient(to bottom,#000033,#660000); */
    /* background:linear-gradient(to bottom,#537895,#09203f); */
    /* background:linear-gradient(to bottom,#28313b,#485461); */
    background:linear-gradient(to bottom right,#141E30,#243B55);

    /* background:linear-gradient(to bottom,#183949,#183949); */

    /* background: var(--dark-layer-1); */
    
    /* background: url('../images/wp-dark.png'); */
    background-size: cover;
    /* opacity: 0.5; */
}


.title-box{
    height: 75px;
    width: 100%;
    
    display: flex;
    position: fixed;
    margin-left: 70px;
    padding-left: 20px;
    padding-bottom: 15px;
    /* padding: 0px; */

    overflow: hidden;
    box-sizing: border-box;

    z-index: 50;

    align-content: flex-end;

    /* -webkit-backdrop-filter: blur(25px); */
}
.title-text{
    font-weight: 600;
    font-size: 30px;
    color: var(--white-100);
    background-color: transparent;
    display: flex;
    align-self: flex-end;

    cursor: default;
}


.subtitle-box{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
    background: transparent;
}
.subtitle-text{
    font-weight: 600;
    font-size: 20px;
    color: var(--white-100);
    background-color: transparent;
    cursor: default;
}



.sidebar{
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--black-40);
    -webkit-backdrop-filter: blur(25px);


}
.sidebar-blur{
    background-color: var(--black-20);
    -webkit-backdrop-filter: blur(250px);

}

.menu-item-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 15px;

    transition: 0.25s;
}
.menu-item{
    display: flex;
    justify-content: inherit;
    align-items: inherit;

    text-decoration: none;
    cursor: default;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: inherit;
    /* color: var(--white-60); */
}
.menu-item-icon{
    height: 16px;
    width: 16px;
    fill: var(--white-60);
    transition: 0.25s;

}
.menu-item:hover .menu-item-icon{
    fill: var(--white-100);

    transition: 0.25s;
}
.selected{
    background-color: var(--white-10);
}
.selected .menu-item-icon{
    fill: var(--red-100);
}
.selected:hover .menu-item-icon{
    fill: var(--red-100);
}




.main-container{
    overflow: hidden;
    max-width: 100vw;
}

.main{
    position: absolute;
    top: 75px;
    left: 0px;

    width: calc(100vw - 110px);
    height: calc(100vh - 95px);

    border-radius: 20px;

    margin-left: 90px;
    /* margin-right: 20px; */
    padding: 0;

    box-sizing: border-box;

    z-index: 1;


    white-space: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;

    transition: 0.25s;
}
.main-left{
    left: calc(90px - 100vw);
    transition: 0.25s;
}
.main-right{
    left: calc(100vw - 90px);
    transition: 0.25s;
}



.scrolling-wrapper{
    width: 100vw;
    /* height: 125px; */
    box-sizing: border-box;

    align-items: center;
    position: relative;
    z-index: 1;
    /* left: -70px; */

    /* padding-left: 90px; */
    padding-right: 10px;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    /* display: inline-flex; */
}
.scrolling-wrapper-padded{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.scrolling-wrapper-flex{
    display: flex;
}

.app-tray-container{
    width: 100%;

    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin-top: 20px;

    border-radius: 20px;

    padding-bottom: 15px;

    -webkit-backdrop-filter: blur(50px);
    background: var(--black-20);
    overflow: hidden;
}


.app-tray-wrapper{
    width: 100%;
    box-sizing: border-box;

    align-items: center;
    position: relative;

    padding-left: 15px;
    padding-right: 5px;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

}

.media-wrapper{
    width: 100%;
    box-sizing: border-box;

    align-items: center;
    position: relative;

    padding-left: 15px;
    padding-right: 5px;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}






.app-tray-text-box{
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;

    /* position: -webkit-sticky; */
}
.app-tray-text{
    font-weight: 500;
    font-size: 16px;
    color: var(--white-100);
    cursor: default;
}









.app-container{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 162.5px;
    height: 115px;
    border-radius: 25px;
    /* background: var(--dark-layer-1); */

    margin-right: 10px;

    scroll-snap-align: none;
    scroll-margin-left: 90px;
}
.app-container:hover .app-icon-container{
    width: 64px;
    height: 64px;

    margin-top: -3px;
    margin-left: -3px;

    transition: 0.25s;
}


.app-icon-container{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    top: 15px;
    left: 15px;

    width: 58px;
    height: 58px;
    border-radius: 25px;

    transition: 0.25s;

    background-color: var(--black-20);
}
.app-icon{
    fill: var(--white-100);
    height: 22px;
    width: 22px;
    transition: 0.25s;
    /* background-size: contain; */
}
.app-text{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    bottom: 15px;
    left: 15px;
    padding-left: 5px;

    transition: inherit;

    color: var(--white-100);
    font-size: 14px;
    font-weight: 600;
}
.app-link{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    top: 0px;
    left: 0px;

    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: 3;
}


.anchor-tray{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 20px;

    position: relative;
    z-index: 1;
    /* left: -70px; */

    /* margin-top: 10px; */


    /* padding-left: 90px; */
    padding-right: 10px;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.anchor-container{
    height: 100%;
    border-radius: 20px;

    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;

    background-color: var(--black-60);
    -webkit-backdrop-filter: blur(15px);
    transition: 0.25s;
}
.anchor-container:hover .anchor-icon-box{
    fill: var(--red-100);
    transition: 0.25s;
}
.anchor-container:hover .anchor-text{
    color: var(--white-100);
    transition: 0.25s;
}
.anchor-icon-box{
    height: 20px;
    width: 20px;

    fill: var(--red-80);
    transition: 0.25s;
}
.anchor-text-box{
    margin-left: 10px;
    height: 40px;
    display: inline-flex;
    position: relative;
    align-content: center;
}
.anchor-text{
    display: inline-flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;

    font-size: 14px;
    font-weight: 500;
    color: var(--white-60);
    transition: 0.25s;
}
.anchor-button{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    cursor: default;
}




.background-blur{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 5;
    /* background-color: #ffffff33; */
    /* -webkit-transition: all 0.25s; */
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}
.background-blur-show{
    -webkit-backdrop-filter: blur(10px);
    background: var(--black-60);
    /* transition: 0.25s; */

}
.background-blur-hide{ 
    -webkit-backdrop-filter: none;
    background: none;
    /* transition: 0.2s; */
    /* transition-delay: 0.1s; */
}


.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 200;
  left: 0;
  top: 0vh;
  width: 100%; 
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
  transform-origin: bottom center;
  /* transition: opacity 0.25s; */
}


.app-popup-open{
    /* top: 0%; */
    /* transition: 0.2s; */
    scale: 1;
    opacity: 1;
}
.app-popup-closed{
    pointer-events: none;
    /* top: 100% !important; */
    /* transition: 0.2s; */
    opacity: 0;
    scale: 0.9;
}
.app-popup-modal{
    display: block;
    position: relative;
    align-self: flex-end;

    width: 100vw;
    height: auto;
    max-height: 90vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 40pt; */
    transition: all 0.2s;
    z-index: 5;
    justify-self: center;
}
.app-popup-tab{
    display: block;
    position: absolute;
    justify-self: center;

    width: 100%;
    height: 100%;

    z-index: 4;
}

.app-popup-card{
    height: 100%;
    width: 100%;
    border-radius: inherit;

    /* padding: 5vw 5vw 0 5vw; */
    box-sizing: border-box;

    position: relative;


    vertical-align: top;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 10vw;

    box-shadow: 0 0 30px var(--black-100);
    -webkit-backdrop-filter: blur(100px);
    background: var(--white-10);

    overflow: hidden;
}


@media(min-width: 450px){    

    .app-popup-modal{
        display: block;
        position: relative;
        align-self: flex-end;
    
        width: 80vw;

        height: auto;
        max-height: 90vh;
        /* border-top-left-radius: 50px; */
        /* border-top-right-radius: 50px; */
        /* border-radius: 40pt; */
        z-index: 5;
        /* overflow: hidden; */
    }
    .app-popup-tab{
        display: block;
        position: absolute;
        justify-self: center;
        /* height: 10px; */
    
        /* margin-bottom: 2.5vw; */
        /* margin-left: 40vw; */
        width: 100%;
        height: 100%;
        /* background-color: #ff00ff33; */
        /* border-radius: 10px; */
        z-index: 4;
    }
    
    .app-popup-card{
        height: 100%;
        width: 100%;
        border-radius: inherit;
    
        padding: 0vw;
        box-sizing: border-box;
    
        position: relative;
    
    
        vertical-align: top;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    
        box-shadow: 0 0 30px var(--black-100);
    
        overflow: hidden;
    }
}





















/* @dark mode */

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--light-layer-0);
    }
    .sidebar{
        /* background-color: var(--white-40); */
    }
    .sidebar-blur{
        background-color: var(--white-20);
    }
    .title-text{
        color: var(--dark-layer-1);
    }
    .app-tray-text{
        color: var(--dark-layer-1);
    }
    .wallpaper{
        /* background: url('../images/wp-light.jpg'); */
        /* background:linear-gradient(to bottom,#B7F8DB,#50A7C2); */
        background:linear-gradient(to bottom right,#a88beb,#0ED2F7);

        /* background: blue; */
        background-size: cover;
    }

    /* .menu-item-icon{
        fill: var(--black-60);
    
    }
    .menu-item:hover .menu-item-icon{
        fill: var(--black-100);
    }
    .selected:hover .menu-item-icon{
        fill: var(--red-100);
    }
    .selected{
        background-color: var(--black-10);
    } */
    .subtitle-text{
        color: var(--dark-layer-1);
    }
    .app-tray-container{
        background: var(--white-20);
    }

    .app-popup-card{
        background: var(--white-20);
    }



    .app-icon-container{
        background-color: var(--white-20);
    }
    .anchor-container{
        background-color: var(--white-60);
    }
    .anchor-text{
        color: var(--black-60);
    }
    .anchor-container:hover .anchor-text{
        color: var(--black-100);
    }
}

@media(min-width: 1100px){
    .hidden-desktop{
        display: none !important;
    }
}

@media(max-width: 1100px) and (min-width: 450px){
    .hidden-tablet{
        display: none !important;
    }
}



/* @mobile */
@media(max-width: 450px){
    .hidden-mobile{
        display: none !important;
    }
    .main{
        top: 130px;

        width: calc(100vw - 30px);
        height: calc(100vh - 25vw - 145px);

        margin-left: 15px;
    }
    .main-left{
        left: calc(30px - 100vw);
    }
    .main-right{
        left: calc(100vw - 30px);
    }



    .notch-box{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 100%;
        z-index: 5;
        -webkit-backdrop-filter: blur(10px);
        background-color: var(--black-60);
    }
    .title-box{   
        height: 115px;

        margin-left: 0px;
        padding-left: 15px;
        background-color: var(--black-40);
    }

    .subtitle-box{
        /* box-sizing: border-box; */
        padding-left: 0;
        /* padding-top: 20px; */
        /* padding-bottom: 10px; */
        /* margin: 0; */
        /* width: 100%; */
        /* background: transparent; */
    }



    .sidebar{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 25vw;
        padding: 0px 2.5vw 6vw;
        position: fixed;
        z-index: 100;
        top: auto;
        bottom: 0px;
    }
    .sidebar-menu{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .menu-item-container{
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }
    .menu-item-icon{
        height: 5.5vw;
        width: 5.5vw;
    }
    .selected{
        background-color: transparent;
    }
    .menu-item .menu-item-icon{
        transition: 0s;
    }
    .menu-item:hover .menu-item-icon{
        fill: var(--red-100);
    
        transition: 0s;
    }
    .selected .menu-item-icon{
        fill: var(--red-100);
    }
    .selected:hover .menu-item-icon{
        fill: var(--red-100);
    }
   

    

    
    

    
    .scrolling-wrapper{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        left: 0px;
    }




    .app-tray-container{
        width: 100%;
    
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;

        -webkit-backdrop-filter: blur(25px);
    }
    
    



    .app-container{
        width: 70px;
        height: 70px;
        border-radius: 25px;
    
        margin-right: 10px;
    
        transition: 0.1s;

        /* scroll-snap-align: none; */
        /* scroll-margin-left: 90px; */
    }
    /* .app-container:hover{
        width: 66px;
        height: 66px;
    
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 12px;
        
        transition: 0.1s;
    } */

    .app-container:hover .app-icon-container{
        width: 100%;
        height: 100%;
    
        margin-top: 0px;
        margin-left: 0px;
    
        transition: 0.25s;
    }
    
    
    .app-icon-container{
        top: 0px;
        left: 0px;
    
        width: 100%;
        height: 100%;
        border-radius: inherit;
    
        transition: 0.25s;
    
        background: transparent;
    }
    .app-icon{
        fill: var(--white-100);
        height: 25px;
        width: 25px;
        transition: 0.25s;
    }
    .app-text{
        display: none;
    }













    .anchor-tray{
        padding-left: 0;
        padding-right: 5px;

        left: 0px;
    }

    @media screen and (prefers-color-scheme: light) {

        .notch-box{
            background-color: var(--white-60);
        }
    }
}
