*{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background:#000000;
}

.hidden-always{
    display: none !important;
}

.title-box{
    height: 75px;
    width: 100%;
    
    display: flex;
    padding-top: 0px;
    /* padding-bottom: 15px; */
    padding-left: 20px;

    overflow: hidden;
    box-sizing: border-box;

    /* position: fixed; */
    left: 0;
    top: 0;
    z-index: 50;

    align-content: flex-end;

    /* background-color: rgba(28, 28, 30, 0.8); */
    -webkit-backdrop-filter: blur(25px);

}
.title-text{
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    display: flex;
    align-self: flex-end;


}

.home-bar{
    background: rgba(128, 128, 255, 0.9);
}
.bookmarks-bar{
    background: rgba(42, 161, 72, 0.9);
}
.school-bar{
    background: rgba(189, 174, 120, 0.9);
}
.media-bar{
    background: rgba(217, 50, 41, 0.9);
}
.work-bar{
    background: rgba(217, 174, 0, 0.9);
}

.home-icon{
    fill: rgba(128, 128, 255, 0.9);
}
.bookmarks-icon{
    fill: rgba(42, 161, 72, 0.9);
}
.school-icon{
    fill: rgba(189, 174, 120, 0.9);
}
.media-icon{
    fill: rgba(217, 50, 41, 0.9);
}
.work-icon{
    fill: rgba(217, 174, 0, 0.9);
}

.home-title{
    color: rgba(128, 128, 255, 0.9);
}
.bookmarks-title{
    color: rgba(42, 161, 72, 0.9);
}
.school-title{
    color: rgba(189, 174, 120, 0.9);
}
.media-title{
    color: rgba(217, 50, 41, 0.9);
}
.work-title{
    color: rgba(217, 174, 0, 0.9);
}



.subtitle-box{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
    background: transparent;
}
.subtitle-text{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
}



.sidebar{
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    /* background-color: rgba(28, 28, 30, 0.75); */
    overflow-x: hidden;
    padding-top: 110px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(28, 28, 30, 1);


}
.sidebar-blur{
    background-color: rgba(28, 28, 30, 0.25);
    -webkit-backdrop-filter: blur(250px);

}

.menu-item-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 15px;

    transition: 0.25s;
}
.menu-item{
    display: flex;
    justify-content: inherit;
    align-items: inherit;

    text-decoration: none;
    cursor: default;

    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: inherit;
    fill: #ffffff99;
    color: #ffffff99;
}
.menu-item-icon{
    height: 16px;
    width: 16px;
}
.menu-item:hover{
    fill: #fff;
    color: #fff;
    transition: inherit;
}
.selected{
    /* color: #fff; */
    /* fill: #fff; */
    background-color: rgba(255, 255, 255, 0.1);
}



.main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding-left: 70px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;

    min-height: 100vh;
    z-index: 1;
}

.scrolling-wrapper{
    width: 100vw;
    /* height: 125px; */
    box-sizing: border-box;

    position: relative;
    z-index: 1;
    left: -70px;

    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -50px;
    margin-bottom: -50px;


    padding-left: 90px;
    padding-right: 10px;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    /* background-color: rgba(28, 28, 30, 0.5); */
}
.app-container{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 162.5px;
    height: 115px;
    border-radius: 25px;
    /* background: #1c1c1e; */

    margin-right: 10px;

    scroll-snap-align: none;
    scroll-margin-left: 90px;
}
.app-container:hover .app-icon-container{
    width: 64px;
    height: 64px;

    margin-top: -3px;
    margin-left: -3px;

    transition: 0.25s;
}


.app-icon-container{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* cursor: pointer; */

    top: 15px;
    left: 15px;

    width: 58px;
    height: 58px;
    border-radius: 25px;

    transition: 0.25s;

    background: #1c1c1e33;
    /* -webkit-backdrop-filter: blur(100px); */


}
.app-icon{
    fill: #fff;
    height: 22px;
    width: 22px;
    transition: 0.25s;
    /* background-size: contain; */
}
.app-text{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    bottom: 15px;
    left: 15px;
    padding-left: 5px;

    transition: inherit;
    /* background: #00ff0080; */

    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.app-link{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    top: 0px;
    left: 0px;

    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: 3;

    /* background: #00ff0080; */
}


.anchor-tray{
    width: 100vw;
    height: 70px;
    box-sizing: border-box;

    position: relative;
    z-index: 1;
    left: -70px;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: -5px;


    padding-left: 90px;
    padding-right: 10px;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    /* background-color: rgba(28, 28, 30, 0.5); */
}
.anchor-container{
    height: 100%;
    border-radius: 15px;

    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;

    background-color: #1c1c1e;
}
.anchor-icon-box{
    height: 20px;
    width: 20px;

    fill: #ffffffcc;
}
/* .anchor-icon{
    fill: #ffffffcc;
    height: 20px;
    width: 20px;
} */
.anchor-text-box{
    margin-left: 10px;
    height: 40px;
    display: inline-flex;
    position: relative;
    align-content: center;
}
.anchor-text{
    display: inline-flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;

    font-size: 14px;
    font-weight: 500;
    color: #ffffffcc;
}
.anchor-button{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    cursor: pointer;

    /* background-color: #ffffff33; */
}










.frozen{
    overflow: hidden;
}











.testBox{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}



/*
icons
*/




/*
gradients
*/

.home-gradient{
    background: linear-gradient(to bottom right,#00ffff,#ff00ff) !important;
}
.school-gradient{
    background: linear-gradient(to bottom right,#D7C688,#a39667);
}

.grey-gradient{
    background:linear-gradient(to bottom right,#101010,#1c1c1e);
}
.black-gradient{
    background:linear-gradient(to bottom right,#1A1A1A,#000);
}
.green-gradient{
    background:linear-gradient(to bottom right,#34c759,#207a36);
}
.indigo-gradient{
    background:linear-gradient(to bottom right,#5856d6,#38378a);
}
.orange-gradient{
    background:linear-gradient(to bottom right,#ff9500,#b36800);
}
.red-gradient{
    background:linear-gradient(to bottom right,#ff3b30,#b32922);
}
.teal-gradient{
    background:linear-gradient(to bottom right,#5ac8fa,#3e8aad);
}
.yellow-gradient{
    background:linear-gradient(to bottom right,#ffcc00,#b38f00);
}
.white-gradient{
    background:linear-gradient(to bottom right,#fff,#e6e6e6);
}

















.outlook{
    background:linear-gradient(to bottom right,#0271C7,#01467a);
}
.outlook-blue{
    background:linear-gradient(to bottom right,#7040FF,#4e2db3);
}
.outlook-red{
    background:linear-gradient(to bottom right,#DC3B1B,#8f2611);

}


.onedrive{
    background:linear-gradient(to bottom right,#094AB2,#052A66);
}
.clickup{
    background:linear-gradient(to bottom right,#49ccf9,#7b68ee);
}

.foodpanda{
    background:linear-gradient(to bottom right,#D70E64,#8a0a41);
}
.deliveroo{
    background:linear-gradient(to bottom right,#00CCBC,#008075);
}
.hulu{
    background:linear-gradient(to bottom right,#040405,#183949);
}
.hulu-green{
    background:linear-gradient(to bottom right,#1ce783,#139c57);
}
.netflix{
    background:linear-gradient(to bottom right,#e50914,#99060d);
}
.youtube{
    background:linear-gradient(to bottom right,#f00,#b30000);
}
.reelgood{
    /* background:linear-gradient(to bottom right,#00dc89,#008f58); */
    background: #00dc89;
}
.tv-time{
    background: #545454;
}
.pocket{
    background:linear-gradient(to bottom right,#EF3D55,#a32a3b);
}
.feedly{
    background:linear-gradient(to bottom right,#2bb24c,#18662c);
}
.twitter{
    background:linear-gradient(to bottom right,#1da1f2,#146ea6);
}
.clickup-teal{
    background:linear-gradient(to bottom right,#49ccf9,#328fad);
}
.clickup-purple{
    background:linear-gradient(to bottom right,#7b68ee,#5447a1);
}
.google-red{
    background:linear-gradient(to bottom right,#ea4335,#9e2f24);
}
.google-green{
    background:linear-gradient(to bottom right,#34a853,#1c5c2d);
}
.google-blue{
    background:linear-gradient(to bottom right,#4285f4,#2d5da8);
}
.google-maps{
    background:linear-gradient(to bottom right,#9BC0F9,#6c86ad);
}
.walmart{
    background:linear-gradient(to bottom right,#0070DB,#004a8f);
}
.amazon{
    background:linear-gradient(to bottom right,#1E2631,#4c617d);
}
.reddit{
    background:linear-gradient(to bottom right,#ff4500,#b33000);
}
.linkedin{
    background:linear-gradient(to bottom right,#0c63c3,#073c75);
}

.icons8{
    background:linear-gradient(to bottom right,#1eb141,#116324);
}
.flaticon{
    background:linear-gradient(to bottom right,#0E2A47,#1e5794);
}
.duke-energy{
    background:linear-gradient(to bottom right,#14BCD9,#005986);
}
.slack{
    background:linear-gradient(to bottom right,#4A154B,#952a96);
}
.facebook{
    background:linear-gradient(to bottom right,#4267b2,#263b66);
}
.imdb{
    background: #F5C518;
}
.hbo{
    background:linear-gradient(to bottom right,#991eeb,#5822b4);
}
.prime{
    background:linear-gradient(to bottom right,#00a8e1,#00a8e1);
}
.whatsapp{
    background:linear-gradient(to bottom right,#25d366,#188741);
}
.messenger{
    background:linear-gradient(to bottom right,#0084ff,#005cb3);
}
.apple-gradient{
    background:linear-gradient(to bottom right,#A2AAAD,#5b5f61);
}
.ivytech{
    background:linear-gradient(to bottom right,#006648,#00b37d);
}
.canvas{
    background:linear-gradient(to bottom right,#e43d30,#b02e25);
}


/* MEDIA */

.tv-time-text{
    color: #FBD736 !important;
}
.black-text{
    color: #000 !important;
}
.hulu-solid{
    background: #1ce783;
}





/* @dark mode */

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #f2f2f7;
    }
    .sidebar{
        background-color: rgba(229, 229, 234, 1);
    }
    .sidebar-blur{
        background-color: rgba(229, 229, 234, 0.25);
    }
    .title-box{
        background: rgba(229, 229, 234, 0.8);
    }


    .menu-item{
        fill: #1c1c1e80;
        color: #1c1c1e80;
    }
 
    .menu-item:hover{
        fill: #1c1c1e;
        color: #1c1c1e;
    }

    .selected{
        /* color: #fff; */
        /* fill: #fff; */
        background-color: rgba(0, 0, 0, 0.1);
    }

    .subtitle-text{
        color: #1c1c1e;
    }
    .app-icon-container{
        background: #e5e5ea33;
    }
    /* .app-text{
        color: #1c1c1e;
    } */
}





/* @mobile */
@media(max-width: 450px){
    .hidden-mobile{
        display: none !important;
    }

    .main{
        padding-top: 0px;    
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30vw;
    }
    .notch-box{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 100%;
        z-index: 5;
        -webkit-backdrop-filter: blur(20px);
        background-color: #00000099;
    }
    .title-box{   
        padding-left: 5vw;
        padding-right: 0;
        padding-bottom: 0px;
        height: 100px;
        /* -webkit-backdrop-filter: blur(20px); */
        /* background: rgba(28, 28, 30, 0.8); */
    }


    .title-text{
        font-size: 30px;
    }


    .subtitle-box{
        /* box-sizing: border-box; */
        padding-left: 5vw;
        /* padding-top: 20px; */
        /* padding-bottom: 10px; */
        /* margin: 0; */
        /* width: 100%; */
        /* background: transparent; */
    }



    .sidebar{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 25vw;
        padding: 0px 2.5vw 6vw;
        position: fixed;
        z-index: 100;
        top: auto;
        bottom: 0px;
        /* background-color: rgba(28, 28, 30, 1); */
        /* -webkit-backdrop-filter: blur(200px); */
        /* border-top-left-radius: 5vw;
        border-top-right-radius: 5vw; */
    }
    .sidebar-menu{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .menu-item-container{
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }
    .menu-item-icon{
        height: 5.5vw;
        width: 5.5vw;
    }
    .selected{
        /* background-color: rgba(255, 255, 255, 0.1); */
        background: transparent;
    }

   

    

    
    

    
    .scrolling-wrapper{
        padding-left: 5vw;
        padding-right: 2.5vw;

        left: 0px;
    }
    .app-container{
        /* scroll-snap-align: start; */
        scroll-margin-left: 5vw;
    }

    .anchor-tray{
        padding-left: 5vw;
        padding-right: 2.5vw;

        left: 0px;
    }
    /* .anchor-container{

    } */

    @media screen and (prefers-color-scheme: light) {

        .notch-box{
            background-color: #ffffffcc;
        }   
    }
}
