.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    grid-column: 1 / -1;
    box-shadow: 0 0 30px #00000022;
    z-index: 1;

    padding: 0px 10px;
}

.topbar .item {
    height: 35px;
    padding: 0 10px;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 300;

    cursor: default;
}
.topbar .item .icon {
    height: 18px;
    width: 18px;
}

.topbar .side {
    height: 100%;
    flex-grow: 1;
    min-width: 100px;
}

.topbar .quick-apps {
    height: 100%;
}
@media(max-width: 450px) {
    .topbar .quick-apps {
        display: none;
    }

}

#dnd.item .icon{
    transition: all 0.5s;
}