.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(50px + env(safe-area-inset-top));;
    /* box-shadow: 0 0 30px #00000022; */
    z-index: 1;
    padding: env(safe-area-inset-top) 10px 0;
    border-bottom: solid 1px var(--white-10);
}
@media screen and (prefers-color-scheme: light) {
    .topbar {
        border-bottom: solid 1px var(--black-10);
    }
}

.topbar .item {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    cursor: default;
}
.topbar .item .icon {
    height: 24px;
    width: 24px;
    opacity: 0.8;
}


.topbar .item:hover .hover-detail{
    opacity: 1;
}
.topbar .item .hover-detail{
    position: absolute;
    top: calc(100% + 5px);

    padding: 5px 8px;
    border-radius: 5px;

    font-size: 10px;
    font-weight: 500;

    box-shadow: 0 0 5px var(--black-50);
    pointer-events: none;

    transition: inherit;
    opacity: 0;
    white-space: nowrap;
}
@media screen and (prefers-color-scheme: light) {
    .topbar .item .hover-detail{
        box-shadow: 0 0 5px var(--black-30);
    }
}







.topbar .side {
    height: 100%;
    flex-grow: 1;
    min-width: 150px;
}

@media(max-width: 450px) {
    .topbar .quick-apps {
        display: none;
    }

}
#dnd.item .icon{
    transition: all 0.5s;
