/* books */
.homodeus-solid{
    background-color: #190e10;
}
.homodeus-gradient{
    background: linear-gradient(#00000000,#190e10);
}
.homodeus-cover{
    background-image: url('../books/homo\ deus.jpg');
}

.ride-solid{
    background-color: #615c5c;
}
.ride-gradient{
    background: linear-gradient(#00000000,#615c5c);
}
.ride-cover{
    background-image: url('../books/ride\ of\ a\ lifetime.jpg');
}

.martian-solid{
    background-color: #ca6932;
}
.martian-cover{
    background-image: url('../books/martian.jpg');
}

.speechless-cover{
    background-image: url('../books/speechless.jpg');
}
.west-cover{
    background-image: url('../books/west.jpg');
}
.four-cover{
    background-image: url('../books/four.jpg');
}
.rules-cover{
    background-image: url('../books/rules.jpg');
}
.gweilo-cover{
    background-image: url('../books/gweilo.jpg');
}
.culture-cover{
    background-image: url('../books/culture.jpg');
}
.code-cover{
    background-image: url('../books/code.jpg');
}
.split-cover{
    background-image: url('../books/split.jpg');
}
.jordan-cover{
    background-image: url('../books/jordan.jpg');
}
.expats-cover{
    background-image: url('../books/expats.jpg');
}


/* podcasts */

.acquired-solid{
    background-color: #0b1312;
}
.acquired-cover{
    background-image: url('../podcasts/acquired.jpeg');
}

.economist-solid{
    background-color: #751612;
}
.economist-cover{
    background-image: url('../podcasts/economist.jpeg');
}

.inet-solid{
    background-color: #93969e;
}
.inet-cover{
    background-image: url('../podcasts/inet.jpeg');
}

.lex-solid{
    background-color: #2e2c2a;
}
.lex-cover{
    background-image: url('../podcasts/lex.jpeg');
}

.pivot-solid{
    background-color: #958988;
}
.pivot-cover{
    background-image: url('../podcasts/pivot.jpeg');
}

.samharris-solid{
    background-color: #3e3d3c;
}
.samharris-cover{
    background-image: url('../podcasts/samharris.jpeg');
}

.sway-solid{
    background-color: #945877;
}
.sway-cover{
    background-image: url('../podcasts/sway.jpeg');
}

.yang-solid{
    background-color: #143b65;
}
.yang-cover{
    background-image: url('../podcasts/yang.jpeg');
}

.founders-cover{
    background-image: url('../podcasts/founders-journal.jpeg');
}
.canto-cover{
    background-image: url('../podcasts/canto.jpeg');
}
.waveform-cover{
    background-image: url('../podcasts/waveform.jpeg');
}

/* news */

.nomercy-bg{
    background-image: url('../news/nomercy.jpg');
}
.sidekick-bg{
    background-color: #3539A9;
}
.sidekick-fg{
    background-image: url('../news/sidekick.png');
}
.brew-fg{
    background-image: url('../news/brew.png');
}
.citylab-fg{
    background-image: url('../news/citylab.svg');
}
.techbrew-fg{
    background-image: url('../news/techbrew.png');
}

/* youtube */

.wendover-bg{
    background-image: url('../media-image/wendover.jpg');
    background-size: 200%;
}
.realeng-bg{
    background-image: url('../media-image/realeng.png');
    background-size: 160%;
}

.fargo-solid{
    background-color: #28374E;
}
.fargo-gradient{
    background: linear-gradient(#00000000,#28374E);
}
.fargo-poster{
    background-image: url('../TV/background/fargo.jpeg');
}
.fargo-title{
    background-image: url('../TV/title/fargo.png');
}

.atlanta-solid{
    background-color: #584029;
}
.atlanta-gradient{
    background: linear-gradient(#00000000,#584029);
}
.atlanta-poster{
    background-image: url('../TV/background/atlanta.webp');
}
.atlanta-title{
    background-image: url('../TV/title/atlanta.png');
}

.snowfall-solid{
    background-color: #1A114D;
}
.snowfall-gradient{
    background: linear-gradient(#00000000,#1A114D);
}
.snowfall-poster{
    background-image: url('../TV/background/snowfall.jpeg');
}
.snowfall-title{
    background-image: url('../TV/title/snowfall.png');
}

.mythic-solid{
    background-color: #2F322F;
}
.mythic-gradient{
    background: linear-gradient(#00000000,#2F322F);
}
.mythic-poster{
    background-image: url('../TV/background/mythic.webp');
}
.mythic-title{
    background-image: url('../TV/title/mythic.png');
}

.spy-solid{
    background-color: #7f6b57;
}
.spy-gradient{
    background: linear-gradient(#00000000,#7f6b57);
}
.spy-poster{
    background-image: url('../TV/background/spy.jpg');
}
.spy-title{
    background-image: url('../TV/title/spy.png');
}

.always-solid{
    background-color: #5c666a;
}
.always-gradient{
    background: linear-gradient(#00000000,#5c666a);
}
.always-poster{
    background-image: url('../TV/background/always.jpg');
}
.always-title{
    background-image: url('../TV/title/always.png');
}

.twinpeaks-solid{
    background-color: #300;
}
.twinpeaks-gradient{
    background: linear-gradient(#00000000,#330000);
}
.twinpeaks-poster{
    background-image: url('../TV/background/twinpeaks.jpg');
}
.twinpeaks-title{
    background-image: url('../TV/title/twin\ peaks.png');
}

.kim-solid{
    background-color: #1F4152;
}
.kim-gradient{
    background: linear-gradient(#00000000,#1F4152);
}
.kim-poster{
    background-image: url('../TV/background/kim.webp');
}
.kim-title{
    background-image: url('../TV/title/kim.svg');
}

.legion-solid{
    background-color: #870093;
}
.legion-gradient{
    background: linear-gradient(#00000000,#870093);
}
.legion-poster{
    background-image: url('../TV/background/legion.jpg');
}
.legion-title{
    background-image: url('../TV/title/legion.png');
}

.chernobyl-solid{
    background-color: #86a097;
}
.chernobyl-gradient{
    background: linear-gradient(#00000000,#86a097);
}
.chernobyl-poster{
    background-image: url('../TV/background/chernobyl.jpg');
}
.chernobyl-title{
    background-image: url('../TV/title/chernobyl.svg');
}

.mindhunter-solid{
    background-color: #838383;
}
.mindhunter-gradient{
    background: linear-gradient(#00000000,#838383);
}
.mindhunter-poster{
    background-image: url('../TV/background/mindhunter.webp');
}
.mindhunter-title{
    background-image: url('../TV/title/mindhunter.svg');
}

.mankind-solid{
    background-color: #3e587a;
}
.mankind-gradient{
    background: linear-gradient(#00000000,#3e587a);
}
.mankind-poster{
    background-image: url('../TV/background/mankind.webp');
}
.mankind-title{
    background-image: url('../TV/title/mankind.png');
}

.drive-solid{
    background-color: #4d5372;
}
.drive-gradient{
    background: linear-gradient(#00000000,#4d5372);
}
.drive-poster{
    background-image: url('../TV/background/drive.webp');
}
.drive-title{
    background-image: url('../TV/title/drive.png');
}

.schulz-solid{
    background-color: #3e3533;
}
.schulz-gradient{
    background: linear-gradient(#00000000,#3e3533);
}
.schulz-poster{
    background-image: url('../TV/background/schulz.webp');
}
.schulz-title{
    background-image: url('../TV/title/schulz.png');
}


.grandTour-solid{
    background-color: #C05D38;
}
.grandTour-gradient{
    background: linear-gradient(#00000000,#C05D38);
}
.grandTour-poster{
    background-image: url('../TV/background/grandTour.webp');
}
.grandTour-title{
    background-image: url('../TV/title/grandTour.svg');
}

.lineofduty-solid{
    background-color: #262841;
}
.lineofduty-gradient{
    background: linear-gradient(#00000000,#262841);
}
.lineofduty-poster{
    background-image: url('../TV/background/line.webp');
}
.lineofduty-title{
    background-image: url('../TV/title/line.png');
}

.gameofthrones-solid{
    background-color: #4e3e46;
}
.gameofthrones-gradient{
    background: linear-gradient(#00000000,#4e3e46);
}
.gameofthrones-poster{
    background-image: url('../TV/background/gameofthrones.jpg');
}
.gameofthrones-title{
    background-image: url('../TV/title/gameofthrones.svg');
}

.human-solid{
    background-color: #445359;
}
.human-gradient{
    background: linear-gradient(#00000000,#445359);
}
.human-poster{
    background-image: url('../TV/background/human.webp');
}
.human-title{
    background-image: url('../TV/title/human.png');
}

.sweet-solid{
    background-color: #4b4832;
}
.sweet-gradient{
    background: linear-gradient(#00000000,#4b4832);
}
.sweet-poster{
    background-image: url('../TV/background/sweet.jpg');
}
.sweet-title{
    background-image: url('../TV/title/sweet.png');
}

.startup-solid{
    background-color: #141719;
}
.startup-gradient{
    background: linear-gradient(#00000000,#141719);
}
.startup-poster{
    background-image: url('../TV/background/startup.webp');
}
.startup-title{
    background-image: url('../TV/title/startup.png');
}

.lego-solid{
    background-color: #EEC60A;
}
.lego-gradient{
    background: linear-gradient(#00000000,#EEC60A);
}
.lego-poster{
    background-image: url('../TV/background/lego.webp');
}
.lego-title{
    background-image: url('../TV/title/lego.png');
}

.last-solid{
    background-color: #a8adb3;
}
.last-gradient{
    background: linear-gradient(#00000000,#a8adb3);
}
.last-poster{
    background-image: url('../TV/background/last.webp');
}
.last-title{
    background-image: url('../TV/title/last.svg');
}

.loki-solid{
    background-color: #a87643;
}
.loki-gradient{
    background: linear-gradient(#00000000,#a87643);
}
.loki-poster{
    background-image: url('../TV/background/loki.webp');
}
.loki-title{
    background-image: url('../TV/title/loki.png');
}

.lupin-solid{
    background-color: #716f73;
}
.lupin-gradient{
    background: linear-gradient(#00000000,#716f73);
}
.lupin-poster{
    background-image: url('../TV/background/lupin.webp');
}
.lupin-title{
    background-image: url('../TV/title/lupin.png');
}

.manifest-solid{
    background-color: #504A6A;
}
.manifest-gradient{
    background: linear-gradient(#00000000,#504A6A);
}
.manifest-poster{
    background-image: url('../TV/background/manifest.webp');
}
.manifest-title{
    background-image: url('../TV/title/manifest.png');
}

.blind-solid{
    background-color: #36352e;
}
.blind-gradient{
    background: linear-gradient(#00000000,#36352e);
}
.blind-poster{
    background-image: url('../TV/background/blind.jpg');
}
.blind-title{
    background-image: url('../TV/title/blind.png');
}

.curb-solid{
    background-color: #746e6e;
}
.curb-gradient{
    background: linear-gradient(#00000000,#746e6e);
}
.curb-poster{
    background-image: url('../TV/background/curb.jpg');
}
.curb-title{
    background-image: url('../TV/title/curb.png');
}

.fresh-solid{
    background-color: #72429A;
}
.fresh-gradient{
    background: linear-gradient(#00000000,#72429A);
}
.fresh-poster{
    background-image: url('../TV/background/fresh.jpg');
}
.fresh-title{
    background-image: url('../TV/title/fresh.png');
}

.earth-solid{
    background-color: #484b51;
}
.earth-gradient{
    background: linear-gradient(#00000000,#484b51);
}
.earth-poster{
    background-image: url('../TV/background/earth.jpg');
}
.earth-title{
    background-image: url('../TV/title/earth.png');
}

.ghost-solid{
    background-color: #313C82;
}
.ghost-gradient{
    background: linear-gradient(#00000000,#313C82);
}
.ghost-poster{
    background-image: url('../TV/background/ghost.webp');
}
.ghost-title{
    background-image: url('../TV/title/ghost.png');
}

.john-solid{
    background-color: #6c4e44;
}
.john-gradient{
    background: linear-gradient(#00000000,#6c4e44);
}
.john-poster{
    background-image: url('../TV/background/john.jpg');
}
.john-title{
    background-image: url('../TV/title/john.png');
}

.knives-solid{
    background-color: #3d250f;
}
.knives-gradient{
    background: linear-gradient(#00000000,#3d250f);
}
.knives-poster{
    background-image: url('../TV/background/knives.jpg');
}
.knives-title{
    background-image: url('../TV/title/knives.png');
}

.newgirl-solid{
    background-color: #a59c4f;
}
.newgirl-gradient{
    background: linear-gradient(#00000000,#a59c4f);
}
.newgirl-poster{
    background-image: url('../TV/background/newgirl.jpg');
}
.newgirl-title{
    background-image: url('../TV/title/newgirl.png');
}

.himym-solid{
    background-color: #92846f;
}
.himym-gradient{
    background: linear-gradient(#00000000,#92846f);
}
.himym-poster{
    background-image: url('../TV/background/himym.jpg');
}
.himym-title{
    background-image: url('../TV/title/himym.png');
}

.ldr-solid{
    background-color: #200f17;
}
.ldr-gradient{
    background: linear-gradient(#00000000,#200f17);
}
.ldr-poster{
    background-image: url('../TV/background/ldr.webp');
}
.ldr-title{
    background-image: url('../TV/title/ldr.png');
}

.rick-solid{
    background-color: #2D1D54;
}
.rick-gradient{
    background: linear-gradient(#00000000,#2D1D54);
}
.rick-poster{
    background-image: url('../TV/background/rick.webp');
}
.rick-title{
    background-image: url('../TV/title/rick.svg');
}

.dave-solid{
    background-color: #889898;
}
.dave-gradient{
    background: linear-gradient(#00000000,#889898);
}
.dave-poster{
    background-image: url('../TV/background/dave.webp');
}
.dave-title{
    background-image: url('../TV/title/dave.png');
}

.southpark-solid{
    background-color: #b8c2c0;
}
.southpark-gradient{
    background: linear-gradient(#00000000,#b8c2c0);
}
.southpark-poster{
    background-image: url('../TV/background/southpark.jpg');
}
.southpark-title{
    background-image: url('../TV/title/southpark.png');
}

.blackpink-solid{
    background-color: #a6a8ab;
}
.blackpink-gradient{
    background: linear-gradient(#00000000,#a6a8ab);
}
.blackpink-poster{
    background-image: url('../TV/background/blackpink.webp');
}
.blackpink-title{
    background-image: url('../TV/title/blackpink.png');
}

.lost-solid{
    background-color: #6a5828;
}
.lost-gradient{
    background: linear-gradient(#00000000,#6a5828);
}
.lost-poster{
    background-image: url('../TV/background/lost.webp');
}
.lost-title{
    background-image: url('../TV/title/lost.png');
}

.munich-solid{
    background-color: #33302a;
}
.munich-gradient{
    background: linear-gradient(#00000000,#33302a);
}
.munich-poster{
    background-image: url('../TV/background/munich.jpg');
}
.munich-title{
    background-image: url('../TV/title/munich.png');
}

.silence-solid{
    background-color: #848186;
}
.silence-gradient{
    background: linear-gradient(#00000000,#848186);
}
.silence-poster{
    background-image: url('../TV/background/silence.jpg');
}
.silence-title{
    background-image: url('../TV/title/silence.png');
}

.butch-solid{
    background-color: #ac8541;
}
.butch-gradient{
    background: linear-gradient(#00000000,#ac8541);
}
.butch-poster{
    background-image: url('../TV/background/butch.jpg');
}
.butch-title{
    background-image: url('../TV/title/butch.png');
}

.family-solid{
    background-color: #0B6F38;
}
.family-gradient{
    background: linear-gradient(#00000000,#0B6F38);
}
.family-poster{
    background-image: url('../TV/background/family.webp');
}
.family-title{
    background-image: url('../TV/title/family.svg');
}

.shadows-solid{
    background-color: #050514;
}
.shadows-gradient{
    background: linear-gradient(#00000000,#050514);
}
.shadows-poster{
    background-image: url('../TV/background/shadows.webp');
}
.shadows-title{
    background-image: url('../TV/title/shadows.png');
}

.ted-solid{
    background-color: #35465e;
}
.ted-gradient{
    background: linear-gradient(#00000000,#35465e);
}
.ted-poster{
    background-image: url('../TV/background/ted.webp');
}
.ted-title{
    background-image: url('../TV/title/ted.png');
}

.drugs-solid{
    background-color: #050373;
}
.drugs-gradient{
    background: linear-gradient(#00000000,#050373);
}
.drugs-poster{
    background-image: url('../TV/background/drugs.jpg');
}
.drugs-title{
    background-image: url('../TV/title/drugs.png');
}

.jojo-solid{
    background-color: #2C2850;
}
.jojo-gradient{
    background: linear-gradient(#00000000,#2C2850);
}
.jojo-poster{
    background-image: url('../TV/background/jojo.webp');
}
.jojo-title{
    background-image: url('../TV/title/jojo.png');
}

.whatif-solid{
    background-color: #0F0F38;
}
.whatif-gradient{
    background: linear-gradient(#00000000,#0F0F38);
}
.whatif-poster{
    background-image: url('../TV/background/whatif.webp');
}
.whatif-title{
    background-image: url('../TV/title/whatif.png');
}

.jeff-solid{
    background-color: #5AAFC7;
}
.jeff-gradient{
    background: linear-gradient(#00000000,#5AAFC7);
}
.jeff-poster{
    background-image: url('../TV/background/jeff.webp');
}
.jeff-title{
    background-image: url('../TV/title/jeff.png');
}

.made-solid{
    background-color: #747431;
}
.made-gradient{
    background: linear-gradient(#00000000,#747431);
}
.made-poster{
    background-image: url('../TV/background/made.webp');
}
.made-title{
    background-image: url('../TV/title/made.png');
}

.free-solid{
    background-color: #599DAA;
}
.free-gradient{
    background: linear-gradient(#00000000,#599DAA);
}
.free-poster{
    background-image: url('../TV/background/free.webp');
}
.free-title{
    background-image: url('../TV/title/free.png');
}

.futurama-solid{
    background-color: #E25924;
}
.futurama-gradient{
    background: linear-gradient(#00000000,#E25924);
}
.futurama-poster{
    background-image: url('../TV/background/futurama.jpg');
}
.futurama-title{
    background-image: url('../TV/title/futurama.png');
}

.brooklyn-solid{
    background-color: #8b6a4b;
}
.brooklyn-gradient{
    background: linear-gradient(#00000000,#8b6a4b);
}
.brooklyn-poster{
    background-image: url('../TV/background/brooklyn.webp');
}
.brooklyn-title{
    background-image: url('../TV/title/brooklyn.png');
}

.edu-solid{
    background-color: #6d6256;
}
.edu-gradient{
    background: linear-gradient(#00000000,#6d6256);
}
.edu-poster{
    background-image: url('../TV/background/edu.webp');
}
.edu-title{
    background-image: url('../TV/title/edu.png');
}

.yourname-solid{
    background-color: #768a8e;
}
.yourname-gradient{
    background: linear-gradient(#00000000,#768a8e);
}
.yourname-poster{
    background-image: url('../TV/background/yourname.webp');
}
.yourname-title{
    background-image: url('../TV/title/yourname.png');
}

