/* books */
.homodeus-solid{
    background-color: #190e10;
}
.homodeus-gradient{
    background: linear-gradient(#00000000,#190e10);
}
.homodeus-cover{
    background-image: url('../books/homo\ deus.jpg');
}

.ride-solid{
    background-color: #615c5c;
}
.ride-gradient{
    background: linear-gradient(#00000000,#615c5c);
}
.ride-cover{
    background-image: url('../books/ride\ of\ a\ lifetime.jpg');
}

/* podcasts */

.acquired-solid{
    background-color: #0b1312;
}
.acquired-cover{
    background-image: url('../podcasts/acquired.jpeg');
}

.economist-solid{
    background-color: #751612;
}
.economist-cover{
    background-image: url('../podcasts/economist.jpeg');
}

.inet-solid{
    background-color: #93969e;
}
.inet-cover{
    background-image: url('../podcasts/inet.jpeg');
}

.lex-solid{
    background-color: #2e2c2a;
}
.lex-cover{
    background-image: url('../podcasts/lex.jpeg');
}

.pivot-solid{
    background-color: #958988;
}
.pivot-cover{
    background-image: url('../podcasts/pivot.jpeg');
}

.samharris-solid{
    background-color: #3e3d3c;
}
.samharris-cover{
    background-image: url('../podcasts/samharris.jpeg');
}

.sway-solid{
    background-color: #945877;
}
.sway-cover{
    background-image: url('../podcasts/sway.jpeg');
}

.yang-solid{
    background-color: #143b65;
}
.yang-cover{
    background-image: url('../podcasts/yang.jpeg');
}






.fargo-solid{
    background-color: #28374E;
}
.fargo-gradient{
    background: linear-gradient(#00000000,#28374E);
}
.fargo-poster{
    background-image: url('../TV/background/fargo.jpeg');
}
.fargo-title{
    background-image: url('../TV/title/fargo.png');
}

.atlanta-solid{
    background-color: #584029;
}
.atlanta-gradient{
    background: linear-gradient(#00000000,#584029);
}
.atlanta-poster{
    background-image: url('../TV/background/atlanta.webp');
}
.atlanta-title{
    background-image: url('../TV/title/atlanta.png');
}

.snowfall-solid{
    background-color: #1A114D;
}
.snowfall-gradient{
    background: linear-gradient(#00000000,#1A114D);
}
.snowfall-poster{
    background-image: url('../TV/background/snowfall.jpeg');
}
.snowfall-title{
    background-image: url('../TV/title/snowfall.png');
}

.mythic-solid{
    background-color: #2F322F;
}
.mythic-gradient{
    background: linear-gradient(#00000000,#2F322F);
}
.mythic-poster{
    background-image: url('../TV/background/mythic\ quest.webp');
}
.mythic-title{
    background-image: url('../TV/title/mythic\ quest.png');
}

.spy-solid{
    background-color: #7f6b57;
}
.spy-gradient{
    background: linear-gradient(#00000000,#7f6b57);
}
.spy-poster{
    background-image: url('../TV/background/spy.jpg');
}
.spy-title{
    background-image: url('../TV/title/spy.png');
}

.always-solid{
    background-color: #5c666a;
}
.always-gradient{
    background: linear-gradient(#00000000,#5c666a);
}
.always-poster{
    background-image: url('../TV/background/always\ sunny.jpg');
}
.always-title{
    background-image: url('../TV/title/always\ sunny.png');
}

.twinpeaks-solid{
    background-color: #300;
}
.twinpeaks-gradient{
    background: linear-gradient(#00000000,#330000);
}
.twinpeaks-poster{
    background-image: url('../TV/background/twinpeaks.jpg');
}
.twinpeaks-title{
    background-image: url('../TV/title/twin\ peaks.png');
}

.kim-solid{
    background-color: #776550;
}
.kim-gradient{
    background: linear-gradient(#00000000,#776550);
}
.kim-poster{
    background-image: url('../TV/background/kims\ convenience.webp');
}
.kim-title{
    background-image: url('../TV/title/kim.svg');
}

.legion-solid{
    background-color: #191128;
}
.legion-gradient{
    background: linear-gradient(#00000000,#191128);
}
.legion-poster{
    background-image: url('../TV/background/legion.webp');
}
.legion-title{
    background-image: url('../TV/title/legion.png');
}

.chernobyl-solid{
    background-color: #86a097;
}
.chernobyl-gradient{
    background: linear-gradient(#00000000,#86a097);
}
.chernobyl-poster{
    background-image: url('../TV/background/chernobyl.jpg');
}
.chernobyl-title{
    background-image: url('../TV/title/chernobyl.svg');
}

.mindhunter-solid{
    background-color: #838383;
}
.mindhunter-gradient{
    background: linear-gradient(#00000000,#838383);
}
.mindhunter-poster{
    background-image: url('../TV/background/mindhunter.webp');
}
.mindhunter-title{
    background-image: url('../TV/title/mindhunter.svg');
}

.mankind-solid{
    background-color: #3e587a;
}
.mankind-gradient{
    background: linear-gradient(#00000000,#3e587a);
}
.mankind-poster{
    background-image: url('../TV/background/mankind.webp');
}
.mankind-title{
    background-image: url('../TV/title/mankind.png');
}

.drive-solid{
    background-color: #4d5372;
}
.drive-gradient{
    background: linear-gradient(#00000000,#4d5372);
}
.drive-poster{
    background-image: url('../TV/background/drive.webp');
}
.drive-title{
    background-image: url('../TV/title/drive.png');
}

.schulz-solid{
    background-color: #3e3533;
}
.schulz-gradient{
    background: linear-gradient(#00000000,#3e3533);
}
.schulz-poster{
    background-image: url('../TV/background/schulz.webp');
}
.schulz-title{
    background-image: url('../TV/title/schulz.png');
}


.grandTour-solid{
    background-color: #bdb6b3;
}
.grandTour-gradient{
    background: linear-gradient(#00000000,#bdb6b3);
}
.grandTour-poster{
    background-image: url('../TV/background/grandTour.webp');
}
.grandTour-title{
    background-image: url('../TV/title/grandTour.svg');
}

.lineofduty-solid{
    background-color: #262841;
}
.lineofduty-gradient{
    background: linear-gradient(#00000000,#262841);
}
.lineofduty-poster{
    background-image: url('../TV/background/line.webp');
}
.lineofduty-title{
    background-image: url('../TV/title/line.png');
}

.gameofthrones-solid{
    background-color: #4e3e46;
}
.gameofthrones-gradient{
    background: linear-gradient(#00000000,#4e3e46);
}
.gameofthrones-poster{
    background-image: url('../TV/background/gameofthrones.jpg');
}
.gameofthrones-title{
    background-image: url('../TV/title/gameofthrones.svg');
}

.human-solid{
    background-color: #445359;
}
.human-gradient{
    background: linear-gradient(#00000000,#445359);
}
.human-poster{
    background-image: url('../TV/background/human.webp');
}
.human-title{
    background-image: url('../TV/title/human.png');
}

.sweet-solid{
    background-color: #4b4832;
}
.sweet-gradient{
    background: linear-gradient(#00000000,#4b4832);
}
.sweet-poster{
    background-image: url('../TV/background/sweet.jpg');
}
.sweet-title{
    background-image: url('../TV/title/sweet.png');
}



@media screen and (prefers-color-scheme: light) {

}



@media(max-width: 450px){    
    /* .always-poster{
        background-image: url('../TV/poster/always.webp');
    } */
    /* .kim-poster{
        background-image: url('../TV/poster/kim.webp');
    } */

}
