#widgetbar .section-title{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    justify-content: flex-start;
    padding: 0 20px;

    margin-bottom: 8px;
}
#widgetbar .tray{
    flex-direction: column;
    width: 100%;
}
#widgetbar .close{
    height: 100px;
    width: 100%;
}


#widgetbar .tray .homecard{
    width: calc(100% - 40px);
    max-width: initial;
    border-radius: 5px;
}

#widgetbar .tray .homecard.basic {
    padding: 12px;
}

#widgetbar .tray .homecard.basic .data{
    top: 12px;
    right: 12px;
}