
.today-widget-container{
    width: calc((100% - 30px) / 1);
    /* height: 200px; */
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 0;

    margin-top: 30px;
    margin-right: 30px;

    border-radius: 15px;

    /* padding: 15px 18px; */

    background-color: var(--dark-layer-1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;
    cursor: default;

    /* box-shadow: var(--shaded-light); */
    transition: scale 0.15s;

    color: var(--light-layer-0);
    fill: var(--light-layer-0);
}
.today-widget-container:active{
    scale: 0.95;
}
.today-widget{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: var(--black-20);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 15px 18px;
}

.today-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.today-greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 14px;
    font-weight: 500;

    padding-bottom: 0px;
}
#today-weekday{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 40px;
    font-weight: 400;
}
#today-date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 24px;
    font-weight: 400;
}
#today-hilo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 12px;
    font-weight: 400;

    padding-top: 8px;
}
.today-weather{
    display: flex;
    position: absolute;
    /* flex-direction: column; */
    top: 15px;
    right: 18px;
    height: calc(100% - 30px);
}
#today-icon{
    /* display: flex; */
    position: absolute;
    top: 0px;
    right: 0px;

    /* justify-self: flex-end;
    align-self: flex-end;
    flex-direction: column; */
    height: 24px;
    width: 24px;
    fill: white;
}
#today-temp{
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: var(--white-100); */
    font-size: 24px;
    font-weight: 300;

    /* padding-top: 8px; */
}




.widget-container{
    width: calc((100% - 60px) / 2);
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 0;

    margin-top: 30px;
    margin-right: 30px;

    border-radius: 20px;

    padding: 12px 15px;

    background-color: var(--dark-layer-1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;

    box-shadow: var(--shaded-light);
    transition: scale 0.15s;

    color: var(--light-layer-0);
    fill: var(--light-layer-0);
}
.widget-container:active{
    scale: 0.95;
}

.widget-text-box{
    display: flex;
    position: relative;
    box-sizing: border-box;

    height: 30px;
    width: 100%;
    
    /* padding-left: 30px; */
    /* padding-bottom: 0px; */

    overflow: hidden;
    /* box-sizing: border-box; */

    /* z-index: 50; */

    align-content: flex-end;
    font-weight: 500;
    font-size: 22px;
}
.widget-text{
    display: flex;
    align-self: flex-end;
    cursor: default;
}
.widget-text:active{
    opacity: 0.5;
}




#weather-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#weather-location{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 12px;
    font-weight: 600;
}
#weather-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 40px;
    font-weight: 300;
}
#weather-icon{
    display: flex;
    position: absolute;
    top: 14px;
    right: 14px;

    justify-self: flex-end;
    align-self: flex-end;
    flex-direction: column;
    height: 18px;
    width: 18px;
    fill: white;
}
.cloudy{
    background-image: url(../images/weather/cloudy.jpg);
}
.sunny{
    background-image: url(../images/weather/sunny.jpg);
}
.night{
    background-image: url(../images/weather/night.jpg);
}



#cal-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#cal-weekday{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;

    color: var(--red-100);
}
#cal-date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
}

.cyberport{
    background-image: url(../images/cyberport.jpg);
}

.pokfulam{
    background-image: url(../images/pokfulam.jpg);
}
.westkowloon{
    background-image: url(../images/west-kowloon.jpg);
}
.tuenmun{
    background-image: url(../images/tuenmun.jpg);
}
.causeway{
    background-image: url(../images/causeway-bay.jpg);
}

#locale-pic{
    display: block;
    position: relative;
    top: 95px;
    width: calc(100vw - 50px);
    height: calc((100vw - 50px));

    max-width: 400px;
    max-height: 400px;
    left: 50%;


    /* transform: translateX(-50%); */
    /* transform-origin: center left; */

    z-index: 100;

    background-position: center center;
    /* background-image: url(../images/end.jpg); */
    background-size: cover;
    border-radius: 10px;
    /* overflow: hidden; */

    box-shadow: 0px 10px 50px -20px var(--black-80);

    transition: all 0.5s cubic-bezier(.47,1.64,.41,.8);
}



#back-image{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all 0.25s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
    background-position: center center;
    background-size: 125% 125%;
    background-repeat: no-repeat;

    filter: saturate(2) brightness(0.5);
    rotate: 180deg;

}

#back-block{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 3;
    transition: all 0.75s;
    transition-timing-function: ease-in-out;
    pointer-events: none;

    background-color: black;
}

.back-block-hide{
    opacity: 0;
}


#back-blur{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 2;
    /* background-color: #ffffff33; */
    /* -webkit-transition: all 0.25s; */
    transition: all 0.15s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
    -webkit-backdrop-filter: blur(200px);

}

#locale-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    z-index: 10;
    width: 100vw;
    height: calc(100vw - 50px + 95px);
    max-height: 495px;

    box-sizing: border-box;
    /* padding-top: 95px; */
    padding: 95px 25px 0px;

    /* background-color: khaki; */
}

#locale-image{
    display: flex;
    position: relative;
    /* top: 95px; */
    /* left: 25px; */
    width: 100%;
    height: 100%;

    /* max-width: 400px; */
    /* max-height: 400px; */
    /* left: 50%; */


    /* transform: translateX(-50%); */
    /* transform-origin: center left; */

    /* z-index: 10; */

    background-position: center center;
    /* background-image: url(../images/end.jpg); */
    background-size: cover;
    border-radius: 10px;
    /* overflow: hidden; */

    box-shadow: 0px 10px 50px -20px var(--black-80);

    /* transition: all 0.25s; */
    /* transition: all 0.5s cubic-bezier(.47,1.64,.41,.8); */
}
#locale-image:active{
    transition: all 0.15s;
    scale: 0.9;
}
.locale-paused{
    /* transition: all 0.25s; */
    scale: 0.75;
    box-shadow: 0px 10px 50px -20px var(--black-40);
}
.locale-play{
    /* transition: all 0.25s; */
    /* scale: 1; */
}
.locale-preload{
    scale: 0.9;
    opacity: 0;
    /* visibility: hidden; */
}
.locale-load{
    /* scale: 1; */
    opacity: 1;
    transition: scale 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;;
    /* transition: opacity 1s; */
    /* transition: scale 1s; */
    transition-delay: 0.5s;
}

#locale-block{
    position: absolute;
    vertical-align: center;
    align-self: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
    transition: all 1s;
    transition-delay: 0.25s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
    border-radius: inherit;

}
.locale-block-show{
    /* background-color: var(--black-100); */
    /* -webkit-backdrop-filter: blur(15px); */
    /* opacity: 0; */
}

#locale-text{
    position: relative;
    display: flex;
    vertical-align: center;
    justify-content: flex-start;
    padding: 15px 30px;
    /* position: fixed; */
    /* background-color: khaki; */

    font-size: 24px;
    font-weight: 600;
    z-index: 10;

    color: var(--white-100);

    transition: all 0.25s ease-out 1s;
}
.locale-text-preload{
    /* scale: 0.9; */
    opacity: 0;
}
.locale-text-load{
    /* scale: 1; */
    opacity: 1;
    /* transition: scale 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;; */
    /* transition: opacity 1s; */
    /* transition: scale 1s; */
    /* transition-delay: 0.5s; */
}



.bus-blur{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 100;
    /* background-color: #ffffff33; */
    /* -webkit-transition: all 0.25s; */
    transition: all 0.25s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}
.bus-blur-show{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: var(--black-40);
}
.bus-blur-hide{
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: none;
}

/* .bus-blur{
    position: fixed;
    height: calc(100vh - 50px);
    width: 100vw;
    bottom: 0px;
    z-index: 100;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    pointer-events: none;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-repeat: no-repeat;
    background-image: url(../images/bus.jpg);
    background-position-y: bottom;
    background-size: cover;
    transform-origin: bottom;

}
.bus-blur-show{
    scale: 1;
    opacity: 1;
}
.bus-blur-hide{
    opacity: 0;
    scale: 0.95;
} */



.bus-popup-open{
    scale: 1;
    opacity: 1;
}
.bus-popup-closed{
    pointer-events: none;
    /* transform: translateX(-50%); */
    /* opacity: 0; */
    /* scale: 0.9; */
}
.bus-popup-closed .bus-popup-modal{
    transform: translateY(100%);
}

.bus-popup-modal{
    display: block;
    position: relative;
    align-self: flex-end;

    width: calc(100vw - 0px);
    max-width: 800px;
    /* height: 100vh; */
    /* max-height: 90vh; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* border-radius: 25px; */
    padding: 25px 0px 35px;
    /* margin-bottom: 40px; */
    z-index: 5;
    justify-self: center;
    background-color: var(--dark-layer-1);
    /* -webkit-backdrop-filter: blur(25px); */
    color: var(--light-layer-0);
    box-shadow: var(--shaded-dark);
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

}

.bus-widget-container{
    width: calc((100% - 30px) / 1);
    /* height: max-content; */
    position: relative;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 0;

    margin-top: 30px;
    margin-right: 30px;

    border-radius: 20px;

    padding: 0px 0px 5px;

    background-color: var(--dark-layer-1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;

    box-shadow: var(--shaded-light);
    transition: scale 0.15s;

    color: var(--light-layer-0);
    fill: var(--light-layer-0);
}
.bus-icon-container{
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    /* height: fit-content; */

    /* height: 10px;
    width: 10px; */
    
}
.bus-icon{
    display: block;
    height: 8px;
    width: 8px;
}
.bus-icon-hide{
    opacity: 0;
}
.bus-icon-KMB{
    fill: #ff453a;
}
.bus-icon-NWFB{
    fill: #30d158;
}
.bus-icon-CTB{
    fill: #5e5ce6;
}










.bus-info-card{
    display: flex;
    /* flex-basis: 100%; */
    /* flex-wrap: wrap; */
    position: relative;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: row; */

    /* height: 40px; */
    width: 100%;
    padding: 10px 0px;
    /* background-color: blue; */
    /* color: var(--light-layer-0); */

    /* border-top: 1px blue;
    border-bottom-width: 1px; */
    /* border-top-color: blue; */

    /* border-top: 1px solid var(--white-10); */
}
#bus-number-tray{

    font-size: 14px;
    font-weight: 400;

    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
}
.bus-number{
    padding: 4px 6px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-right: 6px;

    display: inline-block;
    position: relative;
}
/* .bus-number{
    padding: 5px 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 13px;
    margin-right: 6px;

    display: inline-block;
    position: relative;
} */
.bus-number:active{
    opacity: 0.75;
}
.bus-current.kmb-route{
    background: #ff453a;
}
.bus-current.nwfb-route{
    background: #30d158;
}
.bus-current.citybus-route{
    background: #5e5ce6;
}
.bus-current{
    color: var(--white-100);
}
.kmb-route{
    background: #ff453a33;
    border-color: #ff453a;
    /* background: #E41F31;
    border-color: #E41F31; */
}
.nwfb-route{
    background: #30d15833;
    border-color: #30d158;
    /* background: #0DAF55;
    border-color: #0DAF55; */
}
.citybus-route{
    background: #5e5ce633;
    border-color: #5e5ce6;
    /* background: #0060A9;
    border-color: #0060A9; */
}




/* .bus-card{
    padding: 0px 0px;
} */
.bus-card-line{
    display: block;
    height: 1px;
    width: 100%;
    background: var(--white-10);
}
.bus-dest{
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
    font-size: 14px;
    font-weight: 500;
    /* color: var(--white-80); */

    /* padding-left: 15px; */
    /* white-space: nowrap; */
}
.bus-dir{
    background-color: var(--light-layer-0);
    color: var(--dark-layer-1);
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.bus-stop{
    margin-top: 5px;
    /* display: block; */
    /* margin-left: 10px; */
    font-size: 12px;
    font-weight: 400;
    color: var(--white-60);
    /* padding-left: 15px; */
    /* white-space: nowrap; */
}
.bus-eta{
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    right: 0;
}

#flight-no{
    display: flex;
    position: relative;

    font-size: 18px;
    font-weight: 500;

    margin-bottom: 10px;
}

.flight-route-container{
    display: flex;
    position: relative;
    align-items: center;


    font-weight: 700;
    font-size: 30px;
}

.flight-icon{
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;

    fill: white;
}
.flight-time-container{
    display: flex;
    position: relative;
    align-items: center;


    font-weight: 400;
    font-size: 20px;
}












.side-modal{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 200;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    transition: all 0.3s;
    /* transition-delay: 0.1s; */
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
  
    transform-origin: bottom center;
    /* transition: opacity 0.25s; */
  }

.side-popup-modal{
    display: flex;
    position: relative;
    box-sizing: border-box;

    width: 300px;
    height: calc(100vh - 80px);
    border-radius: 35px;
    padding: 25px 0px 35px;
    margin-right: 40px;
    /* margin-bottom: 40px; */
    z-index: 5;
    justify-self: center;
    background-color: var(--light-layer-1-20);
    -webkit-backdrop-filter: blur(25px);
    /* box-shadow: var(--shaded-dark); */

    color: var(--light-layer-0);
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

}


.side-popup-open{
    scale: 1;
    opacity: 1;
}
.side-popup-open .side-popup-modal{
    box-shadow: var(--shaded-dark);
}
.side-popup-closed{
    pointer-events: none;
    box-shadow: none;
    /* transform: translateX(-50%); */
    /* opacity: 0; */
    /* scale: 0.9; */
}
.side-popup-closed .side-popup-modal{
    transform: translateX(calc(100% + 40px));
}







@media screen and (prefers-color-scheme: light) {
    .widget-container{
        background-color: var(--light-layer-0);
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }
    .bus-widget-container{
        background-color: var(--light-layer-0);
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }

    .bus-popup-modal{
        background-color: var(--light-layer-0);
        color: var(--dark-layer-1);
    }



    .bus-number{
        /* color: var(--dark-layer-1); */
    }
    .bus-card-line{
        background: var(--black-10);
    }
    .bus-stop{
        color: var(--black-60);
    }
    .bus-dir{
        background-color: var(--dark-layer-1);
        color: var(--light-layer-0);
    }
}




@media(max-width: 450px){
    .widget-container{
        width: calc((100% - 40px) / 2);
        margin-right: 20px;
        margin-top: 20px;
    }
    .today-widget-container{
        width: calc((100% - 40px) / 1);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .bus-widget-container{
        width: calc((100% - 20px) / 1);
        margin-right: 20px;
        margin-top: 20px;
    }
}

