#widgetbar .section-title{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    justify-content: flex-start;
    padding: 0 15px;

    margin-bottom: 8px;
}
#widgetbar .tray{
    flex-direction: column;
    width: 100%;
}
#widgetbar .close{
    height: 100px;
    width: 100%;
}