
.today-widget-container{
    width: calc((100% - 30px) / 1);
    /* height: 200px; */
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 0;

    margin-top: 30px;
    margin-right: 30px;

    border-radius: 20px;

    /* padding: 15px 18px; */

    background-color: var(--dark-layer-1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;
    cursor: default;

    box-shadow: var(--shaded-light);
    transition: scale 0.15s;

    color: var(--light-layer-0);
    fill: var(--light-layer-0);
}
.today-widget-container:active{
    scale: 0.95;
}
.today-widget{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: var(--black-20);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 15px 18px;
}

.today-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.today-greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 14px;
    font-weight: 500;

    padding-bottom: 0px;
}
#today-weekday{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 40px;
    font-weight: 400;
}
#today-date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 24px;
    font-weight: 400;
}
#today-hilo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 12px;
    font-weight: 400;

    padding-top: 8px;
}
.today-weather{
    display: flex;
    position: absolute;
    /* flex-direction: column; */
    top: 15px;
    right: 18px;
    height: calc(100% - 30px);
}
#today-icon{
    /* display: flex; */
    position: absolute;
    top: 0px;
    right: 0px;

    /* justify-self: flex-end;
    align-self: flex-end;
    flex-direction: column; */
    height: 24px;
    width: 24px;
    fill: white;
}
#today-temp{
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: var(--white-100); */
    font-size: 24px;
    font-weight: 300;

    /* padding-top: 8px; */
}




.widget-container{
    width: calc((100% - 60px) / 2);
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 0;

    margin-top: 30px;
    margin-right: 30px;

    border-radius: 20px;

    padding: 12px 15px;

    background-color: var(--dark-layer-1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;

    box-shadow: var(--shaded-light);
    transition: scale 0.15s;

    color: var(--light-layer-0);
    fill: var(--light-layer-0);
}
.widget-container:active{
    scale: 0.95;
}
#weather-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#weather-location{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 12px;
    font-weight: 600;
}
#weather-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-100);
    font-size: 40px;
    font-weight: 300;
}
#weather-icon{
    display: flex;
    position: absolute;
    top: 14px;
    right: 14px;

    justify-self: flex-end;
    align-self: flex-end;
    flex-direction: column;
    height: 18px;
    width: 18px;
    fill: white;
}
.cloudy{
    background-image: url(../images/weather/cloudy.jpg);
}
.sunny{
    background-image: url(../images/weather/sunny.jpg);
}
.night{
    background-image: url(../images/weather/night.jpg);
}



#cal-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#cal-weekday{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;

    color: var(--red-100);
}
#cal-date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
}

.bus-widget-container{
    width: calc((100% - 30px) / 1);
    position: relative;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 0;

    margin-top: 30px;
    margin-right: 30px;

    border-radius: 20px;

    padding: 5px 20px;

    background-color: var(--dark-layer-1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;

    box-shadow: var(--shaded-light);
    transition: scale 0.15s;

    color: var(--light-layer-0);
    fill: var(--light-layer-0);
}
.bus-info-card{
    display: flex;
    /* flex-basis: 100%; */
    /* flex-wrap: wrap; */
    position: relative;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: row; */

    /* height: 40px; */
    width: 100%;
    padding: 10px 0px;
    /* background-color: blue; */
    /* color: var(--light-layer-0); */

    /* border-top: 1px blue;
    border-bottom-width: 1px; */
    /* border-top-color: blue; */

    /* border-top: 1px solid var(--white-10); */
}
.bus-number-card{
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    /* height: 40px; */
    /* width: 90px; */
    font-size: 13px;
    font-weight: 500;
    /* background: blue; */
    padding: 10px 0px 10px;

}
.bus-number{
    padding: 5.5px 7.5px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 200px;
    margin-right: 8px;
    color: var(--white-100);
    /* background-clip: content-box; */
    /* width: 90px; */
    /* font-size: 24px; */
    /* font-weight: 500; */
}
.bus-number:active{
    opacity: 0.75;
}
.bus-current{
    background: none !important;
}
.bus-card-line{
    display: block;
    height: 1px;
    width: 100%;
    background: var(--white-10);
}
.bus-dest{
    /* display: block; */
    /* margin-left: 10px; */
    font-size: 14px;
    font-weight: 500;
    /* color: var(--white-80); */

    /* padding-left: 15px; */
    /* white-space: nowrap; */
}

.bus-stop{
    margin-top: 5px;
    /* display: block; */
    /* margin-left: 10px; */
    font-size: 12px;
    font-weight: 400;
    color: var(--white-80);
    /* padding-left: 15px; */
    /* white-space: nowrap; */
}
.bus-eta{
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.kmb-route{
    background: #E41F31;
    border-color: #E41F31;
}
.nwfb-route{
    background: #0DAF55;
    border-color: #0DAF55;
}
.citybus-route{
    background: #0060A9;
    border-color: #0060A9;
}





@media screen and (prefers-color-scheme: light) {
    .widget-container{
        background-color: var(--light-layer-0);
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }
    .bus-widget-container{
        background-color: var(--light-layer-0);
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }

    .bus-current{
        color: var(--dark-layer-1);
    }
    .bus-card-line{
        background: var(--black-10);
    }
    .bus-stop{
        color: var(--black-80);
    }
    
}




@media(max-width: 450px){
    .widget-container{
        width: calc((100% - 40px) / 2);
        margin-right: 20px;
        margin-top: 20px;
    }
    .today-widget-container{
        width: calc((100% - 20px) / 1);
        margin-right: 20px;
        margin-top: 20px;
    }
    .bus-widget-container{
        width: calc((100% - 20px) / 1);
        margin-right: 20px;
        margin-top: 20px;
    }
}

