.widget-card#tasks {
    cursor: default;
}
.widget-card#tasks .item {
    width: 100%;
    justify-content: flex-start;
    padding: 2px 0;
}
.widget-card#tasks .item .check {
    height: 6px;
    width: 6px;
    border-radius: 100px;
    opacity: 0.5;
}
.widget-card#tasks .item p {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
}