#layer-modal .widget-card.routine {
    height: auto;
    width: auto;
    min-width: 300px;
}

.widget-card.routine {
    grid-column: span 2;
    grid-row: span 2;

    padding: 15px 18px;
}

.widget-card.routine .title {
    font-size: 24px;
    font-weight: 600;
}

.widget-card.routine .task {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.widget-card.routine .task a {
    height: 22px;
    width: 22px;
    border-radius: 5px;
    margin-right: 8px;
    border: solid 1px var(--white-10);
}

.widget-card.routine .task.done a {
    border: solid 1px var(--white-20);
    background-color: var(--blue-dark);
}

@media screen and (prefers-color-scheme: light) {
    .widget-card.routine .task a {
        border: solid 1px var(--dark-layer-1-10);
    }

    .widget-card.routine .task.done a {
        border: solid 1px var(--dark-layer-1-20);
        background-color: var(--blue-light);
    }
}

.widget-card.routine .task .icon {
    height: 100%;
    width: 100%;
    padding: 5px;

    transition: all 0.2s;
    transform: scale(0.9);
    opacity: 0;
    fill: white;
}

.widget-card.routine .task.done .icon {
    transform: scale(1);
    opacity: 1;
}