.widget-card.media {
    padding: 15px;
    color: white;
}

.widget-card.media .bg {
    background-image: var(--thumb);
    background-size: 120% 120%;
    background-position: center center;
    border-radius: inherit;
    /* opacity: 0.8; */
}

.widget-card.media .blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    -webkit-backdrop-filter: blur(60px);
}

.widget-card.media.movie .service {
    align-self: flex-end;
    height: 10px;
    width: 50px;
    margin-bottom: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: var(--service);
    opacity: 0.8;
}





.widget-card.media.book .thumb {
    background-image: var(--thumb);
    height: 100px;
    aspect-ratio: 2 / 3;
    border-radius: 5px;
    box-shadow: 0px 2px 8px -3px var(--black-50);
}

.widget-card.media.movie .thumb {
    background-image: var(--thumb);
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    box-shadow: 0px 2px 8px -3px var(--black-50);
}

.widget-card.media .textbox {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.widget-card.media .textbox p {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-card.media .textbox .name {
    font-size: 14px;
    font-weight: 500;
}

.widget-card.media .textbox .desc {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 2px;
    text-transform: capitalize;
}