.bookshelf-container {
    --side-pad-bookshelf: max(calc((100vw - 1200px) / 2), 40px);
    flex-direction: column;
    width: 100%;
}

.bookshelf {
    width: 100%;
    padding: 20px var(--side-pad-bookshelf);
    justify-content: flex-start;

    --n: 6;
    --gap: 30px;

    display: grid;
    grid-template-columns: repeat(var(--n), calc((100% - ((var(--n) - 1) * var(--gap))) / var(--n)));
    grid-auto-rows: auto;
    gap: var(--gap);
}

.bookshelf-container .title {
    width: 100%;
    padding: 8px var(--side-pad-bookshelf) 0;
    justify-content: flex-start;

    font-size: 20px;
    font-weight: 600;
    cursor: default;
}