.layer-0-blur{
    background-color: var(--dark-layer-1-60);
    -webkit-backdrop-filter: blur(25px);
}
.layer-1-blur{
    background-color: var(--dark-layer-1-50);
    -webkit-backdrop-filter: blur(25px);
}
.layer-2-blur{
    background-color: var(--white-10);
    -webkit-backdrop-filter: blur(50px);
}


a{
    color: #fff;
    fill: #fff;
}
a.layer-fg{
    color: var(--dark-layer-1);
    fill: var(--dark-layer-1);
}
@media screen and (prefers-color-scheme: light) {
    .layer-0-blur{
        background-color: var(--white-60);
    }
    .layer-1-blur{
        background-color: var(--white-50);
    }
    .layer-2-blur{
        background-color: var(--dark-layer-1-10);
    }


    a{
        color: var(--dark-layer-1);
        fill: var(--dark-layer-1);
    }
    a.layer-fg{
        color: var(--light-layer-0);
        fill: var(--light-layer-0);
    }
}


@media(max-width: 450px){
    body{
        background-color: #000;
    }
    .layer-0{
        background-color: var(--dark-layer-0);
    }
    .layer-1{
        background-color: var(--dark-layer-1);
    }

    @media screen and (prefers-color-scheme: light) {
        body{
            background-color: var(--light-layer-1);
        }
        .layer-0{
            background-color: var(--light-layer-1);
        }
        .layer-1{
            background-color: var(--light-layer-0);
        }
    }
}