.vline{
    flex-shrink: 0;
    width: 1px;
    height: 100%;
    border-radius: 5px;

    background-color: var(--white-10);
}
.hline{
    flex-shrink: 0;
    height: 1px;
    width: 100%;
    border-radius: 5px;

    background-color: var(--white-10);
}

.hline.list{
    width: calc(100% - var(--left));
    margin-left: var(--left);
}
.spacer-x{
    height: var(--size);
    width: var(--size);
    flex-shrink: 0;
}
.spacer-content{
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}
.spacer-content.neg{
    margin: -20px 0px;
}

.grow{
    flex-grow: 1;
}
.fill-parent{
    height: 100%;
    width: 100%;
}
.fill-width{
    width: 100%;
}
.fill-height{
    height: 100%;
}

.clickable:active{
    filter: brightness(0.75);
}
.clickable-b:active{
    filter: brightness(0.75);
}
.clickable-text:active{
    opacity: 0.6;
}
.clickable-o:active{
    opacity: 0.6;
}

.image-border{
    border-style: solid;
    border-width: 1px;
    border-color: #333;
}
.image-border.thin{
    border-width: 0.1px;
}


.page-width{
    width: calc(100% - 50px);
    /* margin-left: 200px; */
    /* margin-right: 280px; */
}

/* .clickable{
    transition-property: scale, filter;
    transition-duration: 0.35s, 0.4s;
    transition-delay: 0s, 0.15s;
    transition-timing-function: all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    outline: none;
}
.clickable:active{
    transition-property: scale, filter;
    transition-duration: 0.35s, 0.05s;
    transition-delay: 0.5s, 0s;
    scale: 0.9;

    filter: brightness(0.75);
} */


.content-container{
    flex-direction: column;

    width: calc(100% - 30px);
    padding: 12px 0px;
    border-radius: 10px;

    /* background-color: var(--dark-layer-2); */
}

/* .content-title{
    font-size: 16px;
    font-weight: 600;
    cursor: default;

    align-self: flex-start;
    padding-left: 15px;
} */

#search{
    flex-direction: row;
    justify-content: flex-start;

    padding: 10px 12px;

    font-weight: 400;
    font-size: 14px;

    text-decoration: none;
    border-radius: 10px;
}

#search .icon{
    width: 13px;
    height: 13px;
}

.card-shadow{
    box-shadow: 0 8px 24px 0px var(--black-10);
}


.hover-shadow{
    box-shadow: 0px 4px 12px rgba(0,0,0,.08);
    transition: all 0.2s;
}
@media(min-width: 1100px){
    .hover-shadow:hover{
        box-shadow: 0px 4px 16px rgba(0,0,0,.16);
        transform: scale(1.02);
        transition: all 0.4s;
        overflow: hidden;
    }
}

.floating{
    -webkit-backdrop-filter: blur(15px) saturate(2) brightness(0.5);
    backdrop-filter: blur(15px) saturate(2) brightness(0.5);
    background-color: var(--white-20);
}

@media screen and (prefers-color-scheme: light) {
    .hline, .vline{
        background-color: var(--black-10);
    }
    .image-border{
        border-color: #ccc;
    }
}

@media(max-width: 450px){
    .spacer-content{
        height: 15px;
        width: 15px;
        flex-shrink: 0;
    }
    .spacer-content.neg{
        margin: -15px 0;
    }
    .page-width{
        width: calc(100% - 30px);
        margin: 0;
    }
}




.thumb{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}




.brand-bg {
    background-color: var(--brand-col-dark);
}

.brand-fg {
    color: var(--brand-col-dark);
    fill: var(--brand-col-dark);
}

@media screen and (prefers-color-scheme: light) {
    .brand-bg {
        background-color: var(--brand-col-light);
    }

    .brand-fg {
        color: var(--brand-col-light);
        fill: var(--brand-col-light);
    }
}

.accent-bg {
    background-color: var(--accent-dark);
}

@media screen and (prefers-color-scheme: light) {
    .accent-bg {
        background-color: var(--accent-light);
    }
}