#workout-card {
    flex-direction: column;
    border-radius: 10px;
    padding: 12px 15px;
    width: 345px;
}

#workout-card .header {
    width: 100%;
    margin-bottom: 10px;
}

#workout-card .header p {
    font-size: 24px;
    font-weight: 600;
}

#workout-card .header a {
    font-size: 10px;
    padding: 5px;
    cursor: default;
}

#workout-card .item {
    flex-direction: column;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
}

#workout-card .item .title {
    width: 100%;
    margin-bottom: 5px;
}

#workout-card .item .title p{
    font-size: 20px;
    font-weight: 500;
}
#workout-card .item .title .icon{
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 100px;

    background-color: var(--white-20);
}

#workout-card .item .tray {
    width: 100%;
    justify-content: flex-start;
}

#workout-card .item .tray a {
    height: 30px;
    width: 30px;
    border-radius: 100px;

    font-size: 16px;
    font-weight: 500;

    cursor: default;
    transition: scale 0.2s;
    /* transform-origin: bottom center; */
}

#workout-card .item .tray a.done {
    filter: brightness(0.5);
    scale: 0.9;

}