:root {
    --topbar-h: calc(50px + env(safe-area-inset-top))
}

#main {
    position: fixed;
    top: var(--topbar-h);
    left: 0;

    height: calc(100vh - var(--topbar-h));
    width: 100vw;

    display: grid;
    grid-template-columns: 300px 1fr;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--topbar-h);
    z-index: 1;
    padding: env(safe-area-inset-top) 10px 0;
}

#content-elem {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}