#leftbar .splash-card.pinned-apps .body {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 10px 15px;
}


/* app card */
.app-card-pinned {
    flex-direction: column;
    width: 70px;
}

.app-card-pinned .icon, .app-card-pinned .thumb {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.app-card-pinned .icon {
    fill: white;
    background-color: var(--brand-col-dark);
    padding: 10%;
}

@media screen and (prefers-color-scheme: light) {
    .app-card-pinned .icon {
        background-color: var(--brand-col-light);
    }
}

.app-card-pinned p {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.75;
    margin-top: 10px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}