.budget {
    height: 100%;
}

.budget .week {
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100px;
}

.budget .week .sub-title {
    width: 100%;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}

.budget .week .amount {
    width: 100%;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
}

.budget .week .chart {
    flex-grow: 1;
    width: 100%;
    padding-top: 10px;

    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 15px;
}

.budget .week .chart .column {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.budget .week .chart .bar {
    flex-grow: 1;
    min-height: 80px;
    width: 100%;
    border-radius: 5px;
    align-items: flex-end;
    background-color: var(--white-10);
    overflow: hidden;
}


.budget .week .chart .bar .fill {
    width: 100%;
    border-radius: inherit;
    opacity: 0.75;
}

@media screen and (prefers-color-scheme: light) {
    .budget .week .chart .bar {
        background-color: var(--black-10);
    }
}

.budget .week .chart p {
    font-size: 11px;
    font-weight: 500;
    opacity: 0.5;
    margin-top: 5px;
    text-transform: uppercase;
}

/* rank */
.budget-rank-item {
    width: 100%;
    flex-direction: column;
    cursor: default;
}

.budget-rank-item .icon, .budget-rank-item .thumb {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    padding: 5px;
    fill: white;
    margin-right: 10px;
}

.budget-rank-item .textbox {
    flex-grow: 1;
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 10px;
    font-weight: 400;
}

.budget-rank-item .textbox .name {
    font-size: 10px;
    font-weight: 400;
}

.budget-rank-item .textbox .desc {
    font-size: 14px;
    font-weight: 500;
}


.budget-rank-item .bar {
    height: 10px;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    background-color: var(--white-10);
}


/* .budget .week .chart .bar {
    flex-grow: 1;
    min-height: 80px;
    width: 100%;
    border-radius: 2px;
    align-items: flex-end;
    background-color: var(--white-10); */
/* } */


.budget-rank-item .bar .fill {
    height: 100%;
    border-radius: inherit;
    opacity: 0.75;
}



@media screen and (prefers-color-scheme: light) {
    .budget-rank-item .bar {
        background-color: var(--black-10);
    }
}