#spotlight {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 6px;
}

#spotlight .icon {
    height: 24px;
    width: 24px;
    opacity: 0.5;
}

#spotlight input {
    height: 100%;
    min-width: 0;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    margin: 0 5px;
}



/* engine */

#tab-to-search p {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.4;
}

#tab-to-search a {
    border: solid 1px var(--white-20);
    border-radius: 4px;
    padding: 2px;
    margin: 0 4px;
    font-size: 12px;
    font-weight: 400;

}


#leftbar .engine {
    width: 100%;
    margin-bottom: 10px;
    justify-content: flex-start;
}

#leftbar .engine .thumb {
    height: 30px;
    width: 30px;
    border-radius: 8px;
    margin-right: 8px;
    box-shadow: 0px 2px 8px -3px var(--black-50);
}

#leftbar .engine p {
    font-size: 14px;
    font-weight: 500;
}