.menu-item{
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: default;
    margin-top: 5px;
}
.menu-item .icon{
    height: 14px;
    width: 14px;
    /* padding: 6px; */
    /* border-radius: 8px; */
}
.menu-item p{
    font-size: 11px;
    font-weight: 500;
}
.menu-item:hover, .menu-item.selected{
    background-color: rgba(255, 255, 255, 0.05);
}


#leftbar .time{
    justify-content: flex-start;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
    padding-left: 10px;

    margin-bottom: 2px;
}
#leftbar .date{
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
    padding-left: 10px;
    text-transform: capitalize;

    margin-bottom: 10px;
}

@media screen and (prefers-color-scheme: light) {
    .menu-item:hover, .menu-item.selected{
        background-color: rgba(0, 0, 0, 0.05);
    }
}


@media(max-width: 450px){
    .menu-item{
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 100%;
        flex-grow: 1;
        padding: 0px;
        margin: 0px;
        opacity: 0.4;
    }
    .menu-item .icon{
        height: 20px;
        width: 20px;
        border-radius: 8px;
    }
    .menu-item p{
        font-size: 10px;
        font-weight: 400;
        margin-top: 8px;
    }
    .menu-item:hover, .menu-item.selected{
        background-color: transparent;
    }

    .menu-item.selected{
        opacity: 1;
        fill: var(--blue-dark);
        color: var(--blue-dark);
    }

}