.widget-card{
    width: 100%;
    padding: 15px;
    flex-direction: column;
}

.widget-card .title{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-start;

    margin-bottom: 8px;
}

.widget-card .info{
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    justify-content: flex-start;
    opacity: 0.8;

    margin-top: 5px;
}