.info-card {
    flex-direction: column;
    /* border: solid 1px var(--white-10); */
    border-radius: 8px;
    overflow: hidden;
    cursor: default;
}

.info-card .textbox {
    width: 100%;
    flex-direction: column;
    padding: 15px 12px;
}

.info-card .textbox p {
    display: block;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-card .textbox p.name {
    font-size: 18px;
    font-weight: 500;
}

.info-card .textbox p.desc {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;

}


.info-card.movie {
    width: 280px;
}

.info-card.movie .thumb {
    height: 160px;
    width: 100%;

    padding: 5px 8px;
    align-items: flex-end;
    justify-content: flex-start;
}

.info-card.movie .grad {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(#00000000 70%, #00000099);
}

.info-card.movie .tv-title {
    margin-bottom: 5px;

    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

.info-card.movie .tv-title.widest {
    height: 100px;
    width: 80%;
}
.info-card.movie .tv-title.wide {
    height: 100px;
    width: 80%;
}

.info-card.movie .tv-title.mid {
    height: 60px;
    width: 60%;
}

.info-card.movie .tv-title.tall {
    height: 50px;
    width: 50%;
}
.info-card.movie .tv-title.tallest {
    height: 50px;
    width: 50%;
}




.info-card.movie-big {
    width: 300px;
    height: 100%;
    color: white;
}

.info-card.movie-big .thumb {
    /* height: 400px; */
    aspect-ratio: var(--ratio);
    width: 100%;
}

.info-card.movie-big .thumb .grad {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 100px;
    width: 100%;

    filter: brightness(0.5) saturate(2);
    /* background-image: linear-gradient(#000,var(--col2)); */

    /* opacity: 0; */
}

.info-card.movie-big .bg {
    filter: brightness(0.5) saturate(2);
}

.info-card.movie-big .thumb-cont {
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: -100px;
}

.info-card.movie-big .tv-title {
    align-self: flex-start;
    margin-bottom: 5px;

    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

.info-card.movie-big .tv-title.widest {
    height: 100px;
    width: 100%;
}

.info-card.movie-big .tv-title.wide {
    height: 100px;
    width: 90%;
}

.info-card.movie-big .tv-title.mid {
    height: 100px;
    width: 80%;
}

.info-card.movie-big .tv-title.tall {
    height: 70px;
    width: 60%;
}
.info-card.movie-big .tv-title.tallest {
    height: 70px;
    width: 50%;
}



.info-card .play-tray {
    /* width: 100%; */
    color: white;
    fill: white;
    cursor: pointer;

    /* transition: all 0.2s; */
    /* height: 30px; */

    background-color: var(--white-20);
    align-self: flex-start;
    padding: 8px 10px;
    border-radius: 10px;
    margin-top: 10px;


    background-color: red;
}

.info-card .play-tray .icon {
    height: 12px;
    width: 12px;
    border-radius: 100px;
    margin-right: 5px;
}

.info-card .play-tray p {
    font-size: 13px;
    font-weight: 500;
    width: auto;
}







.info-card.book {
    width: 200px;
}

.info-card.book .thumb {
    height: 300px;
    width: 100%;
}

.info-card.pod {
    width: 200px;
}

.info-card.pod .thumb {
    height: 200px;
    width: 100%;
}


.info-card .media-data {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 400;

    color: white;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    background-color: var(--white-20);
    box-shadow: 0 0 5px 0px var(--black-20);

    /* box-shadow: 0 0px 2px 0px var(--black-50); */
}

/* .info-card.book .progress{
    align-self: flex-end;
    justify-content: flex-start;
    width: calc(100% - 15px);
    height: 5px;
    border-radius: 100px;
    margin-bottom: 7.5px;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    background-color: var(--white-20);
    box-shadow: 0 0 5px 0px var(--black-20);
}

.info-card.book .progress div {
    height: 100%;
    width: 100%;
    border-radius: inherit;

    background-color: white;
} */

.actor-card{
    flex-direction: column;
}
.actor-card .image{
    height: 120px;
    width: 120px;
    border-radius: 100px;

    font-family: ui-rounded;
    font-size: 40px;

    background-size: cover;
    background-position: center top;

    box-shadow: 0 8px 24px 0px var(--black-10);
}

.actor-card .textbox { 
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
}
.actor-card .textbox p{
    display: block;
    max-width: 100%;
    padding: 0px 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;

    font-size: 12px;
    font-weight: 400;
}
.actor-card .textbox .name{
    opacity: 0.8;
    font-weight: 500;
    margin-bottom: 2px;
}
.actor-card .textbox .desc{
    opacity: 0.6;
}



/* new */
.media-card{
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

/* general movie */
.media-card.movie .grad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.media-card.movie .tv-title-box{
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}
.media-card.movie .tv-title {
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

/* small movie */
.media-card.movie.small .thumb {
    height: 170px;
    width: 300px;
}

.media-card.movie.small .grad {
    height: 100%;
    background-image: linear-gradient(#00000000 70%, #00000099);
}


.media-card.movie.small .tv-title-box{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 8px;
}

.media-card.movie.small .tv-title.widest {
    height: 100px;
    width: 80%;
}
.media-card.movie.small .tv-title.wide {
    height: 100px;
    width: 80%;
}

.media-card.movie.small .tv-title.mid {
    height: 60px;
    width: 60%;
}

.media-card.movie.small .tv-title.tall {
    height: 50px;
    width: 50%;
}
.media-card.movie.small .tv-title.tallest {
    height: 50px;
    width: 50%;
}

/* big movie */
.media-card.movie.big {
    width: 280px;
    height: 100%;
    color: white;
}
.media-card.movie.big .bg {
    filter: brightness(0.5) saturate(2);
    background-color: var(--brand-col, inherit);
}
.media-card.movie.big .thumb-cont{
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: -100px;
}
.media-card.movie.big .thumb {
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.media-card.movie.big .thumb .grad {
    height: 100px;
    filter: brightness(0.5) saturate(2);
    background-image: linear-gradient(#00000000,var(--brand-col));
}

.media-card.movie.big .tv-title-box{
    padding: 10px;
}

.media-card.movie.big .tv-title.widest {
    height: 100px;
    width: 100%;
}

.media-card.movie.big .tv-title.wide {
    height: 100px;
    width: 90%;
}

.media-card.movie.big .tv-title.mid {
    height: 100px;
    width: 80%;
}

.media-card.movie.big .tv-title.tall {
    height: 70px;
    width: 60%;
}
.media-card.movie.big .tv-title.tallest {
    height: 70px;
    width: 50%;
}
.media-card.movie.big .textbox {
    width: 100%;
    padding: 0 10px 8px;
}

.media-card.movie.big .textbox p {
    display: block;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.media-card.movie.big .more{
    padding: 12px 10px;
    width: 100%;

    font-size: 10px;
    font-weight: 500;
    background-color: var(--white-10);
    color: white;
    fill: white;
}

.media-card.movie.big .more .icon {
    height: 10px;
    width: 10px;
}

/* detail */
.media-detail .detail{
    height: 100%;
    width: 250px;
    margin-left: 15px;
    margin-right: 20px;
    flex-direction: column;
    cursor: default;
}

.media-detail .detail p{
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    -webkit-box-orient: vertical;
}

.media-detail .detail p.genre{
    -webkit-line-clamp: 1;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}
.media-detail .detail p.title{
    -webkit-line-clamp: 1;
    font-size: 16px;
    font-weight: 500;
}

.media-detail .detail p.desc{
    -webkit-line-clamp: 4;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.4;
}

/* bookpod */
.media-card.pod .thumb{
    height: 240px;
    width: 240px;
}
.media-card.book .thumb{
    height: 300px;
    width: 200px;
}


.media-card.book .progress{
    align-self: flex-end;
    justify-content: flex-start;
    width: calc(100% - 15px);
    height: 5px;
    border-radius: 100px;
    margin-bottom: 7.5px;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    background-color: var(--white-20);
    box-shadow: 0 0 5px 0px var(--black-20);
}
.media-card .media-data {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 500;

    color: white;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    background-color: var(--white-20);
    box-shadow: 0 0 5px 0px var(--black-20);
    cursor: default;

    /* box-shadow: 00px 2px 0px var(--black-50); */
    z-index: 1;
}
.media-card.book .progress div {
    height: 100%;
    width: 100%;
    border-radius: inherit;

    background-color: white;
}





/* 



.tv-mid-info .summary {
    -webkit-line-clamp: 3;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.4;
    }
.tv-mid-info p {
    }
 */




/* bookpodbig */
.book-pod-big{
    padding: 20px;
    padding-top: 10px;
    width: 100%;
}

/* .book-pod-big .bg{
    border-radius: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 120%;
    transform: scaleX(-1);
    transform: scaleY(-1);
    filter: brightness(0.5) saturate(2);
}

.book-pod-big .blur{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;

    -webkit-backdrop-filter: blur(60px);
} */
.book-pod-big .thumb {
    height: 240px;
    width: 240px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 0 8px 24px -10px var(--black-40);
}

.book-pod-big .textbox {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;


}

.book-pod-big .textbox .name {
    font-size: 24px;
    font-weight: 600;
}
.book-pod-big .textbox .desc {
    font-size: 24px;
    font-weight: 300;
}