.routine {
    width: 100%;
    flex-direction: column;
}

.routine .hline {
    margin-left: 40px;
    margin-right: 10px;
    width: calc(100% - 50px);
}

.routine .switch {
    width: calc(100% - 20px);
    padding: 2px;
    border-radius: 7px;
    margin: 5px 0 2px;
}

.routine .switch a {
    height: 20px;
    flex-grow: 1;
    border-radius: 5px;
    font-size: 10px;
    text-transform: capitalize;
    cursor: default;
}



.routine .task {
    width: 100%;
    padding: 6px 10px;
    margin: 2px 0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.routine .task a {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin-right: 10px;
    padding: 3px;
    border: solid 1.5px var(--white-10);
}

.routine .task a div {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.routine .task.done a {
    border: solid 1.5px var(--accent-dark);
}

.routine .task.done a div {
    background-color: var(--accent-dark);
}

@media screen and (prefers-color-scheme: light) {
    .routine .task a {
        border: solid 1.5px var(--dark-layer-1-10);
    }

    .routine .task.done a {
        border: solid 1.5px var(--accent-light, var(--blue-light));
    }

    .routine .task.done a div {
        background-color: var(--accent-light, var(--blue-light));
    }
}

/* .routine .task .icon {
    height: 100%;
    width: 100%;
    padding: 20%;

    transition: all 0.2s;
    transform: scale(0.9);
    opacity: 0;
    fill: white;
}

.routine .task.done .icon {
    transform: scale(1);
    opacity: 1;
} */