.splash-card#routine .switch {
    align-self: flex-start;
    padding: 3px;
    border-radius: 100px;
    /* width: 100%; */
    /* background-color: blue; */


}

.splash-card#routine .switch a {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    padding: 2%;
}
.splash-card#routine .switch a.active {
    background-color: var(--accent-dark);
    fill: white;
}

.splash-card#routine .switch a .icon {
    width: 100%;
    height: 100%;

}


/*  */
/*  */

.splash-card#routine .task {
    width: 100%;
    padding: 6px 0px;
    margin: 2px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* 
.splash-card#routine .hline {
    margin-left: 40px;
    margin-right: 10px;
    width: calc(100% - 50px);
} */




.splash-card#routine .task a {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin-right: 10px;
    padding: 3px;
    border: solid 2px var(--white-10);
}

.splash-card#routine .task a div {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.splash-card#routine .task.done a {
    border: solid 2px var(--accent-dark);
}

.splash-card#routine .task.done a div {
    background-color: var(--accent-dark);
}

@media screen and (prefers-color-scheme: light) {
    .splash-card#routine .task a {
        border: solid 2px var(--dark-layer-1-10);
    }

    .splash-card#routine .task.done a {
        border: solid 2px var(--accent-light, var(--blue-light));
    }

    .splash-card#routine .task.done a div {
        background-color: var(--accent-light, var(--blue-light));
    }
}