#dock {
    width: 100vw;
    flex-direction: column;
    padding-top: -40px;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

#dock .detect {
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#dock .tab {
    position: absolute;
    top: 0;

    height: 5px;
    width: 20px;
    border-radius: 100px;
    -webkit-backdrop-filter: blur(25px) brightness(0.5) saturate(2);
    top: 95px;
}

#dock .content-tray {
    width: auto;
    max-width: calc(100% - 100px);

    margin-bottom: 20px;
    border-radius: 12px;

    box-shadow: 0px 0px 10px -2px var(--black-40);

    transform-origin: bottom center;
}

#dock.hide .content-tray {
    transition: all 0.2s;
    translate: 0 calc(20px);
    scale: 0.98;
    opacity: 0;
}

#dock.show .content-tray {
    transition: all 0.15s;
    translate: 0;
    scale: 1;
    opacity: 1;
}

#dock .content-tray .scroll {
    padding: 12px 15px;
    padding: 12px 7px;
}

/* app card */
.app-card-dock {
    flex-direction: column;
    width: 70px;
}

.app-card-dock .icon, .app-card-dock .thumb {
    height: 50px;
    width: 50px;
    border-radius: 100px;

    box-shadow: 0 5px 10px -5px var(--brand-col-dark);
    transition: all 0.2s;
}

.app-card-dock .icon {
    fill: white;
    background-color: var(--brand-col-dark);
    padding: 10%;
}

.app-card-dock:hover .thumb, .app-card-dock:hover .icon {
    box-shadow: 0 5px 10px -3px var(--brand-col-dark);
    translate: 0 -2px;
}

@media screen and (prefers-color-scheme: light) {
    .app-card-dock .icon {
        background-color: var(--brand-col-light);
    }

    .app-card-dock .icon, .app-card-dock .thumb {
        box-shadow: 0 5px 10px -3px var(--brand-col-light);
    }

    .app-card-dock:hover .thumb, .app-card-dock:hover .icon {
        box-shadow: 0 5px 10px -1px var(--brand-col-light);
    }
}

.app-card-dock p {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.75;
    margin-top: 10px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}