/* news */

.nomercy-bg{
    background-image: url('../media-image/news/nomercy.jpg');
}
.sidekick-bg{
    background-color: #3539A9;
}
.sidekick-fg{
    background-image: url('../media-image/news/sidekick.png');
}
.brew-fg{
    background-image: url('../media-image/news/brew.png');
}
.citylab-fg{
    background-image: url('../media-image/news/citylab.svg');
}
.techbrew-fg{
    background-image: url('../media-image/news/techbrew.png');
}
.scmp-bg{
    background-image: url('../media-image/news/scmp.png');
    background-size: 120%;
}

/* youtube */

.wendover-bg{
    background-image: url('../media-image/youtube/wendover.jpg');
    background-size: 200%;
}
.realeng-bg{
    background-image: url('../media-image/youtube/realeng.png');
    background-size: 160%;
}