.vstack {
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    align-content: flex-start;
    height: 100%;
}

.hstack {
    display: grid;

    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    grid-auto-flow: column;

    justify-content: flex-start;
    width: 100%;
}