.widget-card.app-tray {
    display: grid;
    padding: 20px;
    gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.widget-card-app .tray .app-card-mini .thumb {
    height: 100%;
    width: 100%;
}