.widget-card-app-tray {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-column: span 2;
    grid-row: span 2;
}

.widget-card-app .tray .app-card-mini .thumb {
    height: 100%;
    width: 100%;
}